Repository badges/shields, pull requests merged in 2018-11, with the labels that each got.

#2243 Enforce property shorthand
  .eslintrc.yml
  frontend/components/examples-page.js
  lib/badge-cli.js
  lib/github-auth.js
  lib/request-handler.js
  services/aur/aur.service.js
  services/gem/gem-downloads.service.js
  services/gem/gem-rank.service.js
  services/hexpm/hexpm.service.js
  services/imagelayers/imagelayers.service.js
  services/jenkins/jenkins-plugin-installs.service.js
  services/librariesio/librariesio-dependencies.service.js
  services/requires/requires.service.js
  services/steam/steam-base.js
  services/steam/steam-workshop.service.js
  services/swagger/swagger.service.js
  services/wercker/wercker.service.js
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
Labels: developer-experience

#2222 Migrate babel 6.x to babel 7.1
  package-lock.json
  package.json
Labels: frontend

#2229 Add BaseSvgScrapingService and rewrite [ReadTheDocs]; also affects [codacy vso]
  lib/svg-badge-parser.js
  lib/svg-badge-parser.spec.js
  services/base-svg-scraping.js
  services/base-svg-scraping.spec.js
  services/readthedocs/readthedocs.service.js
  services/readthedocs/readthedocs.tester.js
Labels: core, service-badge

#2246 Improve static example validation
  services/base.js
Labels: developer-experience

#2247 Move more badge examples into services/ [conda website cocoapods]
  lib/all-badge-examples.js
  services/cocoapods/cocoapods-apps.service.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-metrics.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cocoapods/cocoapods-version.service.js
  services/conda/conda-downloads.service.js
  services/conda/conda-platform.service.js
  services/conda/conda-version.service.js
  services/website/website.service.js
Labels: service-badge

#2241 Enforce using async-await [f-droid]
  .eslintrc.yml
  dangerfile.js
  lib/result-sender.js
  lib/suggest.js
  services/chrome-web-store/chrome-web-store.service.js
  services/f-droid/f-droid.service.js
  services/php-eye/php-eye-php-version.service.js
  services/travis/travis-php-version.service.js
Labels: service-badge

#2260 Upgrade to camp 17.2.2
  package-lock.json
  package.json
Labels: dependencies

#2069 Metrics with Prometheus
  README.md
  doc/self-hosting.md
  lib/server-config.js
  lib/sys/prometheus-metrics.js
  lib/sys/prometheus-metrics.spec.js
  package-lock.json
  package.json
  server.js
Labels: operations

#2264 Now deploy fix - package-lock.json added to "files'"
  now.json
Labels: self-hosting

#2265 Remove some uses of to-be-deprecated url.format and url.parse APIs
  lib/analytics.js
  lib/service-test-runner/infer-pull-request.js
  lib/suggest.js
Labels: dependencies

#2252 Rewrite vso, rename to [AzureDevops], validate SVG [readthedocs]
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-build.tester.js
  services/azure-devops/azure-devops-helpers.js
  services/azure-devops/azure-devops-release.service.js
  services/azure-devops/azure-devops-release.tester.js
  services/base-svg-scraping.js
  services/base-svg-scraping.spec.js
  services/create-service-tester.js
  services/readthedocs/readthedocs.service.js
  services/service-tester.js
  services/vso/vso.service.js
  services/vso/vso.tester.js
Labels: core, service-badge

#2240 Remove some duplicated URL generation code
  frontend/lib/badge-url.js
  frontend/lib/badge-url.spec.js
  lib/make-badge-url.js
  lib/make-badge-url.spec.js
  services/base.js
  services/base.spec.js
Labels: core, frontend

#2274 Add vso keyword to azure badges
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-release.service.js
Labels: service-badge

#2283 round [wordpress] rating
  services/wordpress/wordpress-rating.service.js
Labels: bug, service-badge

#2292 Make a few [github] tests more reliable
  services/github/github.tester.js
Labels: service-badge

#2279 Reduce duplication in badge regex/url patterns; affects [ansible apm gem wercker]
  doc/TUTORIAL.md
  package-lock.json
  package.json
  services/ansible/ansible.service.js
  services/apm/apm.service.js
  services/base.js
  services/base.spec.js
  services/gem/gem-version.service.js
Labels: core

#2293 Convert a bunch of URL formats to patterns [pypi steam swagger uptimerobot wordpress]
  services/pypi/pypi-base.js
  services/pypi/pypi-downloads.service.js
  services/steam/steam-workshop.service.js
  services/swagger/swagger.service.js
  services/time/time.service.js
  services/uptimerobot/uptimerobot-ratio.service.js
  services/uptimerobot/uptimerobot-status.service.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version.service.js
Labels: service-badge

#2277 Fix suggest on staging in Firefox
  Procfile
  frontend/components/suggestion-and-search.js
  lib/suggest.js
  package.json
Labels: bug, frontend

#2285 Website: Add link to status page, tweak usage
  frontend/components/footer.js
  frontend/components/usage.js
  static/main.css
Labels: frontend

#2021 Rework GitHub acceptor and move to its own module
  lib/github-auth.js
  package-lock.json
  package.json
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
  services/github/github-constellation.js
Labels: core

#2263 refactor [docker] service
  services/docker/docker-automated.service.js
  services/docker/docker-automated.tester.js
  services/docker/docker-build.service.js
  services/docker/docker-build.tester.js
  services/docker/docker-helpers.js
  services/docker/docker-pulls.service.js
  services/docker/docker-pulls.tester.js
  services/docker/docker-stars.service.js
  services/docker/docker-stars.tester.js
  services/docker/docker.service.js
  services/docker/docker.tester.js
Labels: service-badge

#2232 Refactor [Jetbrains] service; affects [eclipse-marketplace]
  lib/all-badge-examples.js
  package-lock.json
  services/base-xml.js
  services/base-xml.spec.js
  services/hackage/1.json
  services/jetbrains/jetbrains-base.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-version.service.js
  services/jetbrains/jetbrains.service.js
  services/jetbrains/jetbrains.tester.js
Labels: service-badge

#2298 Remove extra file checked in by mistake
  services/hackage/1.json
Labels: service-badge

#2305 [Clojars] Add downloads badge
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-downloads.tester.js
Labels: service-badge

#2300 Move NPM package files out of /lib ; affects [resharper nuget myget dub chocolatey github]
  .circleci/config.yml
  .gitignore
  Makefile
  README.md
  gh-badges/.npmignore
  gh-badges/CHANGELOG.md
  gh-badges/LICENSE
  gh-badges/README.md
  gh-badges/lib/badge-cli.js
  gh-badges/lib/badge-cli.spec.js
  gh-badges/lib/colorscheme.json
  gh-badges/lib/defaults.js
  gh-badges/lib/index.js
  gh-badges/lib/lru-cache.js
  gh-badges/lib/lru-cache.spec.js
  gh-badges/lib/make-badge-test-helpers.js
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/lib/svg-to-img.js
  gh-badges/lib/svg-to-img.spec.js
  gh-badges/lib/text-measurer.js
  gh-badges/lib/text-measurer.spec.js
  gh-badges/package.json
  gh-badges/templates/_shields_test-template.json
  gh-badges/templates/default-template.json
  gh-badges/templates/flat-square-template.svg
  gh-badges/templates/flat-template.svg
  gh-badges/templates/for-the-badge-template.svg
  gh-badges/templates/plastic-template.svg
  gh-badges/templates/popout-square-template.svg
  gh-badges/templates/popout-template.svg
  gh-badges/templates/social-template.svg
  lib/badge-data.js
  lib/refactoring-cli.js
  lib/request-handler.js
  lib/request-handler.spec.js
  lib/result-sender.js
  lib/server-config.js
  now.json
  package-lock.json
  package.json
  server.js
  server.spec.js
  services/base-svg-scraping.spec.js
  services/chocolatey/chocolatey.tester.js
  services/dub/dub.tester.js
  services/github/github.tester.js
  services/myget/myget.tester.js
  services/nuget/nuget.tester.js
  services/resharper/resharper.tester.js
  services/test-helpers.js
Labels: core, npm-package

#2309 Move github examples into services/github
  lib/all-badge-examples.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-commits-since.service.js
  services/github/github-contributors.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-languages.service.js
  services/github/github-last-commit.service.js
  services/github/github-license.service.js
  services/github/github-manifest-version.service.js
  services/github/github-release-date.service.js
  services/github/github-release.service.js
  services/github/github-repo-size.service.js
  services/github/github-search.service.js
  services/github/github-size.service.js
  services/github/github-stars.service.js
  services/github/github-tag.service.js
  services/github/github-watchers.service.js
Labels: blocker, service-badge

#2327 [AzureDevOpsCoverage] Adds Coverage Badge for Azure DevOps
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-coverage.tester.js
  services/azure-devops/azure-devops-helpers.js
  services/test-validators.js
Labels: service-badge

#2284 Move [StaticBadge] to own service & add test; also affects [gitter]
  gh-badges/lib/make-badge.js
  lib/request-handler.js
  server.js
  services/base-static.js
  services/base.js
  services/gitter/gitter.service.js
  services/static-badge/static-badge.service.js
  services/static-badge/static-badge.tester.js
Labels: blocker, core, service-badge

#2332 Allow handle() to return a numeric message
  services/base.js
  services/base.spec.js
Labels: blocker, bug, core

#2328 Coverage cleanup
  .circleci/config.yml
  .nycrc.json
  README.md
  package.json
  scripts/benchmark-performance.sh
  scripts/export-badge-examples-cli.js
  scripts/export-supported-features-cli.js
  scripts/refactoring-cli.js
Labels: developer-experience

#2307 BaseService Only accept valid extension sep, and simplify regex; test on [azuredevops]
  services/base.js
  services/base.spec.js
Labels: bug, core

#2308 Declare static examples using namedParams
  doc/TUTORIAL.md
  services/base.js
  services/base.spec.js
  services/gem/gem-version.service.js
  services/validate-example.js
  services/validate-example.spec.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version.service.js
Labels: blocker, core, service-badge

#2275 Rewrite [codacy] badges; rm unused svg helpers
  lib/nodeify-sync.js
  lib/nodeify-sync.spec.js
  lib/svg-badge-parser.js
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-coverage.tester.js
  services/codacy/codacy-grade.service.js
  services/codacy/codacy-grade.tester.js
  services/codacy/codacy-helpers.js
  services/codacy/codacy.tester.js
Labels: core, service-badge

#2337 remove dependency on pdfkit
  gh-badges/package.json
  package-lock.json
Labels: npm-package

#2326 Revert to standard CI image and remove lingering references to fonts
  .circleci/config.yml
  .circleci/images/README.md
  .circleci/images/node-8/Dockerfile
  .circleci/images/node-latest/Dockerfile
  .circleci/images/prepare-container.sh
  Dockerfile
  Makefile
  doc/self-hosting.md
  package.json
Labels: developer-experience, documentation, operations

#2325 Add [GitlabPipeline] badge
  lib/validate.js
  lib/validate.spec.js
  services/base.js
  services/base.spec.js
  services/errors.js
  services/gitlab/gitlab-helpers.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/gitlab/gitlab-pipeline-status.tester.js
  services/test-validators.js
Labels: blocker, service-badge

#2355 fix [bundlephobia] tests
  services/bundlephobia/bundlephobia.tester.js
Labels: service-badge

#2354 cut a v2.1.0 release
  gh-badges/CHANGELOG.md
  gh-badges/package.json
Labels: npm-package

#2351 Move [hhvm] tests to right folder
  services/php-eye/php-eye-hhvm.tester.js
  services/php-eye/php-eye-php-version.tester.js
Labels: developer-experience

#2352 Deprecate [ImageLayers] service
  lib/deprecated-services.js
  services/imagelayers/imagelayers.service.js
  services/imagelayers/imagelayers.tester.js
Labels: service-badge

#2339 Examples: Fix queryParams with namedParams
  services/base.js
  services/base.spec.js
Labels: blocker, bug, core

#2350 Friendlier test failures when services won’t register
  server.spec.js
  services/legacy-service.js
Labels: developer-experience

#2367 Fix regression with double-dash escaping in [StaticBadge]
  services/static-badge/static-badge.service.js
  services/static-badge/static-badge.tester.js
Labels: bug, service-badge

#2353 refactor [conda] service
  services/conda/conda-base.js
  services/conda/conda-downloads.service.js
  services/conda/conda-platform.service.js
  services/conda/conda-version.service.js
  services/conda/conda.service.js
  services/conda/conda.tester.js
Labels: service-badge

#2373 Fix CircleCI token example
  services/circleci/circleci.service.js
Labels: service-badge

#2372 Readme: Update badge label
  README.md
Labels: documentation

#2371 Circle: Remove obsolete check
  .circleci/config.yml
Labels: developer-experience

#2359 Remove unused chai-as-promised dependency
  package-lock.json
  package.json
  services/base-json.spec.js
  services/base-svg-scraping.spec.js
  services/base-xml.spec.js
Labels: developer-experience

#2386 Tests for [OSSLifecycle] service
  services/osstracker/osstracker.tester.js
Labels: service-badge

#2389 The last of the badge examples
  lib/all-badge-examples.js
  services/chocolatey/chocolatey.service.js
  services/myget/myget.service.js
  services/nuget/nuget-v2-service-family.js
  services/nuget/nuget.service.js
  services/powershellgallery/powershellgallery.service.js
  services/resharper/resharper.service.js
Labels: blocker, service-badge

#2390 Tests for [PackageControl] service
  services/packagecontrol/packagecontrol.tester.js
Labels: service-badge

#2195 Run service tests on a given (remote) instance; test on [jetbrains]
  lib/service-test-runner/cli.js
  lib/test-config.js
  services/icedfrisby-no-nock.js
  services/service-tester.js
Labels: operations

#2414 Add tests for [StackExchange]
  services/stackexchange/stackexchange.tester.js
Labels: service-badge

#2405 Tweak [AUR] and add static examples
  services/aur/aur.service.js
  services/aur/aur.tester.js
Labels: service-badge

#2398 Test the notfound routes in server.js
  server.spec.js
Labels: core

#2401 Fix failing service tests for [bintray npmlicense github crates]
  services/bintray/bintray.tester.js
  services/crates/crates-license.tester.js
  services/crates/crates.tester.js
  services/github/github.tester.js
  services/npm/npm-license.tester.js
Labels: keep-service-tests-green

#2418 Port [StackExchange] from legacy to BaseJsonService
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-reputation.tester.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/stackexchange/stackexchange-taginfo.tester.js
  services/stackexchange/stackexchange.service.js
  services/stackexchange/stackexchange.tester.js
Labels: service-badge

#2425 TUTORIAL.md: Mention URL mapping upfront and clarify static meaning
  doc/TUTORIAL.md
Labels: documentation

#2403 Rewrite [ElmPackage]
  services/elm-package/elm-package.service.js
  services/elm-package/elm-package.tester.js
  services/test-validators.js
  services/validators.js
Labels: service-badge

#2430 Fix URL pattern for [StackExchange] Questions and Reputation per PR #2418
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-reputation.tester.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/stackexchange/stackexchange-taginfo.tester.js
Labels: blocker, service-badge

#2422 TUTORIAL.md: Service handles requests to external APIs
  doc/TUTORIAL.md
Labels: documentation
