Repository badges/shields, pull requests merged in 2018-04, with the labels that each got.

#1613 [CodeClimate] Added missing try-catch block
  server.js
  services/codeclimate/codeclimate.tester.js
Labels: service-badge

#1633 package-lock fixes for glob
  package-lock.json
Labels: core

#1590 [appveyor] Error handling in BaseService
  lib/error-helper.js
  lib/error-helper.spec.js
  lib/request-handler.js
  lib/server-config.js
  package-lock.json
  package.json
  server.js
  services/appveyor/appveyor.js
  services/appveyor/appveyor.tester.js
  services/base.js
  services/base.spec.js
  services/errors.js
Labels: core

#1629 [Ansible] Handle no data responses
  server.js
  services/ansible/ansible.tester.js
Labels: sentry, service-badge

#1630 [DotnetStatus] Service deprecation
  lib/all-badge-examples.js
  lib/deprecated-services.js
  server.js
  services/dotnetstatus/dotnetstatus.tester.js
Labels: service-badge

#1632 Minor refactor of examples preparation
  lib/all-badge-examples.js
  lib/all-badge-examples.spec.js
  services/base.js
  services/index.js
Labels: core

#1626 [SourceForge] Fixes, tests and cleaning up
  server.js
  services/sourceforge/sourceforge.tester.js
Labels: sentry, service-badge

#1602 optimize cssColor check regex
  lib/make-badge.js
  lib/make-badge.spec.js
Labels: core

#1623 Add [dynamic-yaml] badge
  frontend/components/dynamic-badge-maker.js
  frontend/components/usage.js
  frontend/lib/badge-url.spec.js
  package-lock.json
  package.json
  server.js
  services/yaml/yaml.tester.js
Labels: service-badge

#1603 Changed endpoint `star` to `stars`
  lib/all-badge-examples.js
  server.js
  services/vaadin-directory/vaadin-directory.tester.js
Labels: service-badge

#1644 [librariesio] Missing try/catch block and tests
  server.js
  services/librariesio/librariesio.tester.js
  services/test-validators.js
Labels: sentry, service-badge
