Repository badges/shields, pull requests merged in 2018-10, with the labels that each got.

#2129 [Dub] downloads badge with available version
  lib/all-badge-examples.js
  services/dub/dub.tester.js
Labels: service-badge

#2134 consistently style Github as GitHub in examples
  lib/all-badge-examples.js
Labels: frontend

#2133 remove duplicate PyPI examples
  lib/all-badge-examples.js
Labels: service-badge

#2132 require exampleUrl and urlPattern if using staticExample
  services/base.js
Labels: core

#2075 update service tests tutorial, affects [wercker] also [dependabot docker dynamic-json dynamic-xml dynamic-yaml npm website]
  doc/service-tests.md
  services/dependabot/dependabot.tester.js
  services/docker/docker.tester.js
  services/json/json.tester.js
  services/npm/npm-downloads.tester.js
  services/npm/npm-license.tester.js
  services/test-helpers.js
  services/website/website.tester.js
  services/wercker/wercker.tester.js
  services/xml/xml.tester.js
  services/yaml/yaml.tester.js
Labels: documentation

#2146 Standardized license file
  LICENSE
  LICENSE.md
  README.md
Labels: developer-experience

#2137 bugfix: [CircleCI] uses 'github' as a default VCS
  services/circleci/circleci.service.js
  services/circleci/circleci.tester.js
Labels: bug, service-badge

#2116 treat label as override in static badge
  server.js
  server.spec.js
Labels: service-badge

#2131 bring back the [PyPI] downloads badges
  services/pypi/pypi-downloads.service.js
  services/pypi/pypi.tester.js
Labels: service-badge

#2086 refactor arch user repositories [aur] service
  lib/all-badge-examples.js
  services/aur/aur.service.js
  services/aur/aur.tester.js
Labels: service-badge

#2157 Allow [GitHub] tag badge to sort by date
  lib/all-badge-examples.js
  services/github/github-license.service.js
  services/github/github-release.service.js
  services/github/github-tag.service.js
  services/github/github.tester.js
Labels: service-badge

#2140 Add [Steam] Service
  services/steam/steam-base.js
  services/steam/steam-workshop.service.js
  services/steam/steam-workshop.tester.js
Labels: service-badge

#2154 [Jenkins] coverage badges rewrite
  lib/all-badge-examples.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
  services/jenkins/jenkins-plugin-version.service.js
  services/jenkins/jenkins-plugin-version.tester.js
  services/jenkins/jenkins.tester.js
Labels: bug, service-badge

#2175 [bintray] test
  services/bintray/bintray.service.js
  services/bintray/bintray.tester.js
Labels: service-badge

#2178 Precommit hook with Prettier and ESLint
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: developer-experience

#2187 Add support for private [npm] packages
  doc/self-hosting.md
  secret.tpl.json
  services/npm/npm-base.js
Labels: self-hosting

#2192 remove use of componentWillReceiveProps()
  frontend/components/examples-page.js
  frontend/components/markup-modal.js
Labels: frontend

#2194 [ctan] refactor service
  lib/all-badge-examples.js
  services/ctan/ctan.service.js
  services/ctan/ctan.tester.js
Labels: service-badge

#2196 use most permissive license color
  lib/licenses.js
  lib/licenses.spec.js
Labels: service-badge

#2171 Fix: colorB override not working for [Github] Stars
  services/github/github-stars.service.js
  services/github/github.tester.js
Labels: bug, service-badge

#2189 switch [powershellgallery] to use temp url
  services/nuget/nuget.service.js
  services/powershellgallery/powershellgallery.tester.js
Labels: service-badge

#2203 refactor [hexpm] service
  lib/all-badge-examples.js
  services/hexpm/hexpm.service.js
  services/hexpm/hexpm.tester.js
Labels: service-badge

#2201 Static Code Climate examples
  lib/all-badge-examples.js
  services/codeclimate/codeclimate.service.js
Labels: performance-improvement, service-badge

#2212 [eclipse-marketplace] License badge
  services/eclipse-marketplace/eclipse-marketplace-license.service.js
  services/eclipse-marketplace/eclipse-marketplace-license.tester.js
Labels: service-badge

#2205 allow badge maxAge to be set by category; affects [discord]
  frontend/components/usage.js
  lib/request-handler.js
  lib/request-handler.spec.js
  services/base.js
  services/discord/discord.service.js
Labels: core

#2152 Refactor [Wordpress] Service
  lib/all-badge-examples.js
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-downloads.tester.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-platform.tester.js
  services/wordpress/wordpress-plugin.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-rating.tester.js
  services/wordpress/wordpress-theme.service.js
  services/wordpress/wordpress-version.service.js
  services/wordpress/wordpress-version.tester.js
  services/wordpress/wordpress.tester.js
Labels: service-badge

#2219 [travis php-eye] Make more consistent use of async/await
  frontend/components/suggestion-and-search.js
  lib/php-version.js
  lib/regular-update.js
  lib/svg-to-img.js
  services/php-eye/php-eye-php-version.service.js
  services/travis/travis-php-version.service.js
Labels: core, service-badge

#2221 upgrade to Joi 14; affects [elm-package jetbrains npmversion pypi vaadin-directory dynamic-xml]
  package-lock.json
  package.json
  services/jetbrains/jetbrains.tester.js
  services/test-validators.js
Labels: dependencies

#1894 Add some error messages for the developer when .service.js is malformed
  services/index.js
  services/index.spec.js
  test-fixtures/empty-array.fixture.js
  test-fixtures/empty-no-export.fixture.js
  test-fixtures/empty-object.fixture.js
  test-fixtures/empty-undefined.fixture.js
  test-fixtures/invalid-mixed.fixture.js
  test-fixtures/invalid-no-base.fixture.js
  test-fixtures/invalid-wrong-base.fixture.js
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-class.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: developer-experience

#2220 Refactor [Requires]IO
  lib/all-badge-examples.js
  services/requires/requires.service.js
  services/requires/requires.tester.js
Labels: service-badge

#2230 make [shippable] preview bagde static
  services/shippable/shippable.service.js
Labels: performance-improvement, service-badge

#2200 Give the NPM package some love
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  README.md
  doc/gh-badges.md
  lib/gh-badges.js
  package-lock.json
  package.json
Labels: core

#1793 Rewrite server deploy script
  .prettierignore
  Makefile
Labels: operations

#2233 Readme examples
  README.md
Labels: documentation

#2029 Rework [suggest] code using async/await
  lib/suggest.js
Labels: core, service-badge
