Repository badges/shields, pull requests merged in 2018-12, with the labels that each got.

#2407 Add static examples to a few legacy services [travis david coveralls amo]
  services/amo/amo.service.js
  services/coveralls/coveralls.service.js
  services/david/david.service.js
  services/travis/travis-build.service.js
Labels: service-badge

#2360 Refactor cache-header handling and config, create NonMemoryCachingBaseService, rewrite [flip]
  lib/coalesce.js
  lib/coalesce.spec.js
  lib/request-handler.js
  lib/request-handler.spec.js
  lib/server-config.js
  package-lock.json
  package.json
  server.js
  server.spec.js
  services/base-json.spec.js
  services/base-non-memory-caching.js
  services/base-static.js
  services/base-svg-scraping.spec.js
  services/base-xml.spec.js
  services/base.js
  services/base.spec.js
  services/cache-headers.js
  services/cache-headers.spec.js
  services/flip/flip.service.js
  services/flip/flip.tester.js
  services/legacy-service.js
  services/time/time.service.js
Labels: blocker, core

#2437 Fix crash in legacy service
  lib/request-handler.js
  services/legacy-service.js
Labels: blocker, bug

#2434 Fix [LibrariesioDependencies] for project names containing dots
  services/librariesio/librariesio-dependencies.service.js
  services/librariesio/librariesio-dependencies.tester.js
Labels: bug, service-badge

#2438 show dynamic badge examples with a base
  frontend/components/usage.js
Labels: frontend

#2406 Modernize [AzureDevops] examples
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-helpers.js
  services/azure-devops/azure-devops-release.service.js
Labels: service-badge

#2436 Tests for [Pub] service
  services/pub/pub.tester.js
Labels: service-badge

#2439 Tests for [Sourcegraph] service
  services/sourcegraph/sourcegraph.service.js
  services/sourcegraph/sourcegraph.tester.js
Labels: service-badge

#2412 Add Azure DevOps tests service [AzureDevOpsTests AzureDevOpsCoverage]
  services/azure-devops/azure-devops-base.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/azure-devops/azure-devops-tests.tester.js
Labels: service-badge

#2440 Remove `longCache` from static examples
  frontend/components/usage.js
Labels: bug, frontend

#2409 Add static examples for [Node]
  services/node/node.service.js
  services/node/node.spec.js
Labels: service-badge

#2443 Examples: Drop deprecated aliases query, urlPattern
  services/appveyor/appveyor-tests.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/base.js
  services/base.spec.js
  services/david/david.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-stars.service.js
  services/github/github-watchers.service.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/index.spec.js
  services/node/node.service.js
  services/npm/npm-license.service.js
  services/npm/npm-version.service.js
  services/transform-example.js
  services/twitter/twitter.service.js
  services/website/website.service.js
Labels: blocker, core, service-badge

#2446 Link together some of the documentation
  doc/rewriting-services.md
  services/legacy-service.js
Labels: documentation

#2432 Add [StackExchange] monthly questions badge service (#2378)
  services/stackexchange/stackexchange-helpers.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-monthlyquestions.tester.js
  services/stackexchange/stackexchange-taginfo.service.js
Labels: service-badge

#2392 don't run service tests on master; test on [packagist]
  .circleci/config.yml
Labels: developer-experience

#2447 Modernize some more examples
  services/readthedocs/readthedocs.service.js
  services/requires/requires.service.js
  services/shippable/shippable.service.js
  services/steam/steam-workshop.service.js
  services/swagger/swagger.service.js
  services/wercker/wercker.service.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-rating.service.js
Labels: service-badge

#2444 Modernize some examples teamcity azuredevops travis [uptimerobot vaadin vscode-marketplace]
  services/azure-devops/azure-devops-tests.service.js
  services/teamcity/teamcity-coverage.service.js
  services/travis/travis-php-version.service.js
  services/uptimerobot/uptimerobot-base.js
  services/uptimerobot/uptimerobot-ratio.service.js
  services/uptimerobot/uptimerobot-status.service.js
  services/vaadin-directory/vaadin-directory.service.js
  services/vscode-marketplace/vscode-marketplace.service.js
Labels: service-badge

#2456 couples of fixes to docs on porting legacy services
  doc/rewriting-services.md
Labels: documentation

#2457 Fix [travis] php-v tests
  services/test-validators.js
Labels: keep-service-tests-green

#2454 [AzureDevOpsTests] Refactor unit tests to improve stability
  services/azure-devops/azure-devops-tests.tester.js
Labels: keep-service-tests-green

#2448 Sort some badges; add an Activity category
  lib/all-badge-examples.js
  services/categories.js
  services/eclipse-marketplace/eclipse-marketplace-update.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-commits-since.service.js
  services/github/github-contributors.service.js
  services/github/github-last-commit.service.js
  services/github/github-release-date.service.js
  services/npm/npm-type-definitions.service.js
  services/php-eye/php-eye-hhvm.service.js
  services/php-eye/php-eye-php-version.service.js
  services/puppetforge/puppetforge-modules.service.js
  services/pypi/pypi-implementation.service.js
  services/pypi/pypi-wheel.service.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/steam/steam-workshop.service.js
  services/travis/travis-php-version.service.js
  services/vaadin-directory/vaadin-directory.service.js
Labels: service-badge

#2459 Fix doc: leading, not trailing
  doc/rewriting-services.md
Labels: documentation

#2458 Add Leanpub Book Summary Badges [LeanpubBookSummary]
  services/leanpub/leanpub-book-summary.service.js
  services/leanpub/leanpub-book-summary.tester.js
Labels: service-badge

#2399 Rewrite the [DynamicJson] badge; affects [gitlab dynamic-xml dynamic-yaml]
  lib/validate.js
  lib/validate.spec.js
  server.js
  services/base.js
  services/base.spec.js
  services/dynamic/dynamic-helpers.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.tester.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/validators.js
Labels: blocker, core, service-badge

#2467 Updated Danger server guideline
  dangerfile.js
Labels: developer-experience

#2377 Improve [F-droid] support to .yml metadata format
  services/f-droid/f-droid.service.js
  services/f-droid/f-droid.tester.js
Labels: service-badge

#2471 Adds more tests for base class overrides
  services/base.spec.js
Labels: core

#2474 Modernize chrome web store examples; PR check state -> build
  services/chrome-web-store/chrome-web-store.service.js
  services/github/github-pull-request-check-state.service.js
Labels: service-badge

#2476 fix swagger example
  services/swagger/swagger.service.js
Labels: service-badge

#2475 Prevent bad letter spacing when whitespace surrounds badge text
  gh-badges/lib/make-badge.js
Labels: bug, core

#2488 Fix whitespace in mocked Codetally test
  services/codetally/codetally.tester.js
Labels: keep-service-tests-green

#2486 [Wheelmap] service rewrite and tests
  .circleci/config.yml
  Procfile
  app.json
  doc/self-hosting.md
  package.json
  scripts/export-heroku-secrets-cli.js
  secret.tpl.json
  services/wheelmap/wheelmap.service.js
  services/wheelmap/wheelmap.tester.js
Labels: bug, service-badge

#2493 make 'donate' call to action clearer
  frontend/components/donate.js
  frontend/components/main.js
Labels: frontend

#2491 refactor [redmine] plugin rating services
  services/redmine/redmine.service.js
  services/redmine/redmine.tester.js
Labels: service-badge

#2492 refactor [bountysource] service
  services/bountysource/bountysource.service.js
  services/bountysource/bountysource.tester.js
Labels: service-badge

#2490 Add some basic frontend tests
  .circleci/config.yml
  frontend/components/category-headings.spec.js
  frontend/components/enzyme-conf.spec.js
  frontend/components/footer.spec.js
  frontend/components/header.spec.js
  frontend/components/meta.spec.js
  frontend/components/usage.spec.js
  frontend/lib/generate-image-markup.spec.js
  frontend/lib/service-definitions/index.spec.js
  package-lock.json
  package.json
Labels: frontend

#2477 Add new service for CII Best Practices badges [CIIBestPractices]
  services/cii-best-practices/cii-best-practices.service.js
  services/cii-best-practices/cii-best-practices.tester.js
Labels: service-badge

#2478 More example urls and static examples [apm waffle]
  services/apm/apm.service.js
  services/bower/bower-license.service.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cpan/cpan-license.service.js
  services/cran/cran.service.js
  services/dub/dub-license-version.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-commits-since.service.js
  services/github/github-contributors.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-license.service.js
  services/jira/jira-issue.service.js
  services/jira/jira-sprint.service.js
  services/npm/npm-license.service.js
  services/npm/npm-type-definitions.service.js
  services/packagist/packagist-license.service.js
  services/php-eye/php-eye-hhvm.service.js
  services/pypi/pypi-djversions.service.js
  services/pypi/pypi-implementation.service.js
  services/pypi/pypi-license.service.js
  services/pypi/pypi-pyversions.service.js
  services/pypi/pypi-wheel.service.js
  services/waffle/waffle.service.js
  services/waffle/waffle.tester.js
Labels: blocker, service-badge

#2463 Add Azure DevOps logo
  logo/azuredevops.svg
Labels: service-badge

#2512 Improved [MicroBadger] tests speed
  services/microbadger/microbadger.service.js
  services/microbadger/microbadger.tester.js
Labels: keep-service-tests-green

#2483 Add quality category and sort a couple other badges [scrutinizer]
  services/amo/amo.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/categories.js
  services/cii-best-practices/cii-best-practices.service.js
  services/cocoapods/cocoapods-metrics.service.js
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-grade.service.js
  services/codeclimate/codeclimate.service.js
  services/codecov/codecov.service.js
  services/coveralls/coveralls.service.js
  services/coverity/coverity-on-demand.service.js
  services/coverity/coverity-scan.service.js
  services/dependabot/dependabot.service.js
  services/jenkins/jenkins-coverage.service.js
  services/leanpub/leanpub-book-summary.service.js
  services/lgtm/lgtm-alerts.service.js
  services/lgtm/lgtm-grade.service.js
  services/puppetforge/puppetforge-modules.service.js
  services/scrutinizer/scrutinizer.service.js
  services/sonarqube/sonarqube.service.js
  services/teamcity/teamcity-coverage.service.js
Labels: service-badge

#2461 Add [npm] badges for collaborator count and dependency version
  services/index.spec.js
  services/npm/npm-base.js
  services/npm/npm-collaborators.service.js
  services/npm/npm-collaborators.tester.js
  services/npm/npm-dependency-version.service.js
  services/npm/npm-dependency-version.tester.js
  services/npm/npm-license.tester.js
  services/validators.js
Labels: service-badge

#2487 Rewrite [DynamicXml] and [DynamicYaml] badges
  server.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.service.js
  services/dynamic/dynamic-yaml.tester.js
Labels: blocker, service-badge

#2521 Remove unused wait-promise dep
  package-lock.json
  package.json
Labels: dependencies

#2525 Fix [npm] badges when a dependency points to a URL
  services/npm/npm-base.js
Labels: bug, keep-service-tests-green, service-badge

#2526 Set up CircleCI test summary [npmcollaborators]
  .circleci/config.yml
  mocha.opts
  package-lock.json
  package.json
Labels: developer-experience

#2542 couple of fixes to service test docs
  doc/service-tests.md
Labels: documentation

#2535 Migrate [Sourcegraph] to new service model
  services/sourcegraph/sourcegraph.service.js
  services/sourcegraph/sourcegraph.tester.js
Labels: keep-service-tests-green, service-badge

#2548 Migrate [Codetally] to new service model
  services/codetally/codetally.service.js
  services/codetally/codetally.tester.js
Labels: service-badge

#2549 Refactor [AzureDevOpsCoverage AzureDevOpsTests] to only report on completed builds; test all [azuredevops]
  services/azure-devops/azure-devops-base.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-coverage.tester.js
  services/azure-devops/azure-devops-tests.service.js
  services/azure-devops/azure-devops-tests.tester.js
Labels: service-badge

#2541 Migrate [Jira] services to new service model
  services/jira/jira-base.js
  services/jira/jira-issue.service.js
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.service.js
  services/jira/jira-sprint.tester.js
  services/jira/jira-test-helpers.js
Labels: service-badge

#2517 Rework styling using styled-components
  dangerfile.js
  frontend/components/badge-examples.js
  frontend/components/category-headings.js
  frontend/components/category-headings.spec.js
  frontend/components/common.js
  frontend/components/dynamic-badge-maker.js
  frontend/components/footer.js
  frontend/components/footer.spec.js
  frontend/components/header.js
  frontend/components/main.js
  frontend/components/markup-modal.js
  frontend/components/meta.js
  frontend/components/snippet.js
  frontend/components/static-badge-maker.js
  frontend/components/suggestion-and-search.js
  frontend/components/usage.js
  package-lock.json
  package.json
  pages/_document.js
  static/main.css
Labels: blocker, frontend

#2520 Migrates [Nexus] service to new service model
  services/nexus/nexus.service.js
  services/nexus/nexus.tester.js
  services/validators.js
Labels: service-badge

#2470 Rewrite [GithubManifest] and [GithubPackageJson] badges; also affects [GithubPullRequestCheckState DynamicJson]
  services/base-json.js
  services/dynamic-common.js
  services/dynamic/dynamic-helpers.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
  services/github/github-auth-service.js
  services/github/github-common-fetch.js
  services/github/github-helpers.js
  services/github/github-manifest-version.service.js
  services/github/github-manifest.service.js
  services/github/github-manifest.tester.js
  services/github/github-package-json.service.js
  services/github/github-package-json.tester.js
  services/github/github-pull-request-check-state.service.js
  services/github/github.tester.js
Labels: blocker, core, service-badge

#2560 Split up [github] testers
  services/github/github-commit-activity.tester.js
  services/github/github-commit-status.tester.js
  services/github/github-commits-since.tester.js
  services/github/github-contributors.service.js
  services/github/github-contributors.tester.js
  services/github/github-downloads.tester.js
  services/github/github-followers.tester.js
  services/github/github-forks.tester.js
  services/github/github-issue-detail.tester.js
  services/github/github-issues.tester.js
  services/github/github-languages.tester.js
  services/github/github-last-commit.tester.js
  services/github/github-license.tester.js
  services/github/github-release.tester.js
  services/github/github-repo-size.tester.js
  services/github/github-search.tester.js
  services/github/github-size.tester.js
  services/github/github-stars.tester.js
  services/github/github-tag.tester.js
  services/github/github-watchers.tester.js
  services/github/github.tester.js
Labels: blocker, service-badge

#2563 Fix frontend coverage and tweak ignores
  .nycrc-frontend.json
  .nycrc.json
  package-lock.json
  package.json
Labels: developer-experience

#2564 Convert lodash.uniq to native and remove an unused dev dep [php-eye travis]
  lib/php-version.js
  package-lock.json
  package.json
Labels: dependencies

#2565 Update [Jira] tests to include color validation
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.tester.js
Labels: service-badge

#2527 Improve [Matrix] badge generation
  services/matrix/matrix.service.js
  services/matrix/matrix.tester.js
Labels: service-badge

#2561 Update maintainer list 🎉🎉🎉
  README.md
Labels: documentation

#2578 Fix import issue with [dynamic] badge
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.service.js
  services/dynamic/dynamic-yaml.tester.js
Labels: bug, keep-service-tests-green, service-badge

#2575 refactor [CPAN] service
  services/cpan/cpan-license.service.js
  services/cpan/cpan-license.tester.js
  services/cpan/cpan-version.service.js
  services/cpan/cpan-version.tester.js
  services/cpan/cpan.js
  services/cpan/cpan.service.js
Labels: service-badge

#2573 Update list of prod secrets
  doc/production-hosting.md
Labels: documentation

#2569 Fix frontend coverage in CI, update dev scripts, adopt npm-run-all
  Procfile
  package-lock.json
  package.json
Labels: developer-experience

#2593 Fix serverHasBeenUpSinceResourceCached test
  services/cache-headers.spec.js
Labels: keep-service-tests-green

#2604 Fix [suggest]
  lib/server.js
Labels: bug, frontend

#2603 Register missing redirects [static]
  lib/server.js
Labels: bug, keep-service-tests-green, service-badge

#2581 Visual Studio Code gitignore + recommended extensions
  .gitignore
  .vscode/extensions.json
Labels: developer-experience
