Repository badges/shields, pull requests merged in 2019-07, with the labels that each got.

#3571 add [Sonar] badges for various test metrics
  services/sonar/sonar-base.js
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-generic.service.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-tests.service.js
  services/sonar/sonar-tests.spec.js
  services/sonar/sonar-tests.tester.js
  services/sonar/sonar-violations.service.js
Labels: service-badge

#3632 JSDoc comments for token pool
  core/token-pooling/token-pool.js
Labels: documentation

#3630 JSDoc comments for service test runner
  core/service-test-runner/create-service-tester.js
  core/service-test-runner/icedfrisby-shields.js
  core/service-test-runner/infer-pull-request.js
  core/service-test-runner/runner.js
  core/service-test-runner/service-tester.js
  core/service-test-runner/services-for-title.js
Labels: documentation

#3634 Docker: Don't installl Cypress
  Dockerfile
Labels: self-hosting

#3633 Support other [Bugzilla] instances
  services/bugzilla/bugzilla.service.js
  services/bugzilla/bugzilla.tester.js
Labels: service-badge

#3646 Update Zeit members list
  doc/production-hosting.md
Labels: operations

#3651 Minor refactor in [azuredevopstests]
  services/azure-devops/azure-devops-tests.service.js
Labels: blocker, service-badge

#3649 Refactor [Bitbucket] pull request
  services/bitbucket/bitbucket-pull-request.service.js
Labels: blocker, service-badge

#3650 Minor refactor: expose custom promisify function from legacy request handler
  core/base-service/legacy-request-handler.js
Labels: blocker, core

#3655 Footer update
  frontend/components/footer.js
Labels: documentation, frontend

#3644 Drop gif + png, and redirect png to raster.shields.io
  Dockerfile
  config/custom-environment-variables.yml
  config/shields-io-production.yml
  config/test.yml
  core/badge-urls/make-badge-url.js
  core/base-service/base.spec.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-result-sender.js
  core/base-service/lru-cache.js
  core/base-service/lru-cache.spec.js
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  core/base-service/route.js
  core/base-service/route.spec.js
  core/server/server.js
  core/server/server.spec.js
  doc/TUTORIAL.md
  doc/production-hosting.md
  doc/self-hosting.md
  gh-badges/lib/svg-to-img.js
  gh-badges/lib/svg-to-img.spec.js
Labels: blocker, core, npm-package, operations

#3659 Fix raster redirect and drop the legacy static .png route
  config/test.yml
  core/server/server.js
  core/server/server.spec.js
Labels: blocker, core

#3660 Convert a format to pattern in [githubpackagejson]
  services/github/github-package-json.service.js
Labels: service-badge

#3666 Deprecate shields-server.com domain
  doc/production-hosting.md
  scripts/github_token_backup.fish
  services/github/auth/admin.js
Labels: documentation, operations

#3665 Per node support policy, drop tests for Node 11
  .circleci/config.yml
Labels: npm-package

#3661 Auto-annotate live and mock tests e.g. [nodeping]
  core/service-test-runner/service-tester.js
  doc/service-tests.md
  services/archlinux/archlinux.tester.js
  services/cii-best-practices/cii-best-practices.tester.js
  services/cookbook/cookbook.tester.js
  services/coverity/coverity-scan.tester.js
  services/ctan/ctan.tester.js
  services/debian/debian.tester.js
  services/discourse/discourse.tester.js
  services/endpoint/endpoint.tester.js
  services/homebrew/homebrew.tester.js
  services/jetbrains/jetbrains.tester.js
  services/myget/myget.tester.js
  services/nodeping/nodeping-status.tester.js
  services/nodeping/nodeping-uptime.tester.js
  services/nuget/nuget.tester.js
  services/snyk/snyk-vulnerability-github.tester.js
  services/snyk/snyk-vulnerability-npm.tester.js
  services/swagger/swagger.tester.js
  services/ubuntu/ubuntu.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.tester.js
  services/wercker/wercker.tester.js
  services/wordpress/wordpress-platform.tester.js
Labels: developer-experience

#3681 Ensure Joi is imported as @hapi/joi [cirrus]
  dangerfile.js
  services/cirrus/cirrus.tester.js
Labels: dependencies

#3667 New [Gerrit] badge
  services/gerrit/gerrit.service.js
  services/gerrit/gerrit.tester.js
Labels: service-badge

#3652 Inject secrets into the services [azuredevops bintray drone jenkins jira npm sonar symfony teamcity wheelmap]
  .eslintrc.yml
  core/base-service/auth-helper.js
  core/base-service/auth-helper.spec.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/errors.js
  core/server/server.js
  dangerfile.js
  server.js
  services/azure-devops/azure-devops-base.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-helpers.js
  services/azure-devops/azure-devops-tests.service.js
  services/bintray/bintray.service.js
  services/drone/drone-build.service.js
  services/drone/drone-build.spec.js
  services/drone/drone-build.tester.js
  services/drone/drone-test-helpers.js
  services/jenkins/jenkins-base.js
  services/jenkins/jenkins-build.spec.js
  services/jenkins/jenkins-build.tester.js
  services/jira/jira-base.js
  services/jira/jira-common.js
  services/jira/jira-issue.service.js
  services/jira/jira-issue.spec.js
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.service.js
  services/jira/jira-sprint.spec.js
  services/jira/jira-sprint.tester.js
  services/jira/jira-test-helpers.js
  services/nexus/nexus.service.js
  services/nexus/nexus.spec.js
  services/nexus/nexus.tester.js
  services/npm/npm-base.js
  services/sonar/sonar-base.js
  services/sonar/sonar-fortify-rating.spec.js
  services/sonar/sonar-fortify-rating.tester.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-grade.tester.js
  services/symfony/symfony-insight-stars.tester.js
  services/symfony/symfony-insight-violations.tester.js
  services/symfony/symfony-insight.spec.js
  services/symfony/symfony-test-helpers.js
  services/teamcity/teamcity-base.js
  services/teamcity/teamcity-build.spec.js
  services/teamcity/teamcity-build.tester.js
  services/teamcity/teamcity-coverage.spec.js
  services/teamcity/teamcity-coverage.tester.js
  services/teamcity/teamcity-test-helpers.js
  services/test-helpers.js
  services/wheelmap/wheelmap.service.js
  services/wheelmap/wheelmap.spec.js
  services/wheelmap/wheelmap.tester.js
Labels: blocker, core, service-badge

#3645 adopt JSDoc, eslint-plugin-jsdoc
  .eslintignore
  .eslintrc.yml
  .gitignore
  .prettierignore
  README.md
  core/base-service/base.js
  core/server/server.js
  core/service-test-runner/create-service-tester.js
  core/service-test-runner/icedfrisby-shields.js
  core/service-test-runner/infer-pull-request.js
  core/service-test-runner/runner.js
  core/service-test-runner/service-tester.js
  core/service-test-runner/services-for-title.js
  core/token-pooling/token-pool.js
  gatsby-node.js
  gh-badges/lib/index.js
  jsdoc.json
  package-lock.json
  package.json
  services/gerrit/gerrit.service.js
  services/steam/steam-base.js
Labels: blocker, documentation

#3689 Documentation for OSS Lifecycle
  services/osslifecycle/osslifecycle.service.js
Labels: documentation, service-badge

#3690 Cache raster redirects longer
  core/server/server.js
Labels: core

#3691 Refactor [bitbucket] secrets
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitbucket/bitbucket-pull-request.spec.js
  services/bitbucket/bitbucket-test-helpers.js
  services/bitbucket/bitbucket.tester.js
Labels: service-badge

#3693 Refactor GitHub OAuth credential handling
  core/server/server.js
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
  services/github/github-constellation.js
Labels: service-badge

#3694 Refactor auth config checks within tests
  services/suggest.integration.js
  services/symfony/symfony-test-helpers.js
  services/wheelmap/wheelmap.tester.js
Labels: core, service-badge

#3695 Colorize [OSSLifecycle] badge
  services/osslifecycle/osslifecycle.service.js
  services/osslifecycle/osslifecycle.tester.js
Labels: service-badge

#3697 Update serverSecrets reference in legacy monitor
  core/server/monitor.js
Labels: core

#3698 Refactor auth config checks in another test
  services/github/github-api-provider.integration.js
Labels: service-badge

#3701 Split [Bitbucket] tests
  services/bitbucket/bitbucket-issues.tester.js
  services/bitbucket/bitbucket-pipelines.tester.js
  services/bitbucket/bitbucket-pull-request.tester.js
  services/bitbucket/bitbucket.tester.js
Labels: developer-experience, service-badge

#3703 Split [LGTM] tests
  services/lgtm/lgtm-alerts.tester.js
  services/lgtm/lgtm-grade.tester.js
  services/lgtm/lgtm-test-helpers.js
  services/lgtm/lgtm.tester.js
Labels: developer-experience, service-badge

#3702 Split [Jetbrains] tests
  services/jetbrains/jetbrains-downloads.tester.js
  services/jetbrains/jetbrains-version.tester.js
  services/jetbrains/jetbrains.tester.js
Labels: developer-experience, service-badge

#3668 Switch to ioredis, and update RedisTokenPersistence to use a set instead of a list
  core/token-pooling/redis-token-persistence.integration.js
  core/token-pooling/redis-token-persistence.js
  package-lock.json
  package.json
  scripts/import-github-tokens.js
Labels: core

#3705 Fix up Redis config
  config/custom-environment-variables.yml
  core/server/server.js
  services/github/github-constellation.js
Labels: core, operations

#3706 Log internal errors to Sentry
  core/base-service/base.js
Labels: operations

#3707 Fix Redis prod issue for Node 9
  core/token-pooling/redis-token-persistence.js
Labels: core

#3710 Document the production Redis hosting
  doc/production-hosting.md
Labels: operations

#3704 Split [pypi] tests
  services/pypi/pypi-django-versions.service.js
  services/pypi/pypi-django-versions.tester.js
  services/pypi/pypi-downloads.tester.js
  services/pypi/pypi-format.tester.js
  services/pypi/pypi-implementation.tester.js
  services/pypi/pypi-python-versions.service.js
  services/pypi/pypi-python-versions.tester.js
  services/pypi/pypi-status.tester.js
  services/pypi/pypi-version.tester.js
  services/pypi/pypi-wheel.tester.js
  services/pypi/pypi.tester.js
Labels: developer-experience, service-badge

#3711 Split [Conda] tests
  services/conda/conda-downloads.tester.js
  services/conda/conda-platform.tester.js
  services/conda/conda-version.tester.js
  services/conda/conda.tester.js
Labels: developer-experience, service-badge

#3712 Remove service tests for dropped [static] png routes
  services/static-badge/static-badge.tester.js
Labels: keep-service-tests-green

#3696 Update [Sonar] routes: metric first, and server in the query string
  services/sonar/sonar-base.js
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-coverage.tester.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-documented-api-density.tester.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-fortify-rating.spec.js
  services/sonar/sonar-fortify-rating.tester.js
  services/sonar/sonar-generic.service.js
  services/sonar/sonar-generic.tester.js
  services/sonar/sonar-helpers.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-quality-gate.tester.js
  services/sonar/sonar-redirector.service.js
  services/sonar/sonar-redirector.tester.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-tech-debt.tester.js
  services/sonar/sonar-tests.service.js
  services/sonar/sonar-tests.tester.js
  services/sonar/sonar-violations.service.js
  services/sonar/sonar-violations.tester.js
Labels: service-badge

#3715 Add warnings alongside deprecated URL patterns
  services/discourse/discourse.service.js
  services/jira/jira-issue.service.js
  services/jira/jira-sprint.service.js
  services/maven-metadata/maven-metadata.service.js
  services/nexus/nexus.service.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-coverage.service.js
  services/twitter/twitter.service.js
  services/website/website.service.js
Labels: developer-experience, documentation, service-badge

#3718 Update lockfile with npm audit fixes
  package-lock.json
Labels: dependencies

#3734 Capitalize [OpenCollective] in badge listing
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-sponsors.service.js
Labels: service-badge

#3735 Display one decimal for metrics smaller than 10
  services/discourse/discourse.tester.js
  services/github/github-commits-since.tester.js
  services/github/github-downloads.tester.js
  services/github/github-followers.tester.js
  services/github/github-issues.tester.js
  services/github/github-stars.tester.js
  services/test-validators.js
  services/text-formatters.js
  services/text-formatters.spec.js
  services/wordpress/wordpress-downloads.tester.js
Labels: service-badge

#3719 Rewrite CopiedContentIndicator using hooks
  frontend/components/customizer/copied-content-indicator.js
Labels: frontend

#3720 Rewrite Customizer using hooks
  frontend/components/customizer/customizer.js
Labels: frontend

#3721 Rewrite PathBuilder using hooks
  frontend/components/customizer/path-builder.js
  frontend/components/customizer/path-builder.spec.js
Labels: frontend

#3722 Initial adoption of TypeScript in the frontend
  .circleci/config.yml
  .eslintrc-frontend.yml
  frontend/components/common.spec.tsx
  frontend/components/common.tsx
  frontend/components/customizer/builder-common.tsx
  frontend/components/donate.spec.tsx
  frontend/components/donate.tsx
  frontend/components/meta.spec.tsx
  frontend/components/meta.tsx
  frontend/constants.js
  frontend/constants.ts
  frontend/lib/generate-image-markup.spec.ts
  frontend/lib/generate-image-markup.ts
  frontend/lib/pattern-helpers.spec.ts
  frontend/lib/pattern-helpers.ts
  frontend/lib/redirect-legacy-routes.ts
  frontend/require-all.spec.js
  gatsby-config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: frontend

#3741 Rewrite SugggestionAndSearch using hooks
  frontend/components/suggestion-and-search.js
Labels: frontend

#3738 Rewrite Main using hooks
  frontend/components/main.js
Labels: frontend

#3746 Handle packages with no released versions in [PackagistVersion]
  services/packagist/packagist-version.service.js
  services/packagist/packagist-version.tester.js
Labels: bug, service-badge

#3739 Rewrite RequestMarkupButton using hooks
  frontend/components/customizer/request-markup-button.js
Labels: frontend

#3747 Remove popout styles
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/templates/popout-square-template.svg
  gh-badges/templates/popout-template.svg
  scripts/export-supported-features-cli.js
Labels: service-badge

#3743 Unify the ESLint config
  .eslintrc-frontend.yml
  .eslintrc.yml
  core/base-service/lru-cache.js
  core/server/secret-is-valid.js
  frontend/.eslintrc.yml
  services/color-formatters.js
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/version.js
Labels: developer-experience

#3760 Made popout-square check more specific
  gh-badges/lib/make-badge.js
Labels: bug

#3740 Rewrite QueryStringBuilder using hooks
  .eslintrc.yml
  frontend/components/customizer/query-string-builder.js
Labels: frontend

#3762 Remove use of deprecated Domain API; test on [npm]
  core/base-service/legacy-request-handler.js
Labels: core

#3766 Fix extraneous brackets in query string builder
  frontend/components/customizer/query-string-builder.js
Labels: frontend

#3717 SVG by default
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/redirector.js
  core/base-service/route.js
  core/base-service/route.spec.js
  core/server/server.js
  core/server/server.spec.js
  cypress/integration/main-page.spec.js
  doc/deprecating-badges.md
  frontend/components/common.spec.tsx
  frontend/components/customizer/customizer.js
  frontend/components/snippet.spec.js
  frontend/components/usage.js
  frontend/components/usage.spec.js
  frontend/lib/generate-image-markup.spec.ts
  frontend/pages/endpoint.js
  package-lock.json
  package.json
  services/issuestats/issuestats.service.js
  services/nexus/nexus.service.js
  services/nuget/nuget-v3-service-family.js
  services/snyk/snyk-vulnerability-npm.service.js
  services/sourcegraph/sourcegraph.service.js
  services/static-badge/static-badge.service.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-coverage.service.js
  services/travis/travis-build.service.js
  services/travis/travis-build.tester.js
  services/website/website-redirect.service.js
  services/wercker/wercker.service.js
Labels: core

#3768 Cover missing PHP version requirement in [PackagistPhpVersion]
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-php-version.tester.js
Labels: bug, service-badge

#3764 Upgrade to new Sentry SDKs; fix error reporting detail
  core/server/log.js
  core/server/log.spec.js
  package-lock.json
  package.json
  server.js
Labels: core, operations

#3770 Disable more default Sentry integrations
  server.js
Labels: operations

#3776 [DynamicJson] Catch jsonpath parse error
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
Labels: bug, service-badge

#3774 Fix timeout logic
  core/base-service/legacy-request-handler.js
Labels: bug, core

#3778 Use https for [sourceforge]
  services/sourceforge/sourceforge.service.js
Labels: service-badge

#3783 Handle [DynamicJson] parse error
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
Labels: bug, service-badge

#3790 Fix regex match in notfound route
  core/server/server.js
Labels: bug, core

#3787 Docs: Drop .svg extensions
  README.md
  doc/TUTORIAL.md
Labels: documentation

#3791 increase [codetally] test timeout
  services/codetally/codetally.tester.js
Labels: keep-service-tests-green

#3763 Add BaseGraphqlService, support [github] V4 API
  core/base-service/base-graphql.js
  core/base-service/base-graphql.spec.js
  core/base-service/base-json.js
  core/base-service/graphql.js
  core/base-service/graphql.spec.js
  core/base-service/index.js
  core/base-service/json.js
  package-lock.json
  package.json
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
  services/github/github-auth-service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-commits-since.service.js
  services/github/github-contributors.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-helpers.js
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-languages-base.js
  services/github/github-last-commit.service.js
  services/github/github-license.service.js
  services/github/github-manifest.service.js
  services/github/github-package-json.service.js
  services/github/github-pull-request-check-state.service.js
  services/github/github-release-date.service.js
  services/github/github-release.service.js
  services/github/github-repo-size.service.js
  services/github/github-search.service.js
  services/github/github-size.service.js
  services/github/github-stars.service.js
  services/github/github-tag.service.js
  services/github/github-watchers.service.js
Labels: core, service-badge

#3811 fix runtime type error in [crates] version
  services/crates/crates-base.js
  services/crates/crates-version.service.js
  services/crates/crates-version.spec.js
  services/crates/crates-version.tester.js
Labels: service-badge
