Repository badges/shields, pull requests merged in 2019-02, with the labels that each got.

#2907 Endpoint page: improve formatting
  frontend/components/common.js
  frontend/components/endpoint-page.js
  frontend/components/main.js
Labels: blocker, frontend

#2869 Add semantic color keywords and improve formatting of color examples
  frontend/components/usage.js
  gh-badges/README.md
  gh-badges/lib/color.js
  gh-badges/lib/color.spec.js
Labels: core, documentation, npm-package

#2919 delete LGTM logo
  logo/lgtm.svg
Labels: service-badge

#2932 Remove some obsolete .networkOff() tests
  services/circleci/circleci.tester.js
  services/dynamic/dynamic-json.tester.js
  services/nexus/nexus.tester.js
  services/npm/npm-downloads.tester.js
  services/steam/steam-workshop.tester.js
  services/uptimerobot/uptimerobot-ratio.tester.js
  services/uptimerobot/uptimerobot-status.tester.js
Labels: keep-service-tests-green, service-badge

#2933 Fixed JaCoCo example
  services/jenkins/jenkins-coverage.service.js
Labels: service-badge

#2938 deprecatedService: rename `url` to `route` for consistency; test on [versioneye]
  core/base-service/deprecated-service.js
  core/base-service/deprecated-service.spec.js
  doc/deprecating-badges.md
  services/bithound/bithound.service.js
  services/cauditor/cauditor.service.js
  services/cocoapods/cocoapods-apps.service.js
  services/cocoapods/cocoapods-downloads.service.js
  services/coverity/coverity-on-demand.service.js
  services/coverity/coverity-scan.service.js
  services/dockbit/dockbit.service.js
  services/dotnetstatus/dotnetstatus.service.js
  services/gemnasium/gemnasium.service.js
  services/gratipay/gratipay.service.js
  services/imagelayers/imagelayers.service.js
  services/issuestats/issuestats.service.js
  services/libscore/libscore.service.js
  services/magnumci/magnumci.service.js
  services/nsp/nsp.service.js
  services/snap-ci/snap-ci.service.js
  services/versioneye/versioneye.service.js
Labels: core, service-badge

#2930 Add CLI for debugging badges
  README.md
  package.json
  scripts/badge-cli.js
Labels: developer-experience

#2936 Fix some service tests [circle dependabot githubissues]
  services/circleci/circleci.tester.js
  services/dependabot/dependabot.tester.js
  services/github/github-issues.tester.js
Labels: keep-service-tests-green

#2940 Update [TeamCity] Test and Example Projects
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-build.tester.js
  services/teamcity/teamcity-coverage.service.js
  services/teamcity/teamcity-coverage.tester.js
Labels: keep-service-tests-green, service-badge

#2906 Adopt Gatsby
  .circleci/config.yml
  .eslintignore
  .gitignore
  .nowignore
  .nycrc-frontend.json
  .nycrc.json
  .prettierignore
  Makefile
  README.md
  core/base-service/legacy-result-sender.js
  core/server/error-pages/404.html
  core/server/error-pages/500.html
  core/server/public/monitor.html
  core/server/server.js
  core/server/server.spec.js
  dangerfile.js
  doc/self-hosting.md
  frontend/components/category-headings.js
  frontend/components/donate.js
  frontend/components/header.js
  frontend/components/main.js
  frontend/components/meta.js
  frontend/components/usage.js
  frontend/constants.js
  frontend/images/favicon.png
  frontend/images/logo.svg
  frontend/lib/redirect-legacy-routes.js
  frontend/mocha-ignore-pngs.js
  frontend/pages/endpoint.js
  frontend/pages/index.js
  frontend/require-all.spec.js
  gatsby-config.js
  gatsby-node.js
  next.config.js
  now.json
  package-lock.json
  package.json
  pages/.eslintrc.yml
  pages/_document.js
  pages/index.js
  public/_next
  public/favicon.png
  public/index.html
  public/static
  services/github/auth/acceptor.js
Labels: blocker, frontend

#2945 Readme: Repair link to logo
  README.md
Labels: documentation

#2944 Update deploy script for Gatsby build
  Makefile
Labels: frontend, operations

#2952 Update from RawGit to local path
  README.md
Labels: documentation

#2934 Refactor the NuGet v2 badges; switch Resharper to XML; patch for missing download counts [resharper powershell chocolatey]
  services/chocolatey/chocolatey.service.js
  services/chocolatey/chocolatey.tester.js
  services/nuget-fixtures.js
  services/nuget/nuget-helpers.js
  services/nuget/nuget-helpers.spec.js
  services/nuget/nuget-v2-service-family.js
  services/powershellgallery/powershellgallery.service.js
  services/resharper/resharper.service.js
  services/resharper/resharper.tester.js
Labels: blocker, service-badge

#2910 [NodePing] support for NodePing uptime monitoring service
  services/nodeping/nodeping-status.service.js
  services/nodeping/nodeping-status.tester.js
  services/nodeping/nodeping-uptime.service.js
  services/nodeping/nodeping-uptime.tester.js
Labels: service-badge

#2890 Add a diagnostic page for testing logos
  Makefile
  frontend/components/development/logo-page.js
  frontend/components/usage.js
  gatsby-node.js
  scripts/export-supported-features-cli.js
Labels: developer-experience

#2958 Use normalized colors to fix [dynamic matrix nexus] service tests
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.tester.js
  services/matrix/matrix.tester.js
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green

#2957 Make [wercker] "no builds" terminology consistent with other badges
  services/wercker/wercker.service.js
  services/wercker/wercker.tester.js
Labels: keep-service-tests-green, service-badge

#2939 Redirect from alias to canonical URL [azuredevops vso]
  core/base-service/index.js
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-build.tester.js
  services/azure-devops/azure-devops-release.service.js
  services/azure-devops/azure-devops-release.tester.js
  services/azure-devops/vso-redirect.service.js
  services/azure-devops/vso-redirect.tester.js
Labels: blocker, core, service-badge

#2926 Add badge for the [HSTS] preload list
  services/hsts/hsts.service.js
  services/hsts/hsts.tester.js
Labels: service-badge

#2959 Some cleanup in [bower]
  services/bower/bower-base.js
  services/bower/bower-license.tester.js
  services/bower/bower-version.service.js
  services/bower/bower-version.tester.js
Labels: keep-service-tests-green, service-badge

#2963 Add some coverage to BaseService, export directly, improve an error message
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/route.js
  core/base-service/route.spec.js
Labels: core

#2967 Restore [Coverity] service
  services/coverity/coverity-scan.service.js
  services/coverity/coverity-scan.tester.js
Labels: service-badge

#2962 Add some more perfunctory coverage of the frontend
  frontend/components/common.spec.js
  frontend/components/donate.spec.js
  frontend/components/main.spec.js
  frontend/components/usage.spec.js
Labels: frontend

#2972 refactor [amo] service
  services/amo/amo-base.js
  services/amo/amo-downloads.service.js
  services/amo/amo-downloads.tester.js
  services/amo/amo-rating.service.js
  services/amo/amo-rating.tester.js
  services/amo/amo-users.service.js
  services/amo/amo-users.tester.js
  services/amo/amo-version.service.js
  services/amo/amo-version.tester.js
  services/amo/amo.service.js
  services/amo/amo.tester.js
Labels: service-badge

#2970 [jsDelivr] badges
  services/jsdelivr/jsdelivr-base.js
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-github.tester.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
Labels: service-badge

#2977 refactor [cocoapods] service
  services/cocoapods/cocoapods-base.js
  services/cocoapods/cocoapods-docs.service.js
  services/cocoapods/cocoapods-docs.tester.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-license.tester.js
  services/cocoapods/cocoapods-metrics.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cocoapods/cocoapods-platform.tester.js
  services/cocoapods/cocoapods-version.service.js
  services/cocoapods/cocoapods-version.tester.js
  services/cocoapods/cocoapods.service.js
Labels: service-badge

#2988 Remove unused parameter in [jsdelivr]
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
Labels: service-badge

#2956 Example keywords validation
  core/base-service/transform-example.js
  core/base-service/transform-example.spec.js
  services/cii-best-practices/cii-best-practices.service.js
  services/cran/cran.service.js
  services/date/date.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-commits-since.service.js
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-license.service.js
  services/jira/jira-issue.service.js
  services/jira/jira-sprint.service.js
  services/jsdelivr/jsdelivr-base.js
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/leanpub/leanpub-book-summary.service.js
  services/luarocks/luarocks.service.js
  services/pypi/pypi-djversions.service.js
  services/pypi/pypi-pyversions.service.js
  services/redmine/redmine.service.js
  services/requires/requires.service.js
  services/vaadin-directory/vaadin-directory.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
  services/wordpress/wordpress-version.service.js
Labels: core, developer-experience

#2989 Tweak [spiget] badges
  services/spiget/spiget-base.js
  services/spiget/spiget-download-size.service.js
  services/spiget/spiget-downloads.service.js
  services/spiget/spiget-latest-version.service.js
  services/spiget/spiget-latest-version.tester.js
  services/spiget/spiget-rating.service.js
  services/spiget/spiget-tested-versions.service.js
Labels: service-badge

#2908 Endpoint customizer
  frontend/components/customizer/builder-common.js
  frontend/components/customizer/copied-content-indicator.js
  frontend/components/customizer/customizer.js
  frontend/components/customizer/path-builder.js
  frontend/components/customizer/path-builder.spec.js
  frontend/components/customizer/query-string-builder.js
  frontend/components/customizer/request-markup-button.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/pages/endpoint.js
Labels: frontend

#2969 Add badges for [Keybase]
  services/keybase/keybase-btc.service.js
  services/keybase/keybase-btc.tester.js
  services/keybase/keybase-pgp.service.js
  services/keybase/keybase-pgp.tester.js
  services/keybase/keybase-profile.js
  services/keybase/keybase-xlm.service.js
  services/keybase/keybase-xlm.tester.js
  services/keybase/keybase-zec.service.js
  services/keybase/keybase-zec.tester.js
Labels: service-badge

#3005 refactor [maintenance] service
  services/maintenance/maintenance.service.js
  services/maintenance/maintenance.tester.js
Labels: service-badge

#3009 refactor [homebrew] service
  services/homebrew/homebrew.service.js
  services/homebrew/homebrew.tester.js
Labels: service-badge

#3006 fix asciiDoc links
  frontend/lib/generate-image-markup.js
  frontend/lib/generate-image-markup.spec.js
Labels: frontend

#3010 refactor [discourse] service
  services/discourse/discourse.service.js
  services/discourse/discourse.tester.js
Labels: service-badge

#3008 refactor [bugzilla] service
  services/bugzilla/bugzilla.service.js
  services/bugzilla/bugzilla.spec.js
  services/bugzilla/bugzilla.tester.js
Labels: service-badge

#2935 Add Mozilla HTTP Observatory badge [MozillaObservatory]
  services/mozilla-observatory/mozilla-observatory.service.js
  services/mozilla-observatory/mozilla-observatory.tester.js
Labels: service-badge

#2882 Drop-downs for multiple choice in patterns
  frontend/components/customizer/builder-common.js
  frontend/components/customizer/path-builder.js
  frontend/lib/pattern-helpers.js
  frontend/lib/pattern-helpers.spec.js
  services/david/david.service.js
  services/pypi/pypi-downloads.service.js
Labels: frontend

#3029 Store the deprecation date inline
  core/base-service/deprecated-service.js
  doc/deprecating-badges.md
  lib/deprecated-services.js
  services/bithound/bithound.service.js
  services/cauditor/cauditor.service.js
  services/cocoapods/cocoapods-apps.service.js
  services/cocoapods/cocoapods-downloads.service.js
  services/coverity/coverity-on-demand.service.js
  services/dockbit/dockbit.service.js
  services/dotnetstatus/dotnetstatus.service.js
  services/gemnasium/gemnasium.service.js
  services/gratipay/gratipay.service.js
  services/imagelayers/imagelayers.service.js
  services/issuestats/issuestats.service.js
  services/libscore/libscore.service.js
  services/magnumci/magnumci.service.js
  services/nsp/nsp.service.js
  services/snap-ci/snap-ci.service.js
  services/versioneye/versioneye.service.js
Labels: core, service-badge

#3025 Omit style=flat from generated URLs
  frontend/components/customizer/customizer.js
  frontend/components/customizer/query-string-builder.js
  frontend/components/markup-modal/markup-modal-content.js
Labels: frontend

#3034 npm install -> npm ci
  .circleci/config.yml
  .gitpod.yml
  .prettierignore
  Dockerfile
  README.md
  doc/TUTORIAL.md
  doc/self-hosting.md
Labels: developer-experience

#3040 Tweak [maintenance] badge in UI; remove caching
  services/maintenance/maintenance.service.js
Labels: service-badge

#3038 Upgrade to Mocha 6 and update configuration
  mocha.opts
  mocharc-frontend.yml
  mocharc.yml
  package-lock.json
  package.json
Labels: dependencies, developer-experience

#3030 Improve handling of some edge cases, rm unused fn, and get 100% coverage in generate-image-markup
  frontend/lib/generate-image-markup.js
  frontend/lib/generate-image-markup.spec.js
Labels: frontend

#3035 Fix [GithubManifest] and [GithubPackageJson] when static auth is not configured
  services/github/github-common-fetch.js
Labels: bug, service-badge

#3041 Test transformExample directly
  core/base-service/base.spec.js
  core/base-service/transform-example.spec.js
Labels: core

#3037 Combine some badge examples using drop-downs, tweak some titles
  services/bundlephobia/bundlephobia.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commits-since.service.js
  services/github/github-issue-detail.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
  services/packagist/packagist-downloads.service.js
  services/sourceforge/sourceforge.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
Labels: blocker, service-badge

#3014 Fall back to grabbing version from "X :: Only" PyPI classifiers
  services/pypi/pypi-pyversions.service.js
  services/pypi/pypi.tester.js
Labels: service-badge

#3012 Rename colorB -> color; colorA -> labelColor; test on [endpoint dynamic static]
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  frontend/components/customizer/query-string-builder.js
  frontend/components/usage.js
  frontend/lib/badge-url.js
  frontend/lib/badge-url.spec.js
  frontend/pages/endpoint.js
  services/endpoint/endpoint.tester.js
Labels: blocker, core

#3007 improve docs for simple-icons usage
  frontend/components/usage.js
Labels: documentation

#3036 Use drop-down for [jsdelivr] and make badges more consistent with other download badges
  services/jsdelivr/jsdelivr-base.js
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-github.tester.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
Labels: service-badge

#3052 Require constructors to be called with new
  .eslintrc.yml
  core/base-service/base-svg-scraping.js
  gh-badges/lib/lru-cache.js
  gh-badges/lib/lru-cache.spec.js
  services/github/github-common-fetch.js
Labels: bug, developer-experience

#3059 Remove IP filtering code for prometheus metrics
  config/custom-environment-variables.yml
  config/default.yml
  core/server/prometheus-metrics.js
  core/server/prometheus-metrics.spec.js
  core/server/server.js
Labels: core

#3058 Fix your-badge link
  .eslintrc.yml
  frontend/components/usage.js
  frontend/pages/endpoint.js
  gatsby-browser.js
Labels: frontend

#2971 Add SymfonyInsight stars badge, run [SymfonyInsight sensiolabs amo chrome-web-store redmine spigetratings vaadin-directory visualstudiomarketplacerating wordpress]
  lib/text-formatters.js
  lib/text-formatters.spec.js
  services/symfony/sensiolabs-redirect.service.js
  services/symfony/sensiolabs-redirect.tester.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-grade.tester.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-stars.tester.js
  services/symfony/symfony-insight-violations.service.js
  services/symfony/symfony-insight-violations.tester.js
  services/symfony/symfony-insight.service.js
  services/symfony/symfony-insight.tester.js
  services/symfony/symfony-test-helpers.js
Labels: service-badge

#3057 Move flip cache debug service into [debug]
  services/debug/debug.service.js
  services/debug/debug.tester.js
  services/flip/flip.service.js
  services/flip/flip.tester.js
Labels: service-badge

#3055 Alphabetize JSX props in the frontend
  .eslintrc-frontend.yml
  frontend/components/common.js
  frontend/components/common.spec.js
  frontend/components/customizer/copied-content-indicator.js
  frontend/components/customizer/customizer.js
  frontend/components/customizer/path-builder.js
  frontend/components/customizer/query-string-builder.js
  frontend/components/customizer/request-markup-button.js
  frontend/components/development/logo-page.js
  frontend/components/dynamic-badge-maker.js
  frontend/components/footer.js
  frontend/components/main.js
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/components/meta.js
  frontend/components/static-badge-maker.js
  frontend/components/suggestion-and-search.js
  frontend/components/usage.js
  frontend/pages/endpoint.js
Labels: developer-experience

#3042 Validate query params in BaseService [npm nodeping mozillaobservatory matrix gitlab f-droid endpoint dynamic bitbucket appveyor]
  core/base-service/base-svg-scraping.spec.js
  core/base-service/base-xml.spec.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/route.js
  core/base-service/route.spec.js
  services/appveyor/appveyor-tests.service.js
  services/appveyor/appveyor-tests.tester.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/dynamic/dynamic-helpers.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-yaml.service.js
  services/endpoint/endpoint.service.js
  services/f-droid/f-droid.service.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/matrix/matrix.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
  services/mozilla-observatory/mozilla-observatory.tester.js
  services/nodeping/nodeping-status.service.js
  services/npm/npm-base.js
Labels: blocker, core, service-badge

#3047 Update Travis logo, Reduce some duplication
  lib/logos.js
  logo/travis.svg
Labels: core

#3032 Consolidate badge URL generation functions
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  frontend/components/customizer/customizer.js
  frontend/components/development/logo-page.js
  frontend/components/dynamic-badge-maker.js
  frontend/components/footer.js
  frontend/components/static-badge-maker.js
  frontend/components/suggestion-and-search.js
  frontend/components/usage.js
  frontend/lib/badge-url.js
  frontend/lib/badge-url.spec.js
  frontend/lib/resolve-url.js
  frontend/lib/resolve-url.spec.js
  frontend/pages/endpoint.js
Labels: blocker, frontend

#3050 Shorten [endpoint] URL
  frontend/components/usage.js
  frontend/pages/endpoint.js
  services/endpoint/endpoint-redirect.service.js
  services/endpoint/endpoint-redirect.tester.js
  services/endpoint/endpoint.service.js
Labels: service-badge

#3031 Improve coverage in frontend and remove some dead code
  frontend/components/badge-examples.js
  frontend/components/badge-examples.spec.js
  frontend/components/category-headings.spec.js
  frontend/components/common.spec.js
  frontend/components/donate.spec.js
  frontend/components/footer.spec.js
  frontend/components/header.spec.js
  frontend/components/main.spec.js
  frontend/components/meta.spec.js
  frontend/components/snippet.js
  frontend/components/snippet.spec.js
  frontend/components/usage.spec.js
  frontend/enzyme-conf.spec.js
  frontend/pages/endpoint.spec.js
  frontend/pages/index.spec.js
Labels: frontend

#3084 refactor chef [cookbook] service
  services/cookbook/cookbook.service.js
  services/cookbook/cookbook.tester.js
Labels: service-badge

#3086 Remove unused version helper
  lib/version.js
Labels: service-badge

#3085 refactor [maven-metadata] service
  services/maven-metadata/maven-metadata.service.js
  services/maven-metadata/maven-metadata.tester.js
Labels: service-badge

#3063 Add frontend prop-type validation for the service definition schema
  core/base-service/service-definitions.js
  frontend/components/badge-examples.js
  frontend/components/customizer/customizer.js
  frontend/components/customizer/path-builder.js
  frontend/components/customizer/query-string-builder.js
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/lib/service-definitions/service-definition-prop-types.js
Labels: frontend

#3049 Named logo should override logoSvg in [endpoint]; also test [static]
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
Labels: bug, core, service-badge

#3087 Remove unused package
  gatsby-config.js
  package-lock.json
  package.json
Labels: dependencies

#3091 Fix color overriding for legacy services
  lib/badge-data.js
Labels: core

#3083 fix [amo] badges
  services/amo/amo-base.js
  services/amo/amo-downloads.service.js
  services/amo/amo-downloads.tester.js
  services/amo/amo-rating.service.js
  services/amo/amo-users.service.js
  services/amo/amo-version.service.js
Labels: service-badge

#3090 Rename maxAge to cacheSeconds
  README.md
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  core/base-service/cache-headers.js
  core/base-service/cache-headers.spec.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  frontend/components/usage.js
  lib/badge-data.js
  services/endpoint/endpoint.tester.js
Labels: core

#3095 Rewrite [GitHubLicense]
  services/github/github-license.service.js
  services/github/github-license.spec.js
  services/github/github-license.tester.js
Labels: service-badge

#3094 Refactor [luarocks]
  services/luarocks/luarocks-version-helpers.js
  services/luarocks/luarocks-version-helpers.spec.js
  services/luarocks/luarocks.service.js
  services/luarocks/luarocks.spec.js
  services/luarocks/luarocks.tester.js
Labels: service-badge

#3098 Rewrite [GithubRelease]
  services/github/github-release-date.tester.js
  services/github/github-release-redirect.service.js
  services/github/github-release-redirect.tester.js
  services/github/github-release.service.js
  services/github/github-release.tester.js
Labels: service-badge

#3100 Reorganize categories code
  core/base-service/base.js
  core/base-service/categories.js
  core/base-service/loader.js
  services/categories.js
Labels: core

#3110 use caret for all gh-badges dependencies
  gh-badges/package.json
  package-lock.json
Labels: dependencies, npm-package

#3088 add notes to logo docs about brand guidelines
  doc/logos.md
Labels: documentation

#3099 Rewrite [GithubSearch]
  services/github/github-search.service.js
  services/github/github-search.tester.js
Labels: service-badge

#3097 New expectBadge helper, affects [Wercker]
  core/service-test-runner/icedfrisby-no-nock.js
  core/service-test-runner/icedfrisby-shields.js
  core/service-test-runner/service-tester.js
  doc/service-tests.md
  services/wercker/wercker.tester.js
Labels: developer-experience

#3109 Convert some format regexes to patterns
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-pipelines.service.js
  services/coverity/coverity-on-demand.service.js
  services/crates/crates-downloads.service.js
  services/crates/crates-license.service.js
  services/dockbit/dockbit.service.js
  services/dotnetstatus/dotnetstatus.service.js
  services/gemnasium/gemnasium.service.js
  services/imagelayers/imagelayers.service.js
  services/jetbrains/jetbrains-base.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-version.service.js
  services/librariesio/librariesio-base.js
  services/libscore/libscore.service.js
  services/magnumci/magnumci.service.js
  services/static-badge/query-string-static.service.js
  services/versioneye/versioneye.service.js
Labels: service-badge

#3093 Add per-badge metrics for BaseService
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base.js
  core/base-service/categories.js
  core/base-service/deprecated-service.js
  core/base-service/deprecated-service.spec.js
  core/base-service/loader.js
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  core/base-service/route.js
  core/server/prometheus-metrics.js
  core/server/prometheus-metrics.spec.js
  core/server/server.js
  package-lock.json
  package.json
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/check-services.spec.js
  services/chrome-web-store/chrome-web-store.service.js
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-version.service.js
  services/cocoapods/cocoapods-apps.service.js
  services/cocoapods/cocoapods-downloads.service.js
  services/conda/conda-version.service.js
  services/discourse/discourse.service.js
  services/dub/dub-download.service.js
  services/eclipse-marketplace/eclipse-marketplace-downloads.service.js
  services/gratipay/gratipay.service.js
  services/hexpm/hexpm.service.js
  services/jetbrains/jetbrains-version.service.js
  services/npm/npm-downloads.service.js
  services/nuget/nuget-v2-service-family.js
  services/packagecontrol/packagecontrol.service.js
  services/powershellgallery/powershellgallery.service.js
  services/puppetforge/puppetforge-modules.service.js
  services/puppetforge/puppetforge-users.service.js
  services/resharper/resharper.service.js
  services/snap-ci/snap-ci.service.js
  services/static-badge/query-string-static.service.js
  services/static-badge/static-badge.service.js
  services/vaadin-directory/vaadin-directory.service.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version.service.js
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-class.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: blocker, core

#3115 Remove Heroku buildpack config; allow devDependencies to be pruned
  .buildpacks
  app.json
Labels: developer-experience, self-hosting

#3117 Refactor [bitrise]
  services/bitrise/bitrise.service.js
  services/bitrise/bitrise.tester.js
Labels: service-badge
