Repository badges/shields, pull requests merged in 2019-12, with the labels that each got.

#4222 fix [nuget] version build metadata handling
  services/nuget-fixtures.js
  services/nuget/nuget-v3-service-family.js
  services/nuget/nuget.tester.js
Labels: bug, service-badge

#4272 Refactor JSONPath based services, run [DynamicJson DynamicYaml]
  core/base-service/base.spec.js
  package-lock.json
  package.json
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-yaml.service.js
  services/dynamic/dynamic-yaml.tester.js
  services/dynamic/json-path.js
  services/dynamic/json-path.spec.js
Labels: service-badge

#4398 Remove blank space for examples with no named parameters
  frontend/components/customizer/path-builder.tsx
Labels: frontend

#4392 Changed configuration validation to allow using a named pipe for port.
  core/server/server.js
  core/server/server.spec.js
Labels: core

#4435 Add documentation for designing badge URLs
  CONTRIBUTING.md
  doc/TUTORIAL.md
  doc/badge-urls.md
Labels: documentation

#4436 Convert vpre routes to include_prereleases param in [bower chocolatey clojars packagist powershellgallery pub resharper]
  core/service-test-runner/icedfrisby-shields.js
  services/bower/bower-version.service.js
  services/bower/bower-version.tester.js
  services/chocolatey/chocolatey.tester.js
  services/clojars/clojars-base.js
  services/clojars/clojars-release.service.js
  services/clojars/clojars-release.tester.js
  services/clojars/clojars-snapshot.service.js
  services/clojars/clojars-snapshot.tester.js
  services/clojars/clojars-version.service.js
  services/clojars/clojars-version.tester.js
  services/nuget/nuget-v2-service-family.js
  services/packagist/packagist-version.service.js
  services/packagist/packagist-version.tester.js
  services/powershellgallery/powershellgallery.service.js
  services/powershellgallery/powershellgallery.tester.js
  services/pub/pub.service.js
  services/pub/pub.tester.js
  services/resharper/resharper.tester.js
Labels: service-badge

#4475 Updates [Discord] badge for API changes
  services/discord/discord.service.js
Labels: service-badge

#4479 deprecate [leanpub] badges
  services/leanpub/leanpub-book-summary.service.js
  services/leanpub/leanpub-book-summary.tester.js
Labels: service-badge

#4478 Add [GithubDeployments] badge (#4477)
  services/github/github-deployments.service.js
  services/github/github-deployments.spec.js
  services/github/github-deployments.tester.js
Labels: service-badge, squash when passing
