Repository badges/shields, pull requests merged in 2019-09, with the labels that each got.

#3935 [MavenCentral] service should not parse versions as number
  services/maven-central/maven-central.service.js
  services/maven-central/maven-central.tester.js
Labels: service-badge

#3933 Handle missing [SymfonyInsightGrade] gracefully
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight.spec.js
  services/symfony/symfony-test-helpers.js
Labels: bug, service-badge

#3934 Tweak Gitpod config
  .gitpod.yml
Labels: developer-experience, squash when passing

#3948 Add a response-time metric
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base.js
  core/base-service/metric-helper.js
  core/base-service/redirector.js
  core/server/prometheus-metrics.js
  core/server/server.js
Labels: blocker, operations, squash when passing

#3949 Bump npm from 6.10.3 to 6.11.3
  package.json
Labels: dependencies, squash when passing

#3950 Exclude more in-use GitHub IPs from rate limiting and add metrics
  core/server/monitor.js
  core/server/prometheus-metrics.js
  core/server/server.js
Labels: blocker, operations

#3953 Add [Netlify] (fixed #3129)
  services/netlify/netlify.service.js
  services/netlify/netlify.spec.js
  services/netlify/netlify.tester.js
Labels: service-badge

#3956 [npmversion] require key 'latest' to exist
  services/npm/npm-version.service.js
  services/npm/npm-version.tester.js
Labels: squash when passing

#3961 document exceptions
  core/base-service/errors.js
Labels: documentation, squash when passing

#3962 Fix [Scrutinizer] error when using default branch without analysis data
  services/scrutinizer/scrutinizer-base.js
  services/scrutinizer/scrutinizer-quality.tester.js
Labels: bug, service-badge, squash when passing

#3957 link to contributing.shields.io in the docs
  CONTRIBUTING.md
  doc/TUTORIAL.md
  doc/production-hosting.md
Labels: documentation, squash when passing

#3683 add [twitch] user status badge
  core/server/server.js
  doc/server-secrets.md
  services/twitch/twitch-base.js
  services/twitch/twitch.service.js
  services/twitch/twitch.tester.js
Labels: service-badge

#3985 Add Twitch keys to configuration files
  app.json
  config/custom-environment-variables.yml
  config/local-shields-io-production.template.yml
  config/local.template.yml
Labels: service-badge

#3958 Added [SecurityHeaders] badge
  services/security-headers/security-headers.service.js
  services/security-headers/security-headers.tester.js
Labels: service-badge

#3986 Support custom [Packagist] server
  services/packagist/packagist-base.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-downloads.tester.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-license.tester.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-php-version.tester.js
  services/packagist/packagist-version.service.js
  services/packagist/packagist-version.tester.js
Labels: service-badge

#4015 Throw explicit error on invalid [codefactorgrade] color
  services/codefactor/codefactor-grade.service.js
  services/codefactor/codefactor-grade.tester.js
  services/codefactor/codefactor-helpers.js
Labels: bug, service-badge

#4024 Fix AssertionError in [DynamicJson] when a non-object is in the JSON
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-json.tester.js
Labels: bug, service-badge, squash when passing

#4023 Fix TypeError for invalid [Debian] response
  services/debian/debian.service.js
  services/debian/debian.tester.js
Labels: bug, service-badge, squash when passing

#4029 fix [LiberapayGoal] type error when no receiving data exists
  services/liberapay/liberapay-goal.service.js
  services/liberapay/liberapay-goal.spec.js
  services/liberapay/liberapay-goal.tester.js
Labels: bug, service-badge, squash when passing

#4030 fix [GitHubDownloads] type error on latest with pre-downloads
  services/github/github-downloads.service.js
  services/github/github-downloads.tester.js
Labels: bug, service-badge, squash when passing

#4028 move [Website] url to query param
  services/website/website-redirect.service.js
  services/website/website-redirect.tester.js
  services/website/website.service.js
  services/website/website.tester.js
Labels: service-badge, squash when passing

#4027 move [Twitter] url to query param
  services/suggest.integration.js
  services/suggest.js
  services/suggest.spec.js
  services/twitter/twitter-redirect.service.js
  services/twitter/twitter-redirect.tester.js
  services/twitter/twitter.service.js
  services/twitter/twitter.tester.js
Labels: service-badge, squash when passing

#4020 move [Discourse] url to query param
  cypress/integration/main-page.spec.js
  services/discourse/discourse-redirect.service.js
  services/discourse/discourse-redirect.tester.js
  services/discourse/discourse.service.js
  services/discourse/discourse.tester.js
Labels: service-badge, squash when passing

#4032 Tweak coverage ignores
  .nycrc.json
Labels: developer-experience, squash when passing

#3990 move [Jira] hostname to query param
  services/jira/jira-issue-redirect.service.js
  services/jira/jira-issue-redirect.tester.js
  services/jira/jira-issue.service.js
  services/jira/jira-issue.spec.js
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint-redirect.service.js
  services/jira/jira-sprint-redirect.tester.js
  services/jira/jira-sprint.service.js
  services/jira/jira-sprint.spec.js
  services/jira/jira-sprint.tester.js
Labels: service-badge, squash when passing

#4026 Finish Typescripterizing the frontend
  .eslintrc.yml
  core/base-service/service-definitions.js
  frontend/components/badge-examples.tsx
  frontend/components/customizer/copied-content-indicator.tsx
  frontend/components/customizer/customizer.tsx
  frontend/components/customizer/request-markup-button.tsx
  frontend/components/main.tsx
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/index.tsx
  frontend/components/markup-modal/markup-modal-content.tsx
  frontend/components/suggestion-and-search.tsx
  frontend/lib/service-definitions/example-prop-types.js
  frontend/lib/service-definitions/index.ts
  frontend/lib/service-definitions/service-definition-prop-types.js
  frontend/pages/endpoint.tsx
  frontend/pages/index.tsx
  gatsby-node.js
  package-lock.json
  package.json
Labels: frontend, squash when passing

#4034 Fix [CodefactorGrade] again
  services/codefactor/codefactor-helpers.js
Labels: service-badge, squash when passing

#4022 switch [TeamCity] to pattern and move url to query param
  services/teamcity/teamcity-base.js
  services/teamcity/teamcity-build-redirect.service.js
  services/teamcity/teamcity-build-redirect.tester.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-build.spec.js
  services/teamcity/teamcity-build.tester.js
  services/teamcity/teamcity-coverage-redirect.service.js
  services/teamcity/teamcity-coverage-redirect.tester.js
  services/teamcity/teamcity-coverage.service.js
  services/teamcity/teamcity-coverage.spec.js
  services/teamcity/teamcity-coverage.tester.js
Labels: service-badge, squash when passing

#4021 move [MavenMetadata] url to query param
  services/maven-metadata/maven-metadata-redirect.service.js
  services/maven-metadata/maven-metadata-redirect.tester.js
  services/maven-metadata/maven-metadata.service.js
  services/maven-metadata/maven-metadata.tester.js
Labels: service-badge, squash when passing

#4036 encode usernames for links in [Twitter]
  services/twitter/twitter.service.js
Labels: bug, service-badge, squash when passing

#4038 Add [MicrobadgerSize] documentation
  services/microbadger/microbadger-size.service.js
Labels: documentation, service-badge

#4039 Add Twitch and Wheelmap OAuth app owners
  doc/production-hosting.md
Labels: documentation, squash when passing

#4063 support basic auth with just pass token
  core/base-service/auth-helper.js
  core/base-service/auth-helper.spec.js
  services/azure-devops/azure-devops-base.js
Labels: service-badge

#4060 upgrade Joi and related packages
  core/base-service/base.js
  core/base-service/categories.js
  core/base-service/route.js
  core/base-service/service-definitions.js
  core/base-service/validate.js
  core/base-service/validate.spec.js
  core/service-test-runner/icedfrisby-shields.js
  package-lock.json
  package.json
  services/azure-devops/azure-devops-tests.tester.js
  services/bstats/bstats-players.service.js
  services/bstats/bstats-servers.service.js
  services/build-status.js
  services/codacy/codacy-coverage.service.js
  services/endpoint-common.js
  services/endpoint/endpoint.tester.js
  services/f-droid/f-droid.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
  services/mozilla-observatory/mozilla-observatory.tester.js
  services/shippable/shippable.service.js
  services/snyk/snyk-vulnerability-base.js
  services/sonar/sonar-tests.tester.js
  services/static-badge/static-badge.tester.js
  services/twitch/twitch.tester.js
  services/validators.js
Labels: blocker, core, dependencies, service-badge

#4069 Update to Simple Icons 1.16.0
  package-lock.json
  package.json
Labels: squash when passing

#4099 add `killed` to [Drone] schema
  services/drone/drone-build.service.js
  services/drone/drone-build.tester.js
Labels: keep-service-tests-green, service-badge
