Repository badges/shields, pull requests merged in 2019-08, with the labels that each got.

#3812 Handle missing UserDownloads in [ChromeWebStoreUsers]
  services/chrome-web-store/chrome-web-store-users.service.js
  services/chrome-web-store/chrome-web-store-users.tester.js
Labels: bug, service-badge

#3815 fix runtime TypeError in [CodeFactorGrade] service
  services/codefactor/codefactor-grade.service.js
Labels: service-badge

#3829 tweak build schema for [AzureDevOpsBuild] to handle never built use case
  services/azure-devops/azure-devops-build.tester.js
  services/azure-devops/azure-devops-helpers.js
Labels: service-badge

#3831 Fix trailing 0 in [F-Droid] yaml format
  services/f-droid/f-droid.service.js
  services/f-droid/f-droid.tester.js
Labels: bug, service-badge

#3817 make [MozillaObservatory] service tests more durable
  services/mozilla-observatory/mozilla-observatory.tester.js
Labels: keep-service-tests-green

#3835 fix sinon version in lockfile
  package-lock.json
  package.json
Labels: dependencies

#3837 fix [aur] vote service test
  services/aur/aur.tester.js
Labels: keep-service-tests-green

#3850 improve docs for base service classes
  .eslintrc.yml
  core/base-service/base-graphql.js
  core/base-service/base-json.js
  core/base-service/base-svg-scraping.js
  core/base-service/base-xml.js
  core/base-service/base-yaml.js
Labels: documentation

#3742 More TypeScript in the frontend
  .eslintrc.yml
  core/badge-urls/make-badge-url.d.ts
  frontend/components/badge-examples.spec.js
  frontend/components/category-headings.spec.js
  frontend/components/category-headings.tsx
  frontend/components/common.spec.tsx
  frontend/components/customizer/copied-content-indicator.tsx
  frontend/components/customizer/path-builder.spec.js
  frontend/components/development/logo-page.tsx
  frontend/components/donate.spec.tsx
  frontend/components/dynamic-badge-maker.tsx
  frontend/components/footer.spec.js
  frontend/components/footer.tsx
  frontend/components/header.spec.js
  frontend/components/header.tsx
  frontend/components/main.spec.js
  frontend/components/meta.spec.tsx
  frontend/components/snippet.spec.js
  frontend/components/snippet.tsx
  frontend/components/usage.spec.js
  frontend/components/usage.tsx
  frontend/lib/service-definitions/index.js
  frontend/lib/service-definitions/index.spec.ts
  frontend/lib/service-definitions/index.ts
  frontend/lib/service-definitions/service-definition-set-helper.spec.ts
  frontend/lib/service-definitions/service-definition-set-helper.ts
  frontend/lib/supported-features.ts
  frontend/pages/endpoint.spec.js
  frontend/pages/index.spec.js
  frontend/require-all.spec.js
  frontend/types/assets.d.ts
  frontend/types/mapbox__react-click-to-select/index.d.ts
  gatsby-node.js
  package-lock.json
  package.json
  tsconfig.json
Labels: frontend

#3876 Typescripterize StaticBadgeMaker
  frontend/components/static-badge-maker.tsx
Labels: frontend

#3877 fix [OSSLifecycle] service test with new active target
  services/osslifecycle/osslifecycle.tester.js
Labels: keep-service-tests-green

#3875 Validate input to BadgeFactory.create()
  gh-badges/README.md
  gh-badges/lib/index.js
  gh-badges/lib/index.spec.js
Labels: npm-package

#3610 move [githubtag] and [githubrelease] under /v, move variants to query params
  frontend/components/customizer/query-string-builder.js
  services/github/github-common-fetch.js
  services/github/github-release-redirect.service.js
  services/github/github-release-redirect.tester.js
  services/github/github-release.service.js
  services/github/github-release.spec.js
  services/github/github-release.tester.js
  services/github/github-tag.service.js
  services/github/github-tag.spec.js
  services/github/github-tag.tester.js
Labels: service-badge

#3881 remove deprecated properties
  gh-badges/README.md
  gh-badges/lib/badge-cli.js
  gh-badges/lib/index.js
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
Labels: npm-package

#3882 convert eslint-jsdoc warnings to errors
  .eslintrc.yml
  services/github/github-common-fetch.js
Labels: developer-experience

#3792 move [Nexus] server and queryOpt from route to query params
  services/nexus/nexus-redirect.service.js
  services/nexus/nexus-redirect.tester.js
  services/nexus/nexus.service.js
  services/nexus/nexus.spec.js
  services/nexus/nexus.tester.js
Labels: service-badge

#3899 Fix TLS errors preventing Redis connections in production
  package-lock.json
  package.json
  scripts/redis-connectivity-test.js
Labels: operations

#3879 Typescripterize BadgeExamples and SuggestionAndSearch
  frontend/components/badge-examples.tsx
  frontend/components/common.tsx
  frontend/components/main.js
  frontend/components/suggestion-and-search.tsx
  frontend/lib/service-definitions/index.ts
  package-lock.json
  package.json
Labels: frontend

#3900 improve reliability of [Snyk] tests
  services/snyk/snyk-vulnerability-github.tester.js
  services/snyk/snyk-vulnerability-npm.tester.js
Labels: keep-service-tests-green

#3911 improve durability of [nexus] service test
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green

#3910 update [DubDownload] service test to increase stability/reliability
  services/dub/dub-download.tester.js
Labels: keep-service-tests-green

#3902 Add service for [GitHubLabels]
  services/github/github-labels.service.js
  services/github/github-labels.tester.js
Labels: service-badge

#3885 Typescripterize QueryStringBuilder and PathBuilder
  frontend/components/common.tsx
  frontend/components/customizer/path-builder.tsx
  frontend/components/customizer/query-string-builder.tsx
Labels: frontend

#3912 update JenkinsTests example
  services/jenkins/jenkins-tests.service.js
Labels: keep-service-tests-green

#3884 Remove BadgeFactory
  gh-badges/README.md
  gh-badges/lib/index.js
  gh-badges/lib/index.spec.js
Labels: npm-package

#3922 Handle more [Twitter] invalid user inputs
  services/twitter/twitter.service.js
  services/twitter/twitter.tester.js
Labels: bug, service-badge

#3914 more lenient semver coerce in [wordpress] version
  services/wordpress/wordpress-version-color.js
  services/wordpress/wordpress-version-color.spec.js
Labels: bug, service-badge

#3880 Improve Gitpod automated setup
  .gitpod.yml
  README.md
Labels: developer-experience, squash when passing
