Repository badges/shields, pull requests merged in 2019-11, with the labels that each got.

#4271 fix [PackagistLicense] type error
  services/packagist/packagist-license.service.js
  services/packagist/packagist-license.spec.js
  services/packagist/packagist-version.spec.js
Labels: bug, service-badge, squash when passing

#4294 [Swagger] Specs are valid, when only warnings are shown
  services/swagger/swagger-redirect.service.js
  services/swagger/swagger-redirect.tester.js
  services/swagger/swagger.service.js
  services/swagger/swagger.tester.js
Labels: service-badge

#4301 fix [gitlab] pipeline status service test
  services/gitlab/gitlab-pipeline-status.service.js
Labels: keep-service-tests-green

#4299 fix [GitHubHacktoberfest] service test
  README.md
  services/github/github-hacktoberfest.service.js
  services/github/github-hacktoberfest.spec.js
  services/github/github-hacktoberfest.tester.js
Labels: keep-service-tests-green, service-badge

#4300 Bump simple-icons from 1.19.0 to 1.19.1
  package-lock.json
  package.json
Labels: dependencies

#4304 Fix [GithubRelease] not found case with include_prereleases
  services/github/github-release.service.js
  services/github/github-release.tester.js
Labels: bug, service-badge

#4305 Don't break the back button when redirecting legacy routes
  frontend/lib/redirect-legacy-routes.ts
Labels: frontend

#4321 fix flaky [mozillaobservatory] service tests
  services/mozilla-observatory/mozilla-observatory.tester.js
Labels: keep-service-tests-green

#4322 update [npm] type definition service tests
  services/npm/npm-base.js
  services/npm/npm-type-definitions.service.js
  services/npm/npm-type-definitions.spec.js
  services/npm/npm-type-definitions.tester.js
Labels: keep-service-tests-green, service-badge, squash when passing

#4112 Add [SourceForgeOpenTickets] badge
  services/sourceforge/sourceforge-open-tickets.service.js
  services/sourceforge/sourceforge-open-tickets.tester.js
Labels: service-badge

#3898 add support for [GitHubWorkflowStatus] (Actions) using BaseSvgScraping service implementation
  services/github/github-workflow-status.service.js
  services/github/github-workflow-status.tester.js
Labels: service-badge

#4367 [Packagist] user/repo must be lowercase
  services/packagist/packagist-base.js
Labels: service-badge, squash when passing

#4390 Move [Jenkins] job url to query parameter
  services/jenkins/jenkins-build-redirect.service.js
  services/jenkins/jenkins-build-redirect.tester.js
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-build.spec.js
  services/jenkins/jenkins-build.tester.js
  services/jenkins/jenkins-common.js
  services/jenkins/jenkins-common.spec.js
  services/jenkins/jenkins-coverage-redirector.service.js
  services/jenkins/jenkins-coverage-redirector.tester.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
  services/jenkins/jenkins-tests-redirector.service.js
  services/jenkins/jenkins-tests-redirector.tester.js
  services/jenkins/jenkins-tests.service.js
  services/jenkins/jenkins-tests.tester.js
Labels: service-badge
