Repository badges/shields, pull requests merged in 2019-04, with the labels that each got.

#3257 Fixed [Jitpack] Badges According to Shields Convention
  services/jitpack/jitpack-version-redirector.service.js
  services/jitpack/jitpack-version-redirector.tester.js
  services/jitpack/jitpack-version.service.js
  services/jitpack/jitpack-version.tester.js
Labels: service-badge

#3245 Fix [TeamCity] build
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-build.tester.js
Labels: service-badge

#3263 refactor [GithubIssues]
  services/github/github-issues.service.js
  services/github/github-issues.tester.js
Labels: service-badge

#3259 refactor [GithubIssueDetail]
  services/github/github-issue-detail-redirect.service.js
  services/github/github-issue-detail-redirect.tester.js
  services/github/github-issue-detail.service.js
  services/github/github-issue-detail.spec.js
  services/github/github-issue-detail.tester.js
Labels: service-badge

#3256 Fixed GitHub release downloads, run [GithubDownloads]
  services/github/github-downloads.service.js
Labels: service-badge

#3265 [pypi] Improve formatting of trove-based licenses
  services/pypi/pypi-helpers.js
  services/pypi/pypi-helpers.spec.js
  services/pypi/pypi-license.tester.js
  services/pypi/pypi.tester.js
Labels: service-badge

#3269 In CI, run e2e tests on the build
  .circleci/config.yml
  package.json
Labels: developer-experience

#3270 Update to latest IcedFrisby version
  package-lock.json
  package.json
Labels: dependencies

#3274 Fix [NpmDependencyVersion]
  services/npm/npm-dependency-version.service.js
  services/npm/npm-dependency-version.tester.js
Labels: bug, service-badge

#3275 refactor [puppetforge] service, add tests
  services/puppetforge/puppetforge-base.js
  services/puppetforge/puppetforge-module-downloads.service.js
  services/puppetforge/puppetforge-module-downloads.tester.js
  services/puppetforge/puppetforge-module-endorsement.service.js
  services/puppetforge/puppetforge-module-endorsement.tester.js
  services/puppetforge/puppetforge-module-feedback.service.js
  services/puppetforge/puppetforge-module-feedback.tester.js
  services/puppetforge/puppetforge-module-pdk-version.service.js
  services/puppetforge/puppetforge-module-pdk-version.tester.js
  services/puppetforge/puppetforge-module-version.service.js
  services/puppetforge/puppetforge-module-version.tester.js
  services/puppetforge/puppetforge-modules.service.js
  services/puppetforge/puppetforge-modules.tester.js
  services/puppetforge/puppetforge-user-module-count.service.js
  services/puppetforge/puppetforge-user-module-count.tester.js
  services/puppetforge/puppetforge-user-release-count.service.js
  services/puppetforge/puppetforge-user-release-count.tester.js
  services/puppetforge/puppetforge-users.service.js
  services/puppetforge/puppetforge-users.tester.js
Labels: service-badge

#3276 Bump Danger (which now ships Chainsmoker!) and some housekeeping
  dangerfile.js
  package-lock.json
  package.json
Labels: developer-experience

#3288 [Node] tests improvements
  services/node/node.tester.js
Labels: developer-experience

#3292 Prettier now has a --check option
  .circleci/config.yml
  package-lock.json
  package.json
Labels: dependencies, developer-experience

#3293 Prettier: Enforce standard line endings
  .prettierrc.yml
Labels: developer-experience

#3291 [Jitpack] Added Downloads Badge
  services/jitpack/jitpack-downloads.service.js
  services/jitpack/jitpack-downloads.tester.js
Labels: service-badge

#3296 Bump anafanafo from 0.1.0 to 1.0.0
  .eslintignore
  gh-badges/package.json
  package-lock.json
Labels: dependencies

#3298 Rewrite [dynamicxml] tests, and fix issue with attribute filters
  services/dynamic/dynamic-response-fixtures.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.tester.js
Labels: bug, keep-service-tests-green, service-badge

#3300 Split up [codeclimate] tests
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-coverage.tester.js
Labels: service-badge

#3299 Rewrite [GitHubForks]
  services/github/github-forks.service.js
  services/github/github-forks.tester.js
Labels: service-badge

#3295 Enhance status badge for PRs in [GithubIssueDetail]
  services/github/github-issue-detail-redirect.service.js
  services/github/github-issue-detail-redirect.tester.js
  services/github/github-issue-detail.service.js
  services/github/github-issue-detail.spec.js
  services/github/github-issue-detail.tester.js
Labels: service-badge

#3305 fix [Maintenance] test
  services/maintenance/maintenance.service.js
  services/maintenance/maintenance.spec.js
  services/maintenance/maintenance.tester.js
Labels: keep-service-tests-green, service-badge

#3304 fix [sourcegraph] test
  services/sourcegraph/sourcegraph.tester.js
Labels: keep-service-tests-green

#3303 fix [gratipay] test
  services/gratipay/gratipay.service.js
Labels: keep-service-tests-green, service-badge

#3189 Refactor [Sonar]
  services/sonar/sonar-base.js
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-coverage.tester.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-documented-api-density.spec.js
  services/sonar/sonar-documented-api-density.tester.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-fortify-rating.tester.js
  services/sonar/sonar-generic.service.js
  services/sonar/sonar-generic.tester.js
  services/sonar/sonar-helpers.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-quality-gate.spec.js
  services/sonar/sonar-quality-gate.tester.js
  services/sonar/sonar-redirector.service.js
  services/sonar/sonar-redirector.tester.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-tech-debt.spec.js
  services/sonar/sonar-tech-debt.tester.js
  services/sonar/sonar-violations.service.js
  services/sonar/sonar-violations.spec.js
  services/sonar/sonar-violations.tester.js
  services/sonarqube/sonarqube.service.js
  services/sonarqube/sonarqube.tester.js
Labels: service-badge

#3316 Rewrite [codeclimate] coverage
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  services/codeclimate/codeclimate-common.js
  services/codeclimate/codeclimate-coverage-redirector.service.js
  services/codeclimate/codeclimate-coverage-redirector.tester.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codeclimate/codeclimate-coverage.tester.js
  services/codeclimate/codeclimate.service.js
Labels: service-badge

#3240 [Drone] Add Drone build badge
  config/custom-environment-variables.yml
  doc/server-secrets.md
  services/build-status.js
  services/build-status.spec.js
  services/drone/drone-build.service.js
  services/drone/drone-build.tester.js
  services/drone/drone-test-helpers.js
Labels: service-badge

#3318 Consolidate [NpmDownloads] into one service
  services/npm/npm-downloads.service.js
  services/npm/npm-downloads.spec.js
  services/npm/npm-downloads.tester.js
Labels: service-badge

#3319 Consolidate [DubDownloads] into one service
  services/dub/dub-download.service.js
  services/dub/dub-download.tester.js
Labels: service-badge

#3320 Fix [codeclimatecoverage] coverage-percentage route
  services/codeclimate/codeclimate-coverage-redirector.service.js
  services/codeclimate/codeclimate-coverage-redirector.tester.js
Labels: bug, service-badge

#3317 Migrated [JenkinsPlugin] to new service architecture
  services/jenkins/jenkins-plugin-version.service.js
  services/jenkins/jenkins-plugin-version.tester.js
Labels: service-badge

#3322 [security] npm audit fixes; ignore [security] in PR title
  core/service-test-runner/services-for-title.js
  package-lock.json
  package.json
Labels: dependencies

#3325 Minor rename in [node]
  services/node/node.service.js
  services/node/node.spec.js
Labels: service-badge

#3323 [security] Bump nyc from 13.3.0 to 14.0.0
  .nycrc.json
  package-lock.json
  package.json
Labels: dependencies

#3330 Readme: Update node compatibility
  README.md
Labels: documentation

#3327 Use route `pattern`s in [snap-ci nsp gratipay githubmanifest codacy cauditor bithound]
  services/bithound/bithound.service.js
  services/cauditor/cauditor.service.js
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-grade.service.js
  services/codacy/codacy-grade.tester.js
  services/github/github-manifest.service.js
  services/gratipay/gratipay.service.js
  services/nsp/nsp.service.js
  services/snap-ci/snap-ci.service.js
Labels: service-badge

#3335 Deprecate [hhvm php-eye] badges
  services/php-eye/php-eye-hhvm.service.js
  services/php-eye/php-eye-hhvm.tester.js
  services/php-eye/php-eye-php-version.service.js
  services/php-eye/php-eye-php-version.tester.js
Labels: keep-service-tests-green, service-badge

#3302 refactor [JenkinsBuild]
  services/jenkins/jenkins-base.js
  services/jenkins/jenkins-build-redirect.service.js
  services/jenkins/jenkins-build-redirect.tester.js
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-build.spec.js
  services/jenkins/jenkins-build.tester.js
  services/jenkins/jenkins-common.js
Labels: service-badge

#3336 add strictSSL query param toggle to [coverity]
  services/coverity/coverity-scan.service.js
Labels: keep-service-tests-green, service-badge

#3326 Use url `pattern` for [nexus] + minor cleanup
  services/nexus/nexus.service.js
  services/nexus/nexus.spec.js
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green, service-badge

#3321 Rewrite [codeclimate] analysis
  services/codeclimate/codeclimate-analysis-redirector.service.js
  services/codeclimate/codeclimate-analysis-redirector.tester.js
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-common.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codeclimate/codeclimate.service.js
Labels: service-badge

#3339 refactor [vaadindirectory] badges
  services/vaadin-directory/vaadin-directory-base.js
  services/vaadin-directory/vaadin-directory-rating-count.service.js
  services/vaadin-directory/vaadin-directory-rating-count.tester.js
  services/vaadin-directory/vaadin-directory-rating.service.js
  services/vaadin-directory/vaadin-directory-rating.tester.js
  services/vaadin-directory/vaadin-directory-release-date.service.js
  services/vaadin-directory/vaadin-directory-release-date.tester.js
  services/vaadin-directory/vaadin-directory-status.service.js
  services/vaadin-directory/vaadin-directory-status.tester.js
  services/vaadin-directory/vaadin-directory-version.service.js
  services/vaadin-directory/vaadin-directory-version.tester.js
  services/vaadin-directory/vaadin-directory.service.js
  services/vaadin-directory/vaadin-directory.tester.js
Labels: service-badge

#3324 Refactor [Wordpress] services
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform-redirect.service.js
  services/wordpress/wordpress-platform-redirect.tester.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-platform.tester.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version-color.js
  services/wordpress/wordpress-version.service.js
Labels: service-badge

#3350 Rewrite [githubcommitssince]; also test [githubrelease]
  services/github/github-commits-since.service.js
  services/github/github-common-fetch.js
  services/github/github-release.service.js
Labels: service-badge

#3351 Rewrite [GithubDownloads]
  services/github/github-downloads.service.js
  services/github/github-downloads.tester.js
Labels: service-badge

#3338 [Bit] add bit components count service
  services/bit/bit-components.service.js
  services/bit/bit-components.tester.js
Labels: service-badge

#3355 Make the config from env more obvious at first glance; explain cascading config
  doc/server-secrets.md
Labels: documentation

#3337 refactor [JenkinsTests JenkinsCoverage], also run [JenkinsBuild]
  services/jenkins/jenkins-build-redirect.service.js
  services/jenkins/jenkins-build-redirect.tester.js
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-coverage-redirector.service.js
  services/jenkins/jenkins-coverage-redirector.tester.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
  services/jenkins/jenkins-tests-redirector.service.js
  services/jenkins/jenkins-tests-redirector.tester.js
  services/jenkins/jenkins-tests.service.js
  services/jenkins/jenkins-tests.tester.js
  services/test-results.js
  services/test-validators.js
  services/validators.js
Labels: service-badge

#3353 Unify order of properties and methods in services
  .eslintrc.yml
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/deprecated-service.js
  core/base-service/redirector.js
  package-lock.json
  package.json
  services/amo/amo-base.js
  services/conda/conda-base.js
  services/powershellgallery/powershellgallery.service.js
  services/pub/pub.service.js
  services/puppetforge/puppetforge-module-version.service.js
  services/puppetforge/puppetforge-user-module-count.service.js
  services/puppetforge/puppetforge-user-release-count.service.js
  services/pypi/pypi-djversions.service.js
  services/pypi/pypi-downloads.service.js
  services/pypi/pypi-format.service.js
  services/pypi/pypi-implementation.service.js
  services/pypi/pypi-pyversions.service.js
  services/pypi/pypi-status.service.js
  services/pypi/pypi-version.service.js
  services/pypi/pypi-wheel.service.js
  services/redmine/redmine.service.js
  services/requires/requires.service.js
  services/sonar/sonar-base.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/steam/steam-workshop.service.js
  services/swagger/swagger.service.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-violations.service.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-coverage.service.js
  services/twitter/twitter.service.js
  services/uptimerobot/uptimerobot-ratio.service.js
  services/uptimerobot/uptimerobot-status.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.service.js
  services/waffle/waffle-label.service.js
  services/wercker/wercker.service.js
  services/wheelmap/wheelmap.service.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
Labels: developer-experience, service-badge

#3352 Rewrite [travisphpversion]; improve error message in expectBadge
  core/service-test-runner/icedfrisby-shields.js
  services/php-version.js
  services/php-version.spec.js
  services/travis/travis-php-version-redirect.service.js
  services/travis/travis-php-version-redirect.tester.js
  services/travis/travis-php-version.service.js
  services/travis/travis-php-version.tester.js
Labels: service-badge

#3357 Refactor [cii] for readability
  services/cii-best-practices/cii-best-practices.service.js
Labels: service-badge

#3356 Unify order of another handful of services [npm opencollective osslifecycle packagecontrol packagist shippable sonar sourceforge sourcegraph spiget]
  services/cpan/cpan.js
  services/npm/npm-type-definitions.service.js
  services/npm/npm-version.service.js
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-sponsors.service.js
  services/osslifecycle/osslifecycle.service.js
  services/packagecontrol/packagecontrol.service.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-version.service.js
  services/shippable/shippable.service.js
  services/snyk/snyk-vulnerability-base.js
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-generic.service.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-violations.service.js
  services/sourceforge/sourceforge.service.js
  services/sourcegraph/sourcegraph.service.js
  services/spiget/spiget-download-size.service.js
  services/spiget/spiget-downloads.service.js
  services/spiget/spiget-latest-version.service.js
  services/spiget/spiget-rating.service.js
  services/spiget/spiget-tested-versions.service.js
Labels: developer-experience, service-badge

#3359 Unify remaining service order and enforce [ansible bountysource bstats bugzilla bitrise bundlephobia cdnjs chromewebstore circleci clojars bitbucket cocoapods bit codeclimate azuredevops codecov aur codeship appveyor codetally apm continuousphp buildkite]
  .eslintrc.yml
  core/base-service/base.js
  services/ansible/ansible-quality.service.js
  services/ansible/ansible-role.service.js
  services/apm/apm.service.js
  services/appveyor/appveyor-tests.service.js
  services/aur/aur.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/bit/bit-components.service.js
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-pipelines.service.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitrise/bitrise.service.js
  services/bountysource/bountysource.service.js
  services/bstats/bstats-players.service.js
  services/bstats/bstats-servers.service.js
  services/bugzilla/bugzilla.service.js
  services/buildkite/buildkite.service.js
  services/bundlephobia/bundlephobia.service.js
  services/cdnjs/cdnjs.service.js
  services/chrome-web-store/chrome-web-store-price.service.js
  services/chrome-web-store/chrome-web-store-version.service.js
  services/circleci/circleci.service.js
  services/clojars/clojars-base.js
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-release.service.js
  services/clojars/clojars-snapshot.service.js
  services/cocoapods/cocoapods-docs.service.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cocoapods/cocoapods-version.service.js
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codecov/codecov.service.js
  services/codeship/codeship.service.js
  services/codetally/codetally.service.js
  services/continuousphp/continuousphp.service.js
Labels: developer-experience, service-badge

#3360 Rewrite [GithubTag]
  services/github/github-tag.service.js
  services/github/github-tag.spec.js
  services/github/github-tag.tester.js
Labels: service-badge

#3290 refactor [mavencentral]
  services/maven-central/maven-central.service.js
  services/maven-central/maven-central.tester.js
Labels: service-badge

#3266 refactor [Scrutinizer]
  services/scrutinizer/scrutinizer-base.js
  services/scrutinizer/scrutinizer-build.service.js
  services/scrutinizer/scrutinizer-build.tester.js
  services/scrutinizer/scrutinizer-coverage.service.js
  services/scrutinizer/scrutinizer-coverage.spec.js
  services/scrutinizer/scrutinizer-coverage.tester.js
  services/scrutinizer/scrutinizer-quality.service.js
  services/scrutinizer/scrutinizer-quality.tester.js
  services/scrutinizer/scrutinizer-redirect.service.js
  services/scrutinizer/scrutinizer-redirect.tester.js
  services/scrutinizer/scrutinizer.service.js
  services/scrutinizer/scrutinizer.tester.js
Labels: service-badge

#3366 Color fix for [GitHubForks] badge
  services/github/github-forks.service.js
Labels: bug, service-badge

#3367 Legacy services clean up
  README.md
  core/base-service/base.js
  doc/rewriting-services.md
  package.json
  scripts/refactoring-cli.js
  services/legacy-service.js
Labels: core, documentation

#3374 Add [ArchLinux] package version support
  services/archlinux/archlinux.service.js
  services/archlinux/archlinux.tester.js
Labels: service-badge

#3373 Add [Debian] package version support
  services/debian/debian.service.js
  services/debian/debian.tester.js
Labels: service-badge

#3331 Badge suggestion feature fix
  .circleci/config.yml
  cypress.json
  cypress/integration/main-page.spec.js
  frontend/components/badge-examples.js
  frontend/components/badge-examples.spec.js
  frontend/components/customizer/customizer.js
  frontend/components/customizer/path-builder.js
  frontend/components/main.js
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/components/suggestion-and-search.js
  frontend/lib/service-definitions/example-prop-types.js
  frontend/lib/service-definitions/service-definition-prop-types.js
  services/suggest.integration.js
  services/suggest.js
  services/suggest.spec.js
Labels: bug, frontend

#3371 Remove unused callback-based error helpers [github chrome]
  core/base-service/base.js
  lib/error-helper.js
  lib/error-helper.spec.js
  services/chrome-web-store/chrome-web-store-base.js
  services/github/github-helpers.js
  services/github/github-helpers.spec.js
Labels: core

#3376 Added link test expectations, affects [Dependabot GitHub Twitter]
  __snapshots__/make-badge.spec.js
  core/service-test-runner/icedfrisby-shields.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/templates/default-template.json
  services/dependabot/dependabot.tester.js
  services/github/github-forks.tester.js
  services/github/github-stars.tester.js
  services/github/github-watchers.tester.js
  services/twitter/twitter.tester.js
Labels: developer-experience

#3391 Get two service helpers to 100% coverage
  .nycrc.json
  services/contributor-count.spec.js
  services/package-json-helpers.spec.js
Labels: core

#3392 Remove legacy helper makeBadgeData
  core/base-service/base-svg-scraping.spec.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  core/server/server.js
  lib/badge-data.js
  lib/badge-data.spec.js
Labels: core

#3396 [Wordpress] Support tested version without trailing ".0"
  services/wordpress/wordpress-version-color.js
  services/wordpress/wordpress-version-color.spec.js
Labels: bug, service-badge

#3395 Generate JSON badges without using a template [GithubSearch]
  __snapshots__/make-badge.spec.js
  core/base-service/legacy-request-handler.spec.js
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/templates/default-template.json
  package-lock.json
  package.json
  services/dependabot/dependabot.tester.js
  services/twitter/twitter.tester.js
Labels: blocker, core

#3397 Distro version improvements
  services/archlinux/archlinux.service.js
  services/archlinux/archlinux.tester.js
  services/debian/debian.service.js
  services/debian/debian.tester.js
  services/test-validators.js
Labels: service-badge

#3400 Remove code duplication in CircleCI configuration; test on [jetbrains]
  .circleci/config.yml
Labels: developer-experience
