Repository badges/shields, pull requests merged in 2019-06, with the labels that each got.

#3516 fix [circle] badge to work with private repositories
  services/circleci/circleci.service.js
Labels: bug, service-badge

#3517 fix modal scroll bug
  frontend/components/markup-modal/index.js
Labels: bug, frontend

#3530 Allow nulls for boolean fields on Libraries.io APIs
  services/librariesio/librariesio-dependencies.service.js
Labels: bug, service-badge

#3536 [Spack] Package Manager: Latest Version
  services/spack/spack.service.js
  services/spack/spack.tester.js
Labels: service-badge

#3531 add gitee support to [JitpackVersion]
  services/jitpack/jitpack-version.service.js
Labels: service-badge

#3539 EPL-2.0 license
  services/licenses.js
  services/licenses.spec.js
Labels: core

#3533 restore [JitpackDownloads] badge
  services/jitpack/jitpack-downloads.service.js
  services/jitpack/jitpack-downloads.tester.js
Labels: service-badge

#3543 fix @hapi/joi import in [jitpackdownloads]
  services/jitpack/jitpack-downloads.service.js
Labels: service-badge

#3542 fix [EclipseMarketplaceLicense] test
  services/eclipse-marketplace/eclipse-marketplace-license.tester.js
Labels: keep-service-tests-green

#3540 Update CI config to cache/skip Cypress binary
  .circleci/config.yml
Labels: developer-experience

#3563 fix [Bitbucket] Issues badges
  services/bitbucket/bitbucket-issues.service.js
Labels: bug, keep-service-tests-green, service-badge

#3565 fix [wordpress] /v redirect
  services/wordpress/wordpress-platform-redirect.service.js
  services/wordpress/wordpress-platform-redirect.tester.js
Labels: service-badge

#3502 Added [Cirrus] CI badge support
  services/cirrus/cirrus.service.js
  services/cirrus/cirrus.tester.js
Labels: service-badge

#3569 fix [AzureDevOpsBuild] test for partially succeeded build
  services/azure-devops/azure-devops-build.tester.js
Labels: keep-service-tests-green

#3570 add scoped package support for [jsDelivrHitsNpm]
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
Labels: service-badge

#3574 Unused xml2js dependency
  package-lock.json
  package.json
Labels: dependencies

#3573 Add default labels to github issue templates
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Failing_service_test.md
  .github/ISSUE_TEMPLATE/3_Badge_request.md
  .github/ISSUE_TEMPLATE/5_Support_question.md
Labels: documentation

#3590 fix some [Jenkins] service tests
  services/jenkins/jenkins-build.tester.js
  services/jenkins/jenkins-tests.tester.js
Labels: keep-service-tests-green

#3588 add [CodeFactor] grade badge
  services/codefactor/codefactor-grade.service.js
  services/codefactor/codefactor-grade.spec.js
  services/codefactor/codefactor-grade.tester.js
  services/codefactor/codefactor-helpers.js
Labels: service-badge

#3593 Tutorial improvements and fixes
  doc/TUTORIAL.md
Labels: documentation

#3594 rollback nock to 11.0.0-beta.14
  package-lock.json
  package.json
Labels: keep-service-tests-green

#3595 improve documentation of internals
  core/base-service/base.js
  core/server/server.js
  doc/production-hosting.md
Labels: documentation

#3615 Bump icedfrisby and icedfrisby-nock
  package-lock.json
  package.json
Labels: dependencies

#3616 Bump nock from 11.0.0.beta-14 to 11.0.0.beta-20
  package-lock.json
  package.json
  services/apm/apm.tester.js
  services/github/github-commit-status.service.js
  services/github/github-commit-status.tester.js
  services/response-fixtures.js
Labels: dependencies
