Repository badges/shields, pull requests merged in 2019-03, with the labels that each got.

#3119 Rewrite [GitHubStars]
  core/base-service/base.js
  core/base-service/base.spec.js
  services/github/github-stars.service.js
  services/github/github-stars.tester.js
Labels: service-badge

#3120 Label all deprecated services as such
  core/base-service/deprecated-service.js
Labels: core

#3127 Refactor [sourceforge]
  services/sourceforge/sourceforge.service.js
  services/sourceforge/sourceforge.tester.js
Labels: service-badge

#3124 Minor tutorial updates
  .prettierignore
  doc/TUTORIAL.md
Labels: documentation

#3130 Refactor [Coveralls]
  services/coveralls/coveralls.service.js
  services/coveralls/coveralls.tester.js
Labels: service-badge

#3136 Refactor [GitHubWatchers]
  services/github/github-watchers.service.js
Labels: service-badge

#3137 Allow expectBadge to be called with null color, affects [StaticBadge]
  core/service-test-runner/icedfrisby-shields.js
  services/static-badge/static-badge.tester.js
Labels: developer-experience

#3141 Update remaining documentation for expectBadge
  doc/deprecating-badges.md
  doc/rewriting-services.md
Labels: developer-experience, documentation

#3132 Refactor [bundlephobia]
  services/bundlephobia/bundlephobia.service.js
  services/bundlephobia/bundlephobia.tester.js
Labels: service-badge

#3142 add schema for [bugzilla] service
  services/bugzilla/bugzilla.service.js
Labels: service-badge

#3134 Refactor [continuousphp]
  services/continuousphp/continuousphp.service.js
  services/continuousphp/continuousphp.spec.js
  services/continuousphp/continuousphp.tester.js
Labels: service-badge

#3135 Refactor [david]
  services/david/david.service.js
  services/david/david.tester.js
Labels: service-badge

#3096 First adoption of React hooks
  .eslintrc-frontend.yml
  frontend/components/donate.js
  frontend/components/dynamic-badge-maker.js
  frontend/components/static-badge-maker.js
  package-lock.json
  package.json
Labels: frontend

#3125 Add ability to transform query params in redirct service, run [Endpoint GitHubReleaseRedirect SensioLabs VSO]
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  services/amo/amo-downloads.service.js
  services/amo/amo-downloads.tester.js
  services/azure-devops/vso-redirect.service.js
  services/endpoint/endpoint-redirect.service.js
  services/github/github-release-redirect.service.js
  services/symfony/sensiolabs-redirect.service.js
Labels: blocker, core

#3131 Refactor [Codeship]
  services/build-status.js
  services/build-status.spec.js
  services/codeship/codeship.service.js
  services/codeship/codeship.spec.js
  services/codeship/codeship.tester.js
Labels: service-badge

#3126 Refactor [buildkite]
  services/buildkite/buildkite.service.js
  services/buildkite/buildkite.tester.js
Labels: service-badge

#3128 update [clojars] endpoint
  services/clojars/clojars-base.js
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-release.service.js
  services/clojars/clojars-release.tester.js
  services/clojars/clojars-snapshot.service.js
  services/clojars/clojars-snapshot.tester.js
Labels: service-badge

#3139 feat: [DockerCloud] and automated.
  services/docker/docker-cloud-automated.service.js
  services/docker/docker-cloud-automated.tester.js
  services/docker/docker-cloud-build.service.js
  services/docker/docker-cloud-build.tester.js
  services/docker/docker-cloud-common-fetch.js
Labels: service-badge

#3157 refactor [GitHubFollowers]
  services/github/github-followers.service.js
Labels: service-badge

#3159 Make [AmoDownloads] test more reliable
  services/amo/amo-downloads.tester.js
Labels: keep-service-tests-green

#3162 Move deprecation helpers to services/
  services/deprecation-helpers.js
  services/deprecation-helpers.spec.js
Labels: core

#3163 Reorganize a couple of the legacy helpers [npm node jenkinsplugin]
  core/base-service/coalesce-badge.js
  core/base-service/to-array.js
  core/legacy/regular-update.js
  core/server/server.js
  doc/production-hosting.md
  lib/badge-data.js
  services/dynamic-common.js
  services/jenkins/jenkins-plugin-version.service.js
  services/licenses.js
  services/node/node-version-color.js
  services/npm/npm-license.service.js
  services/nuget/nuget-v3-service-family.js
  services/php-version.js
  services/route-builder.js
Labels: core

#3168 Add a stats category for static badges
  core/base-service/categories.js
  services/static-badge/query-string-static.service.js
  services/static-badge/static-badge.service.js
Labels: service-badge

#3143 refactor [microbadger] service
  services/microbadger/microbadger-base.js
  services/microbadger/microbadger-layers.service.js
  services/microbadger/microbadger-layers.tester.js
  services/microbadger/microbadger-size.service.js
  services/microbadger/microbadger-size.tester.js
  services/microbadger/microbadger.service.js
  services/microbadger/microbadger.tester.js
Labels: service-badge

#3133 Refactor [waffle]
  services/waffle/waffle-label-redirect.service.js
  services/waffle/waffle-label-redirect.tester.js
  services/waffle/waffle-label.service.js
  services/waffle/waffle-label.spec.js
  services/waffle/waffle-label.tester.js
  services/waffle/waffle.service.js
  services/waffle/waffle.tester.js
Labels: service-badge

#3164 Add query param validation to remaining new-style services [azuredevops appveyor npm]
  core/base-service/base.js
  core/base-service/route.js
  core/base-service/route.spec.js
  services/appveyor/appveyor-tests.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/npm/npm-base.js
  services/npm/npm-dependency-version.service.js
  services/test-results.js
  services/test-results.spec.js
  services/text-formatters.js
  services/text-formatters.spec.js
Labels: service-badge

#3169 Show missing query param for observatory; clean up duplication in azure devops
  services/azure-devops/azure-devops-tests.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
Labels: service-badge

#3172 Appveyor example: improve doc formatting and invoke render()
  services/appveyor/appveyor-tests.service.js
Labels: service-badge

#3171 Prevent queryParams from reaching handle() when no schema is defined
  core/base-service/base.js
Labels: core

#3170 Document queryParams + rename example module
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/examples.js
  core/base-service/examples.spec.js
Labels: core

#3173 Tweak Docker initialization
  .dockerignore
  Dockerfile
  config/production.yml
Labels: self-hosting

#3160 Refactor [librariesio]
  services/librariesio/librariesio-base.js
  services/librariesio/librariesio-common.js
  services/librariesio/librariesio-dependencies-helpers.js
  services/librariesio/librariesio-dependencies-helpers.spec.js
  services/librariesio/librariesio-dependencies.service.js
  services/librariesio/librariesio-dependencies.tester.js
  services/librariesio/librariesio-dependent-repos.service.js
  services/librariesio/librariesio-dependents.service.js
  services/librariesio/librariesio-dependents.tester.js
  services/librariesio/librariesio-sourcerank.service.js
Labels: service-badge

#3114 refactor [chromewebstore] service
  services/chrome-web-store/chrome-web-store-base.js
  services/chrome-web-store/chrome-web-store-price.service.js
  services/chrome-web-store/chrome-web-store-price.tester.js
  services/chrome-web-store/chrome-web-store-rating.service.js
  services/chrome-web-store/chrome-web-store-rating.tester.js
  services/chrome-web-store/chrome-web-store-users.service.js
  services/chrome-web-store/chrome-web-store-users.tester.js
  services/chrome-web-store/chrome-web-store-version.service.js
  services/chrome-web-store/chrome-web-store-version.tester.js
  services/chrome-web-store/chrome-web-store.service.js
  services/chrome-web-store/chrome-web-store.tester.js
Labels: service-badge

#3175 Refactor two legacy services :wink:
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: core

#3176 Fix console error before applying a frontend route redirect
  frontend/pages/index.js
  gatsby-browser.js
Labels: frontend

#3177 Rewrite a bunch of components as functions, with consistent func style
  frontend/components/badge-examples.js
  frontend/components/category-headings.js
  frontend/components/common.js
  frontend/components/dynamic-badge-maker.js
  frontend/components/footer.js
  frontend/components/header.js
  frontend/components/meta.js
  frontend/components/snippet.js
  frontend/components/static-badge-maker.js
  frontend/components/usage.js
Labels: blocker, frontend

#3179 Remove legacy analytics
  core/base-service/base-static.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  core/server/analytics.js
  core/server/server.js
  core/server/server.spec.js
  doc/code-walkthrough.md
  doc/production-hosting.md
  now.json
Labels: core, operations

#3182 Fix [maven-metadata]
  services/maven-metadata/maven-metadata.service.js
Labels: bug, service-badge

#3074 Refactor [Codecov]
  services/codecov/codecov-redirect.service.js
  services/codecov/codecov-redirect.tester.js
  services/codecov/codecov.service.js
  services/codecov/codecov.spec.js
  services/codecov/codecov.tester.js
Labels: service-badge

#3183 Rewrite [GithubCommitActivity]
  services/github/github-commit-activity.service.js
Labels: service-badge

#3184 Rewrite [website]; also affects [nodeping]
  services/nodeping/nodeping-status.service.js
  services/website-status.js
  services/website-status.spec.js
  services/website/website-redirect.service.js
  services/website/website-redirect.tester.js
  services/website/website.service.js
  services/website/website.tester.js
Labels: service-badge

#3186 Rewrite GitHub commit status
  core/base-service/errors.js
  lib/error-helper.js
  lib/error-helper.spec.js
  services/github/github-commit-status.service.js
  services/github/github-commit-status.tester.js
Labels: service-badge

#3201 Lengthen timeouts on [jsdelivr] tests
  services/jsdelivr/jsdelivr-hits-github.tester.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
Labels: keep-service-tests-green

#3187 fix [clojars] snapshot fallback
  services/clojars/clojars-base.js
  services/clojars/clojars-release.service.js
Labels: bug, service-badge

#3205 refactor [githubreposize]
  services/github/github-repo-size.service.js
Labels: service-badge

#3206 refactor [githubreleasedate]
  services/github/github-release-date.service.js
  services/github/github-release-date.tester.js
Labels: service-badge

#3237 Bump gatsby-plugin-page-creator
  package-lock.json
  package.json
Labels: dependencies, developer-experience, frontend

#3004 refactor [Packagist] service
  services/packagist/packagist-base.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-downloads.tester.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-license.tester.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-php-version.tester.js
  services/packagist/packagist-version.service.js
  services/packagist/packagist-version.tester.js
  services/packagist/packagist.tester.js
Labels: service-badge

#3239 Fix [packagist] badges
  services/packagist/packagist-base.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-version.service.js
  services/packagist/packagist-version.spec.js
  services/packagist/packagist-version.tester.js
Labels: bug, service-badge
