Repository badges/shields, pull requests merged in 2019-01, with the labels that each got.

#2612 Add timeout for server test setup/teardown
  lib/server.spec.js
Labels: keep-service-tests-green

#2614 Coverage should ignore test helpers
  .nycrc.json
Labels: developer-experience

#2613 Add test of the server entrypoint
  entrypoint.spec.js
  package.json
  server.js
Labels: core

#2615 Add some test coverage in frontend/lib
  frontend/lib/badge-url.spec.js
  frontend/lib/generate-image-markup.spec.js
Labels: frontend

#2601 refactor [TeamCity]
  services/teamcity/teamcity-base.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-build.tester.js
  services/teamcity/teamcity-coverage.service.js
  services/teamcity/teamcity-coverage.tester.js
  services/teamcity/teamcity-test-helpers.js
Labels: service-badge

#2618 Extend timeout on GitHub integration test
  services/github/github-api-provider.integration.js
Labels: core

#2617 redirectUrl: Update terminology and add a test
  lib/in-process-server-test-helpers.js
  lib/server-config.js
  lib/server.js
  lib/server.spec.js
Labels: core

#2599 Document private/secret.json; affects [bower jira]
  dangerfile.js
  doc/TUTORIAL.md
  doc/self-hosting.md
  doc/server-secrets.md
  services/bower/bower-license.service.js
  services/bower/bower-version.service.js
  services/jira/jira-base.js
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.tester.js
  services/jira/jira-test-helpers.js
Labels: documentation

#2244 [Date] Relative date badge
  lib/text-formatters.js
  lib/text-formatters.spec.js
  services/date/date.service.js
  services/date/date.tester.js
  services/test-validators.js
Labels: service-badge

#2633 Convert a bunch of `exampleUrl`s and formats [ansible bitrise circleci clojars codacy codeclimate codecov depfu discord]
  services/ansible/ansible.service.js
  services/bitrise/bitrise.service.js
  services/cdnjs/cdnjs.service.js
  services/circleci/circleci.service.js
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-version.service.js
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-grade.service.js
  services/codeclimate/codeclimate.service.js
  services/codecov/codecov.service.js
  services/ctan/ctan.service.js
  services/depfu/depfu.service.js
  services/discord/discord.service.js
Labels: service-badge

#2641 Change [Scrutinizer] branch coverage test target
  services/scrutinizer/scrutinizer.tester.js
Labels: keep-service-tests-green, service-badge

#2639 Update more exampleUrls; style tweaks [appveyor bitbucket docker eclipse f-droid gem gitter hexpm itunes jenkins jetbrains]
  services/appveyor/appveyor-ci.service.js
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-pipelines.service.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/docker/docker-automated.service.js
  services/docker/docker-build.service.js
  services/docker/docker-pulls.service.js
  services/docker/docker-stars.service.js
  services/eclipse-marketplace/eclipse-marketplace-base.js
  services/eclipse-marketplace/eclipse-marketplace-downloads.service.js
  services/eclipse-marketplace/eclipse-marketplace-favorites.service.js
  services/eclipse-marketplace/eclipse-marketplace-license.service.js
  services/eclipse-marketplace/eclipse-marketplace-update.service.js
  services/eclipse-marketplace/eclipse-marketplace-version.service.js
  services/f-droid/f-droid.service.js
  services/gem/gem-downloads.service.js
  services/gem/gem-owner.service.js
  services/gem/gem-rank.service.js
  services/github/github-pull-request-check-state.service.js
  services/gitter/gitter.service.js
  services/hexpm/hexpm.service.js
  services/itunes/itunes.service.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-plugin-installs.service.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-version.service.js
  services/librariesio/librariesio-dependent-repos.service.js
  services/librariesio/librariesio-dependents.service.js
  services/librariesio/librariesio-sourcerank.service.js
  services/npm/npm-downloads.service.js
  services/npm/npm-version.service.js
  services/pypi/pypi-downloads.service.js
Labels: blocker, service-badge

#2640 Remove support for exampleUrl
  README.md
  services/base.js
  services/base.spec.js
  services/transform-example.js
  services/transform-example.spec.js
Labels: blocker, core

#2626 PaaS, CI, and production-friendly config; affects [jira]
  .circleci/config.yml
  .gitignore
  Dockerfile
  Makefile
  Procfile
  app.json
  config/custom-environment-variables.yml
  config/default.yml
  config/development.yml
  config/local.template.yml
  config/shields-io-production.yml
  config/test.yml
  doc/production-hosting.md
  doc/self-hosting.md
  doc/server-secrets.md
  entrypoint.spec.js
  lib/in-process-server-test-helpers.js
  lib/server-config.js
  lib/server-secrets.js
  lib/server.js
  lib/server.spec.js
  lib/sys/secret-is-valid.js
  package-lock.json
  package.json
  scripts/export-heroku-secrets-cli.js
  secret.tpl.json
  server.js
  services/github/auth/acceptor.js
  services/github/auth/admin.spec.js
  services/jira/jira-base.js
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.tester.js
  services/jira/jira-test-helpers.js
  services/trace.js
  shields.example.env
Labels: blocker, core, documentation, operations, self-hosting

#2656 Set redirectUrl for production; rely on NODE_CONFIG_ENV being set earlier
  Makefile
  config/shields-io-production.yml
Labels: operations

#2652 Convert some static previews [bugzilla buildkite bundlephobia cookbook liberapay luarocks]
  services/bugzilla/bugzilla.service.js
  services/buildkite/buildkite.service.js
  services/bundlephobia/bundlephobia.service.js
  services/cookbook/cookbook.service.js
  services/liberapay/liberapay.service.js
  services/luarocks/luarocks.service.js
Labels: blocker, service-badge

#2672 Replace open collective with shields rendered badges
  frontend/components/footer.js
Labels: frontend

#2662 Run Prettier on the rest of the things
  .eslintrc-frontend.yml
  .eslintrc.yml
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Badge_request.md
  .github/ISSUE_TEMPLATE/3_Feature_request.md
  .github/ISSUE_TEMPLATE/4_Support_question.md
  .prettierignore
  .vscode/extensions.json
  CONTRIBUTING.md
  README.md
  doc/deprecating-badges.md
  doc/production-hosting.md
  doc/rewriting-services.md
  doc/self-hosting.md
  doc/server-secrets.md
  doc/service-tests.md
  doc/users.md
  gh-badges/CHANGELOG.md
  gh-badges/README.md
  gh-badges/lib/colorscheme.json
  now.json
  package.json
  spec/SPECIFICATION.md
  spec/motivation.md
  spec/users.md
Labels: blocker, developer-experience

#2683 Unflake GitHub integration test
  services/github/github-api-provider.integration.js
Labels: keep-service-tests-green

#2681 Fix frontend start script
  package.json
Labels: developer-experience

#2680 Prettier: Ignore a couple generated files which aren’t checked in
  .prettierignore
Labels: developer-experience

#2661 Document production hosting
  .gitignore
  config/local-shields-io-production.template.yml
  doc/production-hosting.md
Labels: blocker, documentation, operations

#2690 We don't use Docker in production
  doc/production-hosting.md
Labels: documentation

#2692 Rm unnecessary `mkdir` in Circle config
  .circleci/config.yml
Labels: developer-experience

#2691 Add instructions for testing Danger locally
  dangerfile.js
Labels: documentation

#2659 fix [gem] rank badge
  services/gem/gem-rank.service.js
  services/gem/gem-rank.tester.js
Labels: bug, service-badge

#2697 Fix a few typos
  doc/TUTORIAL.md
  doc/service-tests.md
  lib/sys/prometheus-metrics.js
  services/base-non-memory-caching.js
  services/bower/bower.tester.js
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.tester.js
  services/github/github-pull-request-check-state.tester.js
  services/jenkins/jenkins-plugin-installs.tester.js
  services/luarocks/luarocks-version.js
  services/pypi/pypi.tester.js
  services/vaadin-directory/vaadin-directory.tester.js
  services/vscode-marketplace/vscode-marketplace.service.js
  services/waffle/waffle.tester.js
Labels: documentation

#2700 Readme: Fix dev setup instructions
  README.md
Labels: documentation

#2660 [Travis-Build] service rewrite, run [travis-php-version]
  lib/build-status.js
  lib/build-status.spec.js
  services/travis/travis-build.service.js
  services/travis/travis-build.tester.js
  services/travis/travis-php-version.tester.js
Labels: service-badge

#2695 Rm old list of critical services
  lib/project/critical-services.yml
Labels: documentation

#2708 Use shields instead of open collective badges in README.md
  README.md
Labels: documentation

#2707 Update [opencollective] error handling
  services/opencollective/opencollective-backers.tester.js
  services/opencollective/opencollective-base.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-by-tier.tester.js
  services/opencollective/opencollective-sponsors.tester.js
Labels: service-badge

#2644 Integrate new path-to-regexp with trailing optionals [appveyor azuredevops npm gitlab date githubmanifest githubpackage jenkins matrix readthedocs requires shippable snyk wordpress]
  doc/rewriting-services.md
  package-lock.json
  package.json
  services/appveyor/appveyor-base.js
  services/appveyor/appveyor-ci.service.js
  services/appveyor/appveyor-tests.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/date/date.service.js
  services/github/github-manifest.service.js
  services/github/github-package-json.service.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/jenkins/jenkins-plugin-installs.service.js
  services/matrix/matrix.service.js
  services/npm/npm-base.js
  services/readthedocs/readthedocs.service.js
  services/requires/requires.service.js
  services/shippable/shippable.service.js
  services/snyk/snyk-vulnerability-github.service.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-platform.service.js
Labels: blocker, core, dependencies

#2682 Add category nav menu
  frontend/components/category-headings.js
  frontend/components/main.js
Labels: frontend

#2716 Ask for a specific use case in new badge request
  .github/ISSUE_TEMPLATE/2_Badge_request.md
Labels: documentation

#2711 Validate defaultBadgeData; test on [dynamic pypi]
  services/base.js
  services/base.spec.js
  services/categories.js
Labels: developer-experience

#2718 Add calebcartwright to core team 💥
  README.md
Labels: documentation

#2721 Unwanted title removed
  pages/_document.js
Labels: bug, frontend

#2693 User color should not override error color [dynamic]
  services/base-json.spec.js
  services/base-svg-scraping.spec.js
  services/base-xml.spec.js
  services/base-yaml.spec.js
  services/base.js
  services/base.spec.js
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-xml.tester.js
  services/dynamic/dynamic-yaml.tester.js
Labels: blocker, bug, core

#2591 Added [bStats] badges
  services/bstats/bstats-players.service.js
  services/bstats/bstats-players.tester.js
  services/bstats/bstats-servers.service.js
  services/bstats/bstats-servers.tester.js
Labels: service-badge

#2724 Tweak formatting of [bstats] badge
  services/bstats/bstats-players.service.js
  services/bstats/bstats-players.tester.js
  services/bstats/bstats-servers.service.js
  services/bstats/bstats-servers.tester.js
Labels: service-badge

#2554 Better modal
  frontend/components/common.js
  frontend/components/main.js
  frontend/components/markup-modal/builder-common.js
  frontend/components/markup-modal/copied-content-indicator.js
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/components/markup-modal/path-builder.js
  frontend/components/markup-modal/path-builder.spec.js
  frontend/components/markup-modal/query-string-builder.js
  frontend/components/markup-modal/request-markup-button.js
  frontend/components/meta.js
  frontend/components/snippet.js
  frontend/lib/generate-image-markup.js
  package-lock.json
  package.json
  services/azure-devops/azure-devops-build.service.js
Labels: blocker, frontend

#2723 Split “quality” into “code coverage” and “analysis” [codeclimate scrutinizer sonar]
  services/azure-devops/azure-devops-coverage.service.js
  services/categories.js
  services/cii-best-practices/cii-best-practices.service.js
  services/cocoapods/cocoapods-metrics.service.js
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-grade.service.js
  services/codeclimate/codeclimate.service.js
  services/codecov/codecov.service.js
  services/coveralls/coveralls.service.js
  services/coverity/coverity-on-demand.service.js
  services/coverity/coverity-scan.service.js
  services/dependabot/dependabot.service.js
  services/github/github-languages.service.js
  services/github/github-search.service.js
  services/jenkins/jenkins-coverage.service.js
  services/lgtm/lgtm-alerts.service.js
  services/lgtm/lgtm-grade.service.js
  services/scrutinizer/scrutinizer.service.js
  services/snyk/snyk-vulnerability-base.js
  services/sonarqube/sonarqube.service.js
  services/symfony/symfony-insight.service.js
  services/teamcity/teamcity-coverage.service.js
Labels: service-badge

#1205 Rewrite and test Github auth logic, separating standard and search quota
  lib/fs-token-persistence.js
  lib/fs-token-persistence.spec.js
  lib/github-auth.js
  lib/redis-token-persistence.integration.js
  lib/redis-token-persistence.js
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
  services/github/auth/admin.js
  services/github/auth/admin.spec.js
  services/github/github-api-provider.integration.js
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
  services/github/github-constellation.js
Labels: blocker, bug, core

#2732 refactor [VSMarketplace] to new service model
  services/vs-marketplace/vs-marketplace-base.js
  services/vs-marketplace/vs-marketplace-downloads.service.js
  services/vs-marketplace/vs-marketplace-downloads.tester.js
  services/vs-marketplace/vs-marketplace-rating.service.js
  services/vs-marketplace/vs-marketplace-rating.tester.js
  services/vs-marketplace/vs-marketplace-version.service.js
  services/vs-marketplace/vs-marketplace-version.tester.js
  services/vscode-marketplace/vscode-marketplace.service.js
  services/vscode-marketplace/vscode-marketplace.tester.js
Labels: service-badge

#2730 Fix [GitHub] token handling
  services/github/github-api-provider.integration.js
  services/github/github-api-provider.js
  services/github/github-constellation.js
Labels: blocker, bug, core

#2734 Optimize slow/flaky [github] search tests by using a smaller repo
  services/github/github-search.tester.js
Labels: keep-service-tests-green

#2736 Fix github auth again
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
Labels: blocker, bug, core

#2735 update tutorial to use localhost instead of others
  doc/TUTORIAL.md
Labels: documentation

#2737 Add a script used for backing up the production GitHub tokens
  scripts/github_token_backup.fish
Labels: operations

#2738 rename [VisualStudioMarketplace]
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.tester.js
Labels: service-badge

#2739 Wildcard to run all service tests
  doc/service-tests.md
  lib/service-test-runner/cli.js
Labels: developer-experience

#2726 limit the size of response we will accept
  config/custom-environment-variables.yml
  config/default.yml
  lib/request-handler.js
  lib/request-handler.spec.js
  lib/server.js
  package-lock.json
  package.json
  services/base.js
  services/errors.js
Labels: core, performance-improvement

#2743 Update [gemrank] regex to match "1st"
  services/gem/gem-rank.tester.js
Labels: keep-service-tests-green

#2741 Use create-service-tester shorthand in [EclipseMarketplace]
  services/eclipse-marketplace/eclipse-marketplace-downloads.tester.js
  services/eclipse-marketplace/eclipse-marketplace-favorites.tester.js
  services/eclipse-marketplace/eclipse-marketplace-license.tester.js
  services/eclipse-marketplace/eclipse-marketplace-update.tester.js
  services/eclipse-marketplace/eclipse-marketplace-version.tester.js
Labels: service-badge

#2598 [Bitbucket]: Pull Requests: Support Bitbucket Server
  .dockerignore
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitbucket/bitbucket-test-helpers.js
  services/bitbucket/bitbucket.tester.js
Labels: service-badge

#2709 Add Github package.json dependency version badge; affects [githubpackagejson githubmanifest npm]
  services/github/github-common-fetch.js
  services/github/github-manifest.tester.js
  services/github/github-package-json.service.js
  services/github/github-package-json.tester.js
  services/npm/npm-base.js
  services/npm/npm-dependency-version.service.js
  services/npm/npm-dependency-version.tester.js
  services/package-json-helpers.js
Labels: service-badge

#2752 Refactor the rest of [PyPI] to use static previews
  services/pypi/pypi-format.service.js
  services/pypi/pypi-license.service.js
  services/pypi/pypi-status.service.js
  services/pypi/pypi-version.service.js
Labels: service-badge

#2740 Validate service data + support `labelColor` for the endpoint badge
  services/base-svg-scraping.spec.js
  services/base-xml.spec.js
  services/base-yaml.spec.js
  services/base.js
  services/base.spec.js
Labels: blocker, core

#2756 Temporarily deprecate [CoverityScan]
  services/coverity/coverity-scan.service.js
  services/coverity/coverity-scan.tester.js
  services/deprecated-service.js
  services/deprecated-service.spec.js
Labels: keep-service-tests-green, service-badge

#2762 Made [appveyor azuredevopsbuild bitbucket buildkite circleci codeship continuousphp docker readthedocs scrutinizer shippable travis-build wercker] tests use isBuildStatus validator from build-status.js
  services/appveyor/appveyor-ci.tester.js
  services/azure-devops/azure-devops-build.tester.js
  services/azure-devops/azure-devops-release.tester.js
  services/bitbucket/bitbucket.tester.js
  services/buildkite/buildkite.tester.js
  services/circleci/circleci.tester.js
  services/codeship/codeship.tester.js
  services/continuousphp/continuousphp.tester.js
  services/docker/docker-build.tester.js
  services/readthedocs/readthedocs.tester.js
  services/scrutinizer/scrutinizer.tester.js
  services/shippable/shippable.tester.js
  services/test-validators.js
  services/travis/travis-build.tester.js
  services/wercker/wercker.tester.js
Labels: developer-experience

#2757 Unfork path-to-regexp
  package-lock.json
  package.json
Labels: dependencies

#2705 Showcase two of our distinguishing features
  README.md
Labels: documentation

#2765 Set static previews for [jenkins jenkinsplugin] and tweak tests
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-plugin-installs.tester.js
  services/jenkins/jenkins-plugin-version.service.js
  services/jenkins/jenkins-tests.service.js
Labels: service-badge

#2773 Fix overriding bind address on CLI
  server.js
Labels: core

#2767 Remove some unused state to clear lgtm alerts
  frontend/components/markup-modal/markup-modal-content.js
Labels: frontend

#2768 Use simpler regexes in [appveyortests] to address lgtm alert
  services/appveyor/appveyor-tests.tester.js
Labels: service-badge

#2769 Provide better dev feedback by validating services when they are loaded
  services/amo/amo.service.js
  services/base.js
  services/chrome-web-store/chrome-web-store.service.js
  services/cocoapods/cocoapods.service.js
  services/index.js
  services/puppetforge/puppetforge-modules.service.js
  services/puppetforge/puppetforge-users.service.js
  services/vaadin-directory/vaadin-directory.service.js
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-class.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: core, developer-experience

#2770 Add more static previews
  services/discourse/discourse.service.js
  services/sourceforge/sourceforge.service.js
Labels: service-badge

#2755 Dynamic cache length overriding
  lib/request-handler.js
  lib/request-handler.spec.js
  services/base-non-memory-caching.js
  services/base.js
  services/base.spec.js
  services/cache-headers.js
  services/cache-headers.spec.js
Labels: blocker, core

#2776 Fix orange statuses, run tests for [AppveyorCi AzureDevOps Bitbucket CircleCi Gitlab Readthedocs Shippable Wercker]
  lib/build-status.js
  lib/build-status.spec.js
  services/azure-devops/azure-devops-build.tester.js
Labels: bug, service-badge

#2766 Add static preview to some [GitHub] services
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-languages.service.js
  services/github/github-last-commit.service.js
  services/github/github-release-date.service.js
  services/github/github-release.service.js
  services/github/github-repo-size.service.js
  services/github/github-search.service.js
  services/github/github-size.service.js
  services/github/github-tag.service.js
Labels: service-badge

#2780 Fix numeric colorB [static githublanguages]
  lib/badge-data.js
  services/base.js
  services/base.spec.js
  services/github/github-languages.tester.js
  services/static-badge/static-badge.tester.js
Labels: blocker, bug, core

#2782 Fix color again, for legacy badges
  gh-badges/lib/make-badge.spec.js
  gh-badges/templates/_shields_test-template.json
  lib/badge-data.js
  services/github/github-commits-since.tester.js
Labels: blocker, bug, core

#2781 Reorganize server and service test runner
  core/server/analytics.js
  core/server/in-process-server-test-helpers.js
  core/server/log.js
  core/server/log.spec.js
  core/server/monitor.js
  core/server/prometheus-metrics.js
  core/server/prometheus-metrics.spec.js
  core/server/rate-limit.js
  core/server/secret-is-valid.js
  core/server/server.js
  core/server/server.spec.js
  core/service-test-runner/cli.js
  core/service-test-runner/infer-pull-request.js
  core/service-test-runner/infer-pull-request.spec.js
  core/service-test-runner/pull-request-services-cli.js
  core/service-test-runner/runner.js
  core/service-test-runner/services-for-title.js
  core/service-test-runner/services-for-title.spec.js
  lib/redis-token-persistence.js
  lib/request-handler.js
  lib/request-handler.spec.js
  lib/result-sender.js
  lib/token-persistence.js
  package.json
  server.js
  services/base-static.js
  services/github/auth/acceptor.js
  services/github/auth/admin.js
  services/github/github-constellation.js
  services/maintenance/maintenance.service.js
  services/packagist/packagist-php-version.service.js
  services/php-eye/php-eye-php-version.service.js
  services/travis/travis-php-version.service.js
Labels: blocker, core

#2789 Make it harder to accidentally trigger all the service tests in a PR
  core/service-test-runner/cli.js
  doc/service-tests.md
Labels: developer-experience

#2786 Validate namedParams in examples
  services/bower/bower-version.service.js
  services/cii-best-practices/cii-best-practices.service.js
  services/github/github-contributors.service.js
  services/leanpub/leanpub-book-summary.service.js
  services/npm/npm-dependency-version.service.js
  services/nuget/nuget-v2-service-family.js
  services/powershellgallery/powershellgallery.service.js
  services/transform-example.js
Labels: bug, core, developer-experience, service-badge

#2787 Disallow redundant example patterns
  services/bitbucket/bitbucket-pull-request.service.js
  services/codetally/codetally.service.js
  services/gitter/gitter.service.js
  services/matrix/matrix.service.js
  services/transform-example.js
  services/wordpress/wordpress-platform.service.js
Labels: core, developer-experience, service-badge

#2777 Fix [AzureDevOps] branch specific badges
  services/azure-devops/azure-devops-base.js
  services/azure-devops/azure-devops-coverage.tester.js
  services/azure-devops/azure-devops-tests.tester.js
Labels: bug, service-badge

#2793 BaseService: Minor stylistic refactor of color computation
  services/base.js
Labels: blocker, core

#2790 Reorganize badge URL helper functions; affects [website]
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  core/badge-urls/path-helpers.js
  core/server/server.js
  frontend/components/badge-examples.js
  frontend/components/markup-modal/index.js
  frontend/lib/badge-url.js
  services/static-badge/static-badge.service.js
  services/website/website.service.js
Labels: blocker, core

#2791 Wrap HTML in __html in service def export
  frontend/components/markup-modal/index.js
  frontend/components/markup-modal/markup-modal-content.js
  services/service-definitions.js
  services/transform-example.js
Labels: core, frontend

#2798 test:server -> test:core
  .circleci/config.yml
  package.json
Labels: developer-experience

#2801 Convert more static previews
  services/hackage/hackage-deps.service.js
  services/hackage/hackage-version.service.js
  services/homebrew/homebrew.service.js
  services/jitpack/jitpack.service.js
  services/maintenance/maintenance.service.js
  services/pub/pub.service.js
Labels: service-badge

#2799 Set static previews for packagecontrol
  services/packagecontrol/packagecontrol.service.js
Labels: service-badge

#2797 Fix [static] tests
  services/static-badge/static-badge.tester.js
Labels: keep-service-tests-green

#2792 Reorganize token pooling code
  core/token-pooling/fs-token-persistence.js
  core/token-pooling/fs-token-persistence.spec.js
  core/token-pooling/redis-token-persistence.integration.js
  core/token-pooling/redis-token-persistence.js
  core/token-pooling/token-persistence.js
  core/token-pooling/token-pool.js
  core/token-pooling/token-pool.spec.js
  core/token-pooling/token-provider.js
  core/token-pooling/token-provider.spec.js
  services/github/github-api-provider.js
  services/github/github-constellation.js
Labels: blocker, core

#2802 refactor [itunes] service
  services/itunes/itunes.service.js
  services/itunes/itunes.tester.js
Labels: service-badge

#2811 Fix integration test pattern
  package.json
Labels: core

#2810 Rewrite test of analytics endpoint
  core/server/server.spec.js
Labels: blocker, core

#2815 Fix Docker build
  Dockerfile
  package-lock.json
  package.json
Labels: bug, self-hosting

#2817 fix logo imports in [twitter liberapay]
  services/github/github-commit-activity.service.js
  services/github/github-commits-since.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-languages.service.js
  services/github/github-last-commit.service.js
  services/github/github-license.service.js
  services/github/github-release-date.service.js
  services/github/github-release.service.js
  services/github/github-repo-size.service.js
  services/github/github-size.service.js
  services/github/github-stars.service.js
  services/github/github-tag.service.js
  services/github/github-watchers.service.js
  services/liberapay/liberapay.service.js
  services/twitter/twitter.service.js
Labels: bug

#2783 Make code contributions easier with Gitpod
  .gitpod.yml
  README.md
Labels: developer-experience

#2620 Add [Ansible] quality score badge
  services/ansible/ansible-quality.service.js
  services/ansible/ansible-quality.tester.js
  services/ansible/ansible-role.service.js
  services/ansible/ansible-role.tester.js
Labels: service-badge

#2808 Temporarily remove useless npm-install task in CI
  .circleci/config.yml
Labels: developer-experience

#2827 Optimize diffing in Danger
  dangerfile.js
Labels: developer-experience

#2823 Add directory field to package.json
  gh-badges/package.json
Labels: npm-package

#2813 Avoid func declarations using `function` keyword; affects [packagist]
  .eslintrc.yml
  lib/error-helper.js
  services/docker/docker-helpers.js
  services/packagist/packagist-license.service.js
  services/pypi/pypi-helpers.js
  services/response-fixtures.js
Labels: core, service-badge

#2825 Split integration tests into their own stage
  .circleci/config.yml
Labels: developer-experience

#2828 Move coalesce and validate
  core/base-service/coalesce.js
  core/base-service/coalesce.spec.js
  core/base-service/validate.js
  core/base-service/validate.spec.js
  lib/logos.js
  services/base.js
  services/cache-headers.js
  services/dynamic-common.js
Labels: core

#2830 Fix Redis integration tests in CI; change 10 to latest
  .circleci/config.yml
Labels: developer-experience

#2829 Move legacy request helpers
  CONTRIBUTING.md
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  core/base-service/legacy-result-sender.js
  core/server/server.js
  doc/production-hosting.md
  now.json
  services/base-non-memory-caching.js
  services/base-static.js
Labels: core

#2835 Fix production crash
  core/base-service/legacy-request-handler.js
Labels: bug, core

#2473 [Endpoint] badge
  core/base-service/validate.js
  core/base-service/validate.spec.js
  frontend/components/endpoint-page.js
  frontend/components/usage.js
  gh-badges/templates/_shields_test-template.json
  pages/index.js
  services/base.js
  services/base.spec.js
  services/cache-headers.js
  services/cache-headers.spec.js
  services/endpoint/endpoint.service.js
  services/endpoint/endpoint.tester.js
Labels: core, service-badge

#2836 Fix a preview badge
  services/github/github-commit-status.service.js
Labels: service-badge

#2844 Remove unused TokenProvider code
  core/token-pooling/token-provider.js
  core/token-pooling/token-provider.spec.js
Labels: core

#2831 Reorganize BaseService-related modules
  core/base-service/base-json.js
  core/base-service/base-json.spec.js
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base-svg-scraping.js
  core/base-service/base-svg-scraping.spec.js
  core/base-service/base-xml.js
  core/base-service/base-xml.spec.js
  core/base-service/base-yaml.js
  core/base-service/base-yaml.spec.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/cache-headers.js
  core/base-service/cache-headers.spec.js
  core/base-service/deprecated-service.js
  core/base-service/deprecated-service.spec.js
  core/base-service/errors.js
  core/base-service/index.js
  core/base-service/legacy-request-handler.js
  core/base-service/service-definitions.js
  core/base-service/trace.js
  core/base-service/transform-example.js
  core/base-service/transform-example.spec.js
  core/base-service/validate.js
  core/base-service/validate.spec.js
  core/register-chai-plugins.spec.js
  core/service-test-runner/create-service-tester.js
  core/service-test-runner/icedfrisby-no-nock.js
  core/service-test-runner/service-tester.js
  doc/deprecating-badges.md
  lib/deprecation-helpers.js
  lib/deprecation-helpers.spec.js
  lib/error-helper.js
  lib/error-helper.spec.js
  lib/regular-update.js
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-release.service.js
  services/dynamic-common.js
  services/endpoint/endpoint.service.js
  services/endpoint/endpoint.tester.js
  services/gitter/gitter.service.js
  services/index.js
  services/legacy-service.js
  services/package-json-helpers.js
  services/packagecontrol/packagecontrol.service.js
  services/static-badge/static-badge.service.js
  test-fixtures/invalid-mixed.fixture.js
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-class.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: core

#2833 automatically show light or dark logos when using simple-icons
  core/base-service/base.js
  lib/logos.js
  lib/logos.spec.js
Labels: core

#2856 pre-compute the 3 most common icon styles on server init
  lib/load-simple-icons.js
  lib/logos.js
  lib/logos.spec.js
Labels: core

#2855 clarify cache docs for endpoint badge
  frontend/components/endpoint-page.js
Labels: documentation

#2858 Provide friendlier error messages for [endpoint]
  core/base-service/base.js
  core/base-service/validate.js
  core/base-service/validate.spec.js
  services/endpoint/endpoint.service.js
  services/endpoint/endpoint.tester.js
Labels: service-badge

#2748 Update [VisualStudioMarketplace] download calculation for Azure DevOps Extensions
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.tester.js
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.tester.js
Labels: service-badge

#2859 Refactor _makeBadgeData -> coalesceBadge; test on [static dynamic endpoint]
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/transform-example.js
Labels: blocker, core

#2861 Refactor service loader; test on [static dynamic endpoint]
  core/base-service/loader.js
  core/base-service/loader.spec.js
  core/server/server.js
  core/service-test-runner/runner.js
  scripts/export-service-definitions-cli.js
  scripts/refactoring-cli.js
  services/check-services.spec.js
  services/index.js
  services/index.spec.js
Labels: blocker, core

#2857 Delete some of our logos (part 1); affects [endpoint]
  core/base-service/coalesce-badge.spec.js
  lib/logos.js
  lib/logos.spec.js
  logo/appveyor.svg
  logo/azuredevops.svg
  logo/circleci.svg
  logo/codeship.svg
  logo/docker.svg
  logo/eclipse.svg
  logo/github.svg
  logo/gitter-white.svg
  logo/liberapay.svg
  logo/matrix.svg
  logo/postgresql.svg
  logo/slack.svg
  logo/sourcegraph.svg
  logo/stackoverflow.svg
  logo/telegram.svg
  logo/tfs.svg
  logo/twitter.svg
  logo/windows.svg
  services/endpoint/endpoint.tester.js
Labels: service-badge

#2860 Refactor route functions in BaseService
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/route.js
  core/base-service/route.spec.js
  core/base-service/transform-example.js
  services/amo/amo.service.js
  services/bitrise/bitrise.service.js
  services/bugzilla/bugzilla.service.js
  services/buildkite/buildkite.service.js
  services/bundlephobia/bundlephobia.service.js
  services/chrome-web-store/chrome-web-store.service.js
  services/cocoapods/cocoapods-metrics.service.js
  services/cocoapods/cocoapods-version.service.js
  services/codeclimate/codeclimate.service.js
  services/codecov/codecov.service.js
  services/codeship/codeship.service.js
  services/continuousphp/continuousphp.service.js
  services/cookbook/cookbook.service.js
  services/coveralls/coveralls.service.js
  services/david/david.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-stars.service.js
  services/github/github-watchers.service.js
  services/jenkins/jenkins-plugin-version.service.js
  services/legacy-service.js
  services/lgtm/lgtm-alerts.service.js
  services/lgtm/lgtm-grade.service.js
  services/liberapay/liberapay.service.js
  services/librariesio/librariesio-dependencies.service.js
  services/luarocks/luarocks.service.js
  services/maven-central/maven-central.service.js
  services/maven-metadata/maven-metadata.service.js
  services/microbadger/microbadger.service.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-version.service.js
  services/php-eye/php-eye-hhvm.service.js
  services/php-eye/php-eye-php-version.service.js
  services/puppetforge/puppetforge-modules.service.js
  services/puppetforge/puppetforge-users.service.js
  services/scrutinizer/scrutinizer.service.js
  services/sonarqube/sonarqube.service.js
  services/twitter/twitter.service.js
  services/vaadin-directory/vaadin-directory.service.js
  services/waffle/waffle.service.js
  services/website/website.service.js
  test-fixtures/valid-array.fixture.js
  test-fixtures/valid-class.fixture.js
  test-fixtures/valid-object.fixture.js
Labels: blocker, core

#2873 optimise logos
  logo/bitcoin.svg
  logo/dependabot.svg
  logo/gitlab.svg
  logo/paypal.svg
  logo/stackexchange.svg
Labels: service-badge

#2870 Refactor [GemDownloads] for readability; improve error messages
  services/gem/gem-downloads.service.js
  services/gem/gem-downloads.tester.js
Labels: service-badge

#2877 Code walkthrough
  doc/code-walkthrough.md
Labels: documentation

#2871 Social badge support for static previews
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  core/base-service/base.spec.js
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/service-definitions.js
  core/base-service/transform-example.js
  frontend/components/badge-examples.js
  frontend/components/markup-modal/builder-common.js
  frontend/components/markup-modal/markup-modal-content.js
  frontend/components/markup-modal/query-string-builder.js
  services/github/github-followers.service.js
Labels: blocker, core, frontend

#2889 don't apply logoColor param to multi-coloured logos
  lib/load-logos.js
  lib/logos.js
  lib/logos.spec.js
  logo/superuser.svg
Labels: core

#2753 Refactor [lgtm] to new service model and static previews
  services/lgtm/lgtm-alerts.service.js
  services/lgtm/lgtm-base.js
  services/lgtm/lgtm-grade.service.js
  services/lgtm/lgtm.tester.js
Labels: blocker, service-badge

#2894 Fix [conda] service tests and rm some obsolete tests
  services/conda/conda.tester.js
Labels: keep-service-tests-green

#2896 Add timeouts to some flaky tests
  services/appveyor/appveyor-ci.tester.js
  services/appveyor/appveyor-tests.tester.js
  services/snyk/snyk-vulnerability-github.tester.js
  services/snyk/snyk-vulnerability-npm.tester.js
  services/sonarqube/sonarqube.tester.js
Labels: keep-service-tests-green

#2900 Remove two unused dependencies
  package-lock.json
  package.json
Labels: dependencies

#2899 Update production DNS access doc
  doc/production-hosting.md
Labels: documentation

#2886 Move suggest code and rewrite tests
  core/server/server.js
  services/suggest.integration.js
  services/suggest.js
  services/suggest.spec.js
  services/suggest/suggest.tester.js
Labels: service-badge

#2895 Consolidate service definition schema, removing support for previewUrl
  Makefile
  README.md
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/service-definitions.js
  core/base-service/transform-example.js
  core/base-service/transform-example.spec.js
  doc/self-hosting.md
  frontend/components/badge-examples.js
  frontend/components/main.js
  frontend/components/markup-modal/index.js
  frontend/components/suggestion-and-search.js
  frontend/constants.js
  next.config.js
  package.json
Labels: blocker, core, frontend
