Repository badges/shields, pull requests merged in 2019-10, with the labels that each got.

#4103 Make search work with category names
  core/base-service/examples.js
  core/base-service/examples.spec.js
  core/base-service/service-definitions.js
  doc/TUTORIAL.md
  frontend/lib/service-definitions/index.spec.ts
  frontend/lib/service-definitions/index.ts
  services/categories.js
  services/github/github-downloads.service.js
  services/github/github-last-commit.service.js
  services/github/github-license.service.js
  services/jira/jira-sprint.service.js
  services/vaadin-directory/vaadin-directory-rating-count.service.js
  services/vaadin-directory/vaadin-directory-rating.service.js
  services/vaadin-directory/vaadin-directory-version.service.js
Labels: core, frontend

#4096 Add dependency badge for Pipenv applications [GithubPipenv]
  services/github/github-common-fetch.js
  services/github/github-helpers.js
  services/github/github-pipenv.service.js
  services/github/github-pipenv.tester.js
  services/pipenv-helpers.js
  services/pypi/pypi-python-versions.tester.js
Labels: service-badge

#4107 Optimize [GithubIssues] using GraphQL
  services/github/github-issues.service.js
Labels: performance-improvement, service-badge, squash when passing

#4113 Fix an undefined variable in [GithubPackageJson]
  .eslintrc.yml
  services/github/github-common-fetch.js
  services/security-headers/security-headers.service.js
Labels: bug, service-badge, squash when passing

#4109 Add a GitHub project badge for Hacktoberfest [GithubHacktoberfest]
  services/github/github-hacktoberfest.service.js
  services/github/github-hacktoberfest.tester.js
Labels: service-badge

#4116 Missing spaces added do the usage section
  frontend/components/usage.tsx
Labels: frontend

#4143 handle missing license key in [aur]
  services/aur/aur.service.js
  services/aur/aur.tester.js
Labels: bug, service-badge

#4146 Fix tests in Node 12
  core/base-service/base.spec.js
Labels: core

#4145 Update service tests for [Scrutinizer Microbadger jsDelivr]
  services/jsdelivr/jsdelivr-hits-github.tester.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
  services/microbadger/microbadger-layers.tester.js
  services/microbadger/microbadger-size.tester.js
  services/scrutinizer/scrutinizer-base.js
  services/scrutinizer/scrutinizer-coverage.service.js
  services/scrutinizer/scrutinizer-coverage.spec.js
  services/scrutinizer/scrutinizer-quality.service.js
Labels: keep-service-tests-green, service-badge

#4141 update contributing docs on url/query params
  CONTRIBUTING.md
Labels: documentation, squash when passing

#4150 change [githubforks] query
  services/github/github-forks.service.js
Labels: bug, service-badge

#4041 fix type errors in [DynamicXml] service
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.spec.js
  services/dynamic/dynamic-xml.tester.js
Labels: bug, service-badge, squash when passing

#4152 fix invalid link
  doc/self-hosting.md
Labels: documentation

#4153 Support for XPath functions in [dynamicxml] badge
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.spec.js
  services/dynamic/dynamic-xml.tester.js
Labels: bug, service-badge

#4168 Support [JenkinsCoverage] through the Code Coverage API plugin
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
Labels: service-badge

#4171 Add CORS Header to every request
  core/server/server.js
  core/server/server.spec.js
Labels: core

#4173 honor build qualifiers in latest version comparisons, run [pub Debian GemDownloads GitHubRelease GitHubTag PackagistVersion]
  services/version.js
  services/version.spec.js
Labels: bug, service-badge

#4179 Bump(deps-dev): bump to simple-icons 1.18 (#4175)
  package-lock.json
  package.json
Labels: dependencies

#4180 Refactor [wordpress] downloads and add interval to theme downloads
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-downloads.tester.js
Labels: service-badge

#4187 Add Crates.io recent downloads badge (fixes #4186), run [Crates]
  services/crates/crates-base.js
  services/crates/crates-downloads.service.js
  services/crates/crates-downloads.tester.js
Labels: service-badge

#4193 Adjust new [swagger] endpoint
  services/swagger/swagger.service.js
  services/swagger/swagger.tester.js
Labels: service-badge

#4192 fix [aur] license test
  services/aur/aur.service.js
  services/aur/aur.tester.js
Labels: keep-service-tests-green

#4191 update [CodeClimateAnalysis] service tests
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-analysis.tester.js
Labels: keep-service-tests-green, squash when passing

#4148 Add [W3C] Markup Validation Service Badge (#3833)
  services/w3c/w3c-validation-helper.js
  services/w3c/w3c-validation-helper.spec.js
  services/w3c/w3c-validation.service.js
  services/w3c/w3c-validation.tester.js
Labels: service-badge

#4226 Add GitLab pipline suggestion
  services/suggest.integration.js
  services/suggest.js
Labels: frontend

#4228 add [homebrew] cask service
  services/homebrew/homebrew-cask.service.js
  services/homebrew/homebrew-cask.tester.js
Labels: service-badge, squash when passing

#4233 Add filename override to [GithubPackageJson]
  services/github/github-package-json.service.js
  services/github/github-package-json.tester.js
Labels: service-badge, squash when passing

#4224 [MavenMetadata] should use version as string (#4188), also run [MavenCentral]
  services/maven-central/maven-central.tester.js
  services/maven-metadata/maven-metadata.service.js
  services/maven-metadata/maven-metadata.tester.js
Labels: service-badge

#4251 fix [Sonar] legacy API tests
  services/sonar/sonar-base.js
  services/sonar/sonar-coverage.tester.js
  services/sonar/sonar-documented-api-density.tester.js
  services/sonar/sonar-fortify-rating.tester.js
  services/sonar/sonar-generic.tester.js
  services/sonar/sonar-quality-gate.tester.js
  services/sonar/sonar-tech-debt.tester.js
  services/sonar/sonar-tests.tester.js
  services/sonar/sonar-violations.tester.js
Labels: keep-service-tests-green, service-badge

#4253 revert cors header injection #4171
  core/server/server.js
  core/server/server.spec.js
Labels: core, squash when passing

#4252 revert version comparison updates #4173, run [pub Debian GemDownloads GitHubRelease GitHubTag PackagistVersion]
  services/version.js
  services/version.spec.js
Labels: service-badge, squash when passing

#4256 Align documentation to the left
  frontend/components/markup-modal/markup-modal-content.tsx
Labels: frontend

#4266 When serviceData fails validation, include the service class in the stack trace
  core/base-service/base.js
  core/base-service/base.spec.js
Labels: core

#4231 #2435 [packagist] composer metadata api
  services/packagist/packagist-base.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-version.service.js
Labels: service-badge

#4267 Tutorial: Update the method order to be canonical
  doc/TUTORIAL.md
Labels: documentation

#4232 Added [GithubGoModGoVersion GitHub] badge
  services/github/github-common-fetch.js
  services/github/github-go-mod.service.js
  services/github/github-go-mod.tester.js
Labels: service-badge
