Repository badges/shields, pull requests merged in 2020-01, with the labels that each got.

#4487 fixes small typo
  frontend/pages/endpoint.tsx
Labels: documentation, frontend

#4481 Use expectRedirect helper in redirect tests; affects [circleci codeclimate codecov discourse endpoint github jenkins jira jitpack lgtm maven nexus scrutinizer sonar swagger symfony teamcity travis twitter vso waffle website wordpress]
  services/azure-devops/vso-redirect.tester.js
  services/circleci/circleci.tester.js
  services/codeclimate/codeclimate-analysis-redirector.tester.js
  services/codeclimate/codeclimate-coverage-redirector.tester.js
  services/codecov/codecov-redirect.tester.js
  services/discourse/discourse-redirect.tester.js
  services/endpoint/endpoint-redirect.tester.js
  services/github/github-issue-detail-redirect.tester.js
  services/github/github-release.tester.js
  services/github/github-tag.tester.js
  services/jenkins/jenkins-build-redirect.tester.js
  services/jenkins/jenkins-coverage-redirector.tester.js
  services/jenkins/jenkins-tests-redirector.tester.js
  services/jira/jira-issue-redirect.tester.js
  services/jira/jira-sprint-redirect.tester.js
  services/jitpack/jitpack-version-redirector.tester.js
  services/lgtm/lgtm-redirector.tester.js
  services/maven-metadata/maven-metadata-redirect.tester.js
  services/nexus/nexus-redirect.tester.js
  services/scrutinizer/scrutinizer-redirect.tester.js
  services/sonar/sonar-redirector.tester.js
  services/swagger/swagger-redirect.tester.js
  services/symfony/sensiolabs-redirect.tester.js
  services/teamcity/teamcity-build-redirect.tester.js
  services/teamcity/teamcity-coverage-redirect.tester.js
  services/travis/travis-php-version-redirect.tester.js
  services/twitter/twitter-redirect.tester.js
  services/waffle/waffle-label-redirect.tester.js
  services/website/website-redirect.tester.js
  services/wordpress/wordpress-platform-redirect.tester.js
Labels: service-badge, squash when passing

#4434 A response size metric of an upstream service for dynamic badges like [dynamicyaml], (but not [jetbrains])
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/metric-helper.js
  core/server/prometheus-metrics.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-yaml.service.js
Labels: core, operations, service-badge

#4490 Remove lodash.throttle from dependencies
  package-lock.json
  package.json
Labels: dependencies, squash when passing

#4495 Fix [TeamCity] build status text schema
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-build.tester.js
Labels: service-badge

#4491 set followRedirect: false by default in tests
  core/service-test-runner/icedfrisby-shields.js
  services/amo/amo-downloads.tester.js
  services/azure-devops/vso-redirect.tester.js
  services/bower/bower-version.tester.js
  services/chocolatey/chocolatey.tester.js
  services/chrome-web-store/chrome-web-store-users.tester.js
  services/circleci/circleci.tester.js
  services/clojars/clojars-version.tester.js
  services/codeclimate/codeclimate-analysis-redirector.tester.js
  services/codeclimate/codeclimate-coverage-redirector.tester.js
  services/codecov/codecov-redirect.tester.js
  services/discourse/discourse-redirect.tester.js
  services/endpoint/endpoint-redirect.tester.js
  services/github/github-issue-detail-redirect.tester.js
  services/github/github-release.tester.js
  services/github/github-tag.tester.js
  services/jenkins/jenkins-build-redirect.tester.js
  services/jenkins/jenkins-coverage-redirector.tester.js
  services/jenkins/jenkins-tests-redirector.tester.js
  services/jira/jira-issue-redirect.tester.js
  services/jira/jira-sprint-redirect.tester.js
  services/jitpack/jitpack-version-redirector.tester.js
  services/lgtm/lgtm-alerts.tester.js
  services/lgtm/lgtm-grade.tester.js
  services/lgtm/lgtm-redirector.tester.js
  services/maven-metadata/maven-metadata-redirect.tester.js
  services/nexus/nexus-redirect.tester.js
  services/nexus/nexus.tester.js
  services/packagist/packagist-version.tester.js
  services/powershellgallery/powershellgallery.tester.js
  services/pub/pub.tester.js
  services/resharper/resharper.tester.js
  services/scrutinizer/scrutinizer-redirect.tester.js
  services/sonar/sonar-redirector.tester.js
  services/swagger/swagger-redirect.tester.js
  services/symfony/sensiolabs-redirect.tester.js
  services/teamcity/teamcity-build-redirect.tester.js
  services/teamcity/teamcity-coverage-redirect.tester.js
  services/travis/travis-php-version-redirect.tester.js
  services/twitter/twitter-redirect.tester.js
  services/waffle/waffle-label-redirect.tester.js
  services/website/website-redirect.tester.js
  services/wordpress/wordpress-platform-redirect.tester.js
  services/wordpress/wordpress-platform.tester.js
Labels: squash when passing

#4409 add [AppVeyorJobBuild] status badge
  frontend/lib/service-definitions/index.spec.ts
  services/appveyor/appveyor-base.js
  services/appveyor/appveyor-build-redirect.service.js
  services/appveyor/appveyor-build-redirect.tester.js
  services/appveyor/appveyor-build.service.js
  services/appveyor/appveyor-build.tester.js
  services/appveyor/appveyor-job-build.service.js
  services/appveyor/appveyor-job-build.spec.js
  services/appveyor/appveyor-job-build.tester.js
Labels: service-badge, squash when passing

#4459 Template literal templates
  __snapshots__/make-badge.spec.js
  core/base-service/coalesce-badge.js
  frontend/components/development/style-page.tsx
  gatsby-node.js
  gh-badges/lib/badge-renderers.js
  gh-badges/lib/index.js
  gh-badges/lib/index.spec.js
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/package.json
  gh-badges/templates/flat-square-template.svg
  gh-badges/templates/flat-template.svg
  gh-badges/templates/for-the-badge-template.svg
  gh-badges/templates/plastic-template.svg
  gh-badges/templates/social-template.svg
  package-lock.json
Labels: blocker, npm-package

#4526 fix [PuppetforgeModulePdkVersion] service test
  services/puppetforge/puppetforge-module-pdk-version.tester.js
Labels: keep-service-tests-green

#4529 Add [Repology] repositories badge
  services/repology/repology-repositories.service.js
  services/repology/repology-repositories.tester.js
Labels: service-badge

#4582 always strip build metadata from [nuget myget] versions
  services/nuget/nuget-v3-service-family.js
  services/nuget/nuget.tester.js
Labels: service-badge, squash when passing

#4589 fix [MavenMetadata] service tests
  services/maven-metadata/maven-metadata.service.js
  services/maven-metadata/maven-metadata.tester.js
Labels: keep-service-tests-green

#4584 Yo dawg, I heard you like bots 🤖
  .dependabot/config.yml
  .github/workflows/auto-approve.yml
Labels: developer-experience
