Repository badges/shields, pull requests merged in 2020-06, with the labels that each got.

#5154 Add the /steam/update-date badge, run [steam]
  services/steam/steam-workshop.service.js
  services/steam/steam-workshop.tester.js
Labels: service-badge, squash when passing

#5156 update 'operations' section in README
  README.md
Labels: documentation, squash when passing

#5159 add missing dependency
  badge-maker/CHANGELOG.md
  badge-maker/package.json
Labels: npm-package

#5126 add type definitions to badge-maker package
  .circleci/config.yml
  badge-maker/README.md
  badge-maker/index.d.ts
  badge-maker/index.test-d.ts
  badge-maker/package.json
  package-lock.json
  package.json
Labels: developer-experience, npm-package

#5163 Implement All Contributors Badge, run [GitHubAllContributors]
  services/github/github-all-contributors.service.js
  services/github/github-all-contributors.tester.js
Labels: service-badge

#5162 run a smoke test for package with no shields.io deps installed
  .circleci/config.yml
Labels: developer-experience, npm-package

#5166 [Reddit] New badge and additional testing
  services/reddit/subreddit-subscribers.service.js
  services/reddit/subreddit-subscribers.tester.js
  services/reddit/user-karma.service.js
  services/reddit/user-karma.tester.js
Labels: service-badge, squash when passing

#5190 Avoid using racially linked language
  core/server/monitor.js
  core/server/rate-limit.js
Labels: core, squash when passing

#5193 fix lockfile
  package-lock.json
Labels: dependencies

#5213 update [codeclimate] service tests/example
  services/codeclimate/codeclimate-coverage.service.js
  services/codeclimate/codeclimate-coverage.tester.js
Labels: keep-service-tests-green, squash when passing

#5212 fix failing [aur] service test
  services/aur/aur.tester.js
Labels: keep-service-tests-green, squash when passing

#5192 Update list of who has access to production resources
  README.md
  doc/production-hosting.md
Labels: squash when passing

#5217 Fix [Twitch] Client-ID header
  core/base-service/base.js
  services/twitch/twitch-base.js
  services/twitch/twitch.spec.js
Labels: bug, service-badge

#5155 Community/sponsors page
  README.md
  frontend/components/footer.tsx
  frontend/pages/community.tsx
  static/images/heroku-logotype-horizontal-purple.svg
  static/images/nodeping.svg
  static/images/sentry-logo-black.svg
Labels: documentation, frontend

#5233 fix failing [gitlab] service test
  services/build-status.js
Labels: keep-service-tests-green, squash when passing

#5232 support custom manifest path for [GitHubManifest] and fix service tests
  services/github/github-manifest.service.js
  services/github/github-manifest.tester.js
Labels: keep-service-tests-green, service-badge

#5239 Handle [cpan] versions that aren't returned as strings
  services/cpan/cpan-version.tester.js
  services/cpan/cpan.js
Labels: bug, service-badge

#5234 auto-detect default branch on [github nycrc osslifecycle]
  services/github/github-commits-since.service.js
  services/github/github-common-fetch.js
  services/github/github-package-json.service.js
  services/nycrc/nycrc.service.js
  services/nycrc/nycrc.tester.js
  services/osslifecycle/osslifecycle.service.js
  services/osslifecycle/osslifecycle.tester.js
Labels: service-badge, squash when passing

#5237 [crates] recent_downloads can be null
  services/crates/crates-base.js
  services/crates/crates-downloads.service.js
  services/crates/crates-downloads.tester.js
Labels: service-badge, squash when passing
