Repository badges/shields, pull requests merged in 2020-04, with the labels that each got.

#4807 Refactor checkShouldSkip, affects [Twitch SymfonyInsight Wheelmap]
  services/symfony/symfony-insight-grade.tester.js
  services/symfony/symfony-insight-stars.tester.js
  services/symfony/symfony-insight-violations.tester.js
  services/symfony/symfony-test-helpers.js
  services/test-helpers.js
  services/twitch/twitch.tester.js
  services/wheelmap/wheelmap.tester.js
Labels: developer-experience

#4863 don't upgrade to chalk 4
  .dependabot/config.yml
Labels: squash when passing

#4865 fix badge CLI debug script
  scripts/badge-cli.js
Labels: developer-experience, squash when passing

#4866 lower gatsby ignore version to 2.19.50
  .dependabot/config.yml
Labels: dependencies, squash when passing

#4810 fix: [node npm] service has bad colors #4809
  services/node/node-base.js
  services/node/node-current.service.js
  services/node/node-current.spec.js
  services/node/node-current.tester.js
  services/node/node-lts.service.js
  services/node/node-lts.spec.js
  services/node/node-lts.tester.js
  services/node/node-version-color.js
  services/node/node.tester.js
  services/node/testUtils/packageJsonTemplate.json
  services/node/testUtils/packageJsonVersionsTemplate.json
  services/node/testUtils/test-utils.js
  services/npm/npm-base.js
Labels: service-badge

#4870 Document that logoColor does not apply to custom logos
  frontend/components/usage.tsx
Labels: documentation

#4873 deprecate [JitPack] downloads badge
  services/jitpack/jitpack-downloads.service.js
  services/jitpack/jitpack-downloads.tester.js
Labels: keep-service-tests-green, service-badge, squash when passing

#4815 Add [OffsetEarth] badges
  services/offset-earth/offset-earth-carbon.service.js
  services/offset-earth/offset-earth-carbon.tester.js
  services/offset-earth/offset-earth-trees.service.js
  services/offset-earth/offset-earth-trees.tester.js
Labels: service-badge, squash when passing

#4879 updating node js version
  doc/self-hosting.md
Labels: squash when passing

#4877 Fix TypeError in [SymfonyInsight] transform
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-base.spec.js
Labels: bug, service-badge, squash when passing

#4896 ignore some more node 10 deps
  .dependabot/config.yml
Labels: dependencies, squash when passing

#4875 [Conda] license badge added.
  services/conda/conda-license.service.js
  services/conda/conda-license.tester.js
Labels: service-badge

#4898 Adding badges for JetBrains Plugin Ratings, run [JetBrainsRating]. #4897
  services/jetbrains/jetbrains-rating.service.js
  services/jetbrains/jetbrains-rating.tester.js
Labels: service-badge, squash when passing

#4907 fix TypeError in [DockerVersion] badge
  services/docker/docker-version.service.js
  services/docker/docker-version.spec.js
Labels: service-badge

#4905 Fix failing [Nexus] tests
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green, squash when passing

#4927 Fix [CodeclimateCoverage] tests
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-coverage.tester.js
Labels: keep-service-tests-green

#4756 📦 version 3
  Dockerfile
  README.md
  __snapshots__/make-badge.spec.js
  badge-maker/.npmignore
  badge-maker/CHANGELOG.md
  badge-maker/LICENSE
  badge-maker/README.md
  badge-maker/lib/badge-cli.js
  badge-maker/lib/badge-cli.spec.js
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/color.js
  badge-maker/lib/color.spec.js
  badge-maker/lib/index.js
  badge-maker/lib/index.spec.js
  badge-maker/lib/make-badge.js
  badge-maker/lib/make-badge.spec.js
  badge-maker/package.json
  core/badge-urls/make-badge-url.d.ts
  core/badge-urls/make-badge-url.js
  core/base-service/base-non-memory-caching.js
  core/base-service/base-static.js
  core/base-service/base-svg-scraping.spec.js
  core/base-service/base.spec.js
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/legacy-request-handler.js
  core/server/server.js
  doc/code-walkthrough.md
  doc/self-hosting.md
  frontend/components/development/style-page.tsx
  gatsby-node.js
  gh-badges/lib/index.js
  gh-badges/lib/index.spec.js
  gh-badges/lib/make-badge.js
  gh-badges/lib/make-badge.spec.js
  gh-badges/lib/svg-to-img.js
  gh-badges/lib/svg-to-img.spec.js
  gh-badges/templates/flat-square-template.svg
  gh-badges/templates/flat-template.svg
  gh-badges/templates/for-the-badge-template.svg
  gh-badges/templates/plastic-template.svg
  gh-badges/templates/social-template.svg
  lib/logos.js
  package-lock.json
  package.json
  services/snyk/snyk-vulnerability-github.service.js
  services/snyk/snyk-vulnerability-github.tester.js
Labels: blocker, core, npm-package

#4945 Update a few remaining references to gh-badges and remove nowignore
  .circleci/config.yml
  .dependabot/config.yml
  .eslintignore
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .gitignore
  .nowignore
  .prettierignore
Labels: squash when passing

#4946 fix logo placement with custom logoWidth value
  badge-maker/lib/badge-renderers.js
Labels: core, npm-package

#4953 Set Influx config for Heroku production app
  config/shields-io-production.yml
Labels: blocker, operations

#4956 Get data for [Discord] badges via OVH server proxies
  config/custom-environment-variables.yml
  config/default.yml
  core/server/server.js
  services/discord/discord.service.js
Labels: service-badge

#4952 Add [AUR] maintainer and last modified badges
  services/aur/aur.service.js
  services/aur/aur.tester.js
Labels: service-badge

#4959 Delay start until the server is ready
  core/base-service/legacy-request-handler.spec.js
  core/base-service/redirector.spec.js
  core/server/prometheus-metrics.spec.js
  core/server/server.js
  package-lock.json
  package.json
  services/github/auth/acceptor.spec.js
  services/github/auth/admin.spec.js
  services/suggest.integration.js
  services/suggest.spec.js
Labels: core, operations

#4966 document request header size limit
  frontend/components/usage.tsx
Labels: documentation

#4976 Upgrade to Mocha 7; test on [npmdownloads]
  core/service-test-runner/cli.js
  package-lock.json
  package.json
Labels: dependencies

#4978 Lengthen timeout on a sometimes slow test
  services/wordpress/wordpress-version-color.spec.js
Labels: developer-experience, squash when passing

#4986 Fix missing [Cocoapods] license
  services/cocoapods/cocoapods-base.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-license.tester.js
Labels: bug, service-badge

#4992 Update test matrix and docs
  .circleci/config.yml
  badge-maker/CHANGELOG.md
  doc/TUTORIAL.md
  doc/self-hosting.md
Labels: developer-experience
