Repository badges/shields, pull requests merged in 2020-12, with the labels that each got.

#5889 delete eslint-plugin-standard, update eslint-config-standard and eslint; affects [github jira scoop]
  gatsby-config.js
  package-lock.json
  package.json
  services/github/github-go-mod.service.js
  services/github/github-r-package.service.js
  services/jira/jira-sprint.service.js
  services/scoop/scoop-version.service.js
  services/text-formatters.spec.js
Labels: dependencies, developer-experience, squash when passing

#5886 post-Heroku migration cleanup tasks
  .github/workflows/add_deployment_status.yml
  Makefile
  README.md
  doc/production-hosting.md
Labels: operations, squash when passing

#5893 fix [OpenVSX] service tests
  services/open-vsx/open-vsx-base.js
  services/open-vsx/open-vsx-downloads.service.js
  services/open-vsx/open-vsx-rating.service.js
  services/open-vsx/open-vsx-release-date.service.js
  services/open-vsx/open-vsx-version.service.js
Labels: keep-service-tests-green, service-badge, squash when passing

#5942 Deprecate [Continuousphp] service
  services/continuousphp/continuousphp.service.js
  services/continuousphp/continuousphp.spec.js
  services/continuousphp/continuousphp.tester.js
Labels: service-badge, squash when passing

#5945 Fix base URL for npm peer dependencies
  services/npm/npm-dependency-version.service.js
Labels: squash when passing

#5949 use a logo in the README that looks ok in light or dark mode
  README.md
  readme-logo.svg
Labels: documentation

#5951 fix [GitHubCommitsSince] service test
  services/github/github-commits-since.tester.js
Labels: keep-service-tests-green, squash when passing

#5974 use new plugin api for [jetbrains]
  services/jetbrains/jetbrains-base.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-downloads.tester.js
  services/jetbrains/jetbrains-rating.service.js
  services/jetbrains/jetbrains-rating.tester.js
  services/jetbrains/jetbrains-version.service.js
  services/jetbrains/jetbrains-version.tester.js
Labels: service-badge, squash when passing

#5977 deploy docs to gh-pages
  .github/workflows/deploy-docs.yml
  package.json
Labels: documentation, operations, squash when passing

#5975 Test for server running with metrics enabled
  core/server/server.js
  core/server/server.spec.js
Labels: core, squash when passing

#5972 Fix [Spiget] rating display issue
  services/spiget/spiget-rating.service.js
Labels: service-badge, squash when passing

#5973 [GitHubChecksStatus] Add commit check badge
  services/github/github-checks-status.service.js
  services/github/github-checks-status.tester.js
Labels: service-badge, squash when passing

#5978 remove refs to netlify from docs
  doc/production-hosting.md
  frontend/pages/community.tsx
Labels: documentation, squash when passing

#5976 add generic [GithubIssuesSearch] badges
  services/github/github-issues-search.service.js
  services/github/github-issues-search.tester.js
Labels: service-badge, squash when passing

#5979 Fixed escapes single '_' of badge urls; affects [static website]
  core/badge-urls/path-helpers.js
  core/badge-urls/path-helpers.spec.js
Labels: core

#5992 bump scoutcamp to 18.1.1
  package-lock.json
  package.json
Labels: dependencies

#5998 set 'Cache-Control: private' on token auth endpoint
  services/github/auth/admin.js
Labels: operations
