Repository badges/shields, pull requests merged in 2020-10, with the labels that each got.

#5634 Refactor [osslifecycle packagecontrol packagist pkgreview poeditor] service files
  services/osslifecycle/osslifecycle.service.js
  services/packagecontrol/packagecontrol.service.js
  services/packagist/packagist-downloads.service.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-stars.service.js
  services/packagist/packagist-version.service.js
  services/pkgreview/package-rating.service.js
  services/poeditor/poeditor.service.js
Labels: service-badge

#5633 Refactor [Spiget Steam StackExchange static] badge services
  services/spiget/spiget-download-size.service.js
  services/spiget/spiget-downloads.service.js
  services/spiget/spiget-latest-version.service.js
  services/spiget/spiget-rating.service.js
  services/spiget/spiget-tested-versions.service.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/static-badge/query-string-static.service.js
  services/static-badge/static-badge.service.js
  services/steam/steam-workshop.service.js
Labels: service-badge

#5635 Refactor [powershellgallery pub puppetforge pypi] services
  services/powershellgallery/powershellgallery.service.js
  services/pub/pub.service.js
  services/puppetforge/puppetforge-module-downloads.service.js
  services/puppetforge/puppetforge-module-endorsement.service.js
  services/puppetforge/puppetforge-module-feedback.service.js
  services/puppetforge/puppetforge-module-pdk-version.service.js
  services/puppetforge/puppetforge-module-version.service.js
  services/puppetforge/puppetforge-user-module-count.service.js
  services/puppetforge/puppetforge-user-release-count.service.js
  services/pypi/pypi-django-versions.service.js
  services/pypi/pypi-downloads.service.js
  services/pypi/pypi-format.service.js
  services/pypi/pypi-implementation.service.js
  services/pypi/pypi-license.service.js
  services/pypi/pypi-python-versions.service.js
  services/pypi/pypi-status.service.js
  services/pypi/pypi-version.service.js
  services/pypi/pypi-wheel.service.js
Labels: service-badge, squash when passing

#5631 Inject shieldsSecret into GitHub token admin endpoint
  core/server/secret-is-valid.js
  services/github/auth/admin.js
  services/github/auth/admin.spec.js
  services/github/github-constellation.js
Labels: core

#5639 [GithubIssues] Add examples for count github pull requests closed by label
  services/github/github-issues.service.js
Labels: squash when passing

#5640 Remove EditorConfig from recommend VS Code plugins
  .vscode/extensions.json
Labels: developer-experience, squash when passing

#5642 Converted Service Classes to Static Fields, run [visualstudio w3c]
  services/visual-studio-app-center/visual-studio-app-center-builds.service.js
  services/visual-studio-app-center/visual-studio-app-center-releases-osversion.service.js
  services/visual-studio-app-center/visual-studio-app-center-releases-size.service.js
  services/visual-studio-app-center/visual-studio-app-center-releases-version.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-last-updated.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-release-date.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.service.js
  services/w3c/w3c-validation.service.js
Labels: service-badge, squash when passing

#5641 Refactor [readthedocs reddit redmine repology] services
  services/readthedocs/readthedocs.service.js
  services/reddit/subreddit-subscribers.service.js
  services/reddit/user-karma.service.js
  services/redmine/redmine.service.js
  services/repology/repology-repositories.service.js
Labels: service-badge, squash when passing

#5632 Refactor service classes [snyk sonar sourceforge sourcegraph spack]
  services/snyk/snyk-vulnerability-github.service.js
  services/snyk/snyk-vulnerability-npm.service.js
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-generic.service.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-tests.service.js
  services/sonar/sonar-violations.service.js
  services/sourceforge/sourceforge-open-tickets.service.js
  services/sourceforge/sourceforge.service.js
  services/sourcegraph/sourcegraph.service.js
  services/spack/spack.service.js
Labels: service-badge, squash when passing

#5659 Converted [swagger symfony teamcity travis treeware] from static class to props
  services/swagger/swagger.service.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-violations.service.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-coverage.service.js
  services/travis/travis-build.service.js
  services/travis/travis-php-version.service.js
  services/treeware/treeware-trees.service.js
Labels: service-badge, squash when passing

#5660 Completed [twitch twitter ubuntu uptimerobot vaadindirectory] from st…
  services/twitch/twitch-base.js
  services/twitch/twitch.service.js
  services/twitter/twitter.service.js
  services/ubuntu/ubuntu.service.js
  services/uptimerobot/uptimerobot-base.js
  services/uptimerobot/uptimerobot-ratio.service.js
  services/uptimerobot/uptimerobot-status.service.js
  services/vaadin-directory/vaadin-directory-rating-count.service.js
  services/vaadin-directory/vaadin-directory-rating.service.js
  services/vaadin-directory/vaadin-directory-release-date.service.js
  services/vaadin-directory/vaadin-directory-status.service.js
  services/vaadin-directory/vaadin-directory-version.service.js
Labels: service-badge, squash when passing

#5661 Update badge-maker to version 3.3.0
  badge-maker/CHANGELOG.md
  badge-maker/package.json
Labels: npm-package

#5667 Update Danger rule for joi
  dangerfile.js
Labels: developer-experience

#5664 Finish removing server-secrets.js
  doc/self-hosting.md
  lib/server-secrets.js
  services/github/github-auth-service.js
  services/github/github-helpers.js
Labels: core

#5674 Move chai-as-promised from prod to dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#5677 Fix wrong anchor for writing tests document
  doc/TUTORIAL.md
Labels: documentation, squash when passing

#5671 Remove FsTokenPersistence
  config/custom-environment-variables.yml
  config/default.yml
  core/server/server.js
  core/token-pooling/fs-token-persistence.js
  core/token-pooling/fs-token-persistence.spec.js
  core/token-pooling/redis-token-persistence.js
  core/token-pooling/token-persistence.js
  package-lock.json
  package.json
  scripts/redis-connectivity-test.js
  services/github/github-constellation.js
Labels: core, squash when passing

#5638 loosen [visualstudiomarketplace] input schema
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
Labels: service-badge, squash when passing

#5666 When configured, require requests to come from Cloudflare
  config/custom-environment-variables.yml
  config/default.yml
  core/server/server.js
  core/server/server.spec.js
  doc/self-hosting.md
  package-lock.json
  package.json
Labels: core, operations

#5700 switch to unit test for [aur] package out of date test
  services/aur/aur.spec.js
  services/aur/aur.tester.js
Labels: keep-service-tests-green

#5703 fix [Packagist] Version service test
  services/packagist/packagist-version.tester.js
Labels: keep-service-tests-green, squash when passing

#5706 Update service-tests.md
  doc/service-tests.md
Labels: documentation, squash when passing

#5709 Add a deployment status using GitHub Actions
  .github/probot.js
  .github/workflows/add_deployment_status.yml
Labels: developer-experience

#5707 fix: TypeError in [DockerVersion] badge
  services/docker/docker-version.service.js
  services/docker/docker-version.spec.js
Labels: service-badge

#5711 unskip token integration test
  services/github/github-api-provider.integration.js
Labels: core, squash when passing

#5712 Fix REQUIRE_CLOUDFLARE for Heroku
  core/server/server.js
Labels: core, operations

#5714 Prettify the SVG snapshots (and a couple cleanups)
  __snapshots__/make-badge.spec.js
  badge-maker/lib/make-badge.spec.js
Labels: npm-package

#5704 [Github] Handle the case when the Github deployment status returns null
  services/github/github-deployments.service.js
  services/github/github-deployments.spec.js
  services/github/github-deployments.tester.js
Labels: keep-service-tests-green, service-badge, squash when passing

#5696 Improve appearance of for-the-badge and social badges by measuring correct font
  __snapshots__/make-badge.spec.js
  badge-maker/lib/badge-renderers.js
  badge-maker/package.json
  frontend/components/development/style-page.tsx
  package-lock.json
Labels: npm-package

#5715 Use our typical casing for [nodeping] label
  services/nodeping/nodeping-status.service.js
  services/nodeping/nodeping-status.tester.js
  services/nodeping/nodeping-uptime.service.js
  services/nodeping/nodeping-uptime.tester.js
Labels: service-badge, squash when passing

#5725 [Wordpress] Convert static classes to props
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version.service.js
Labels: squash when passing

#5720 Change [issuestats] redirector from format to pattern
  services/issuestats/issuestats.service.js
Labels: service-badge, squash when passing

#5718 Fail in CI when package tests fail
  .circleci/config.yml
  scripts/run_package_tests.sh
Labels: developer-experience, npm-package

#5719 Align `label` and `message` props of `coalesceBadge()` with internal `makeBadge()`
  badge-maker/lib/index.js
  badge-maker/lib/make-badge.js
  badge-maker/lib/make-badge.spec.js
  core/base-service/base-svg-scraping.spec.js
  core/base-service/base.spec.js
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/examples.js
  core/base-service/legacy-request-handler.js
  core/server/server.js
Labels: core, npm-package

#5727 Specifying logoColor does not work with logoSvg
  frontend/pages/endpoint.tsx
Labels: documentation

#5697 Add back [ChromeWebStore] rating
  package-lock.json
  package.json
  services/chrome-web-store/chrome-web-store-base.js
  services/chrome-web-store/chrome-web-store-price.service.js
  services/chrome-web-store/chrome-web-store-rating.service.js
  services/chrome-web-store/chrome-web-store-rating.tester.js
  services/chrome-web-store/chrome-web-store-users.service.js
  services/chrome-web-store/chrome-web-store-users.tester.js
  services/chrome-web-store/chrome-web-store-version.service.js
Labels: service-badge

#5716 A few straight refactors in badge-renderers
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/make-badge.js
Labels: npm-package

#5723 [Wordpress] Plugin & Theme required php
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-platform.tester.js
Labels: service-badge, squash when passing

#5708 Added [GithubRPackageVersion] badge
  services/github/github-go-mod.service.js
  services/github/github-go-mod.tester.js
  services/github/github-r-package.service.js
  services/github/github-r-package.spec.js
  services/github/github-r-package.tester.js
Labels: service-badge, squash when passing

#5705 Add [GithubDirectoryFileCount] badge
  services/github/github-directory-file-count.service.js
  services/github/github-directory-file-count.spec.js
  services/github/github-directory-file-count.tester.js
Labels: service-badge, squash when passing

#5694 Add [GitHubSponsors] badge
  services/github/github-sponsors.service.js
  services/github/github-sponsors.tester.js
Labels: service-badge, squash when passing

#5748 Refactor remaining [github] services
  services/github/github-search.service.js
  services/github/github-size.service.js
  services/github/github-stars.service.js
  services/github/github-tag.service.js
  services/github/github-top-language.service.js
  services/github/github-watchers.service.js
  services/github/github-workflow-status.service.js
Labels: service-badge

#5717 [Wordpress] Added Theme Required WP Version Badge & refactor
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-platform.tester.js
Labels: service-badge, squash when passing

#5722 [Wordpress] Theme & Plugin Last Updated badge
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-last-update.service.js
  services/wordpress/wordpress-last-update.tester.js
  services/wordpress/wordpress-platform.tester.js
Labels: service-badge, squash when passing

#5726 Align `style` prop of `coalesceBadge()` with internal `makeBadge()`
  badge-maker/lib/index.js
  badge-maker/lib/make-badge.js
  badge-maker/lib/make-badge.spec.js
  core/base-service/base.spec.js
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/examples.js
Labels: core, npm-package

#5772 [Docker] version badge: Add architecture param
  services/docker/docker-fixtures.js
  services/docker/docker-version.service.js
  services/docker/docker-version.spec.js
Labels: service-badge, squash when passing

#5756 [GithubCommitsSince GithubDownloads GithubRelease] GithubDownloads supports latest release by SemVer
  services/github/github-common-release.js
  services/github/github-downloads.service.js
  services/github/github-downloads.tester.js
Labels: service-badge, squash when passing
