Repository badges/shields, pull requests merged in 2020-09, with the labels that each got.

#5471 Add [Criterion] badge
  services/criterion/constants.js
  services/criterion/criterion.service.js
  services/criterion/criterion.tester.js
Labels: service-badge

#5478 Deprecate [Codetally] service
  services/codetally/codetally.service.js
  services/codetally/codetally.tester.js
Labels: service-badge

#5477 Fix externally hosted [Spiget] test
  services/spiget/spiget-download-size.tester.js
Labels: keep-service-tests-green, squash when passing

#5474 [Packagist] Use default branch as indicated by Packagist
  services/packagist/packagist-base.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-license.spec.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-php-version.spec.js
Labels: service-badge, squash when passing

#5495 deprecate [ChromeWebStoreRating] badges
  services/chrome-web-store/chrome-web-store-rating.service.js
  services/chrome-web-store/chrome-web-store-rating.tester.js
Labels: service-badge, squash when passing

#5081 [Scoop] Add scoop badge service
  services/scoop/scoop-version.service.js
  services/scoop/scoop-version.tester.js
Labels: service-badge

#5137 redirect /endpoint with no query params to endpoint docs
  core/base-service/legacy-request-handler.js
Labels: operations, squash when passing

#5467 Use black font when background color is too light
  __snapshots__/make-badge.spec.js
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/color.js
  badge-maker/lib/color.spec.js
  badge-maker/lib/make-badge.spec.js
  badge-maker/package.json
  lib/logos.js
  package-lock.json
  spec/SPECIFICATION.md
Labels: core, npm-package

#5504 convert some service classes to static props, run [buildkite bundlephobia]
  services/bugzilla/bugzilla.service.js
  services/buildkite/buildkite.service.js
  services/bundlephobia/bundlephobia.service.js
Labels: service-badge, squash when passing

#5503 convert some service classes to static props, run [bower bstats]
  services/bower/bower-license.service.js
  services/bower/bower-version.service.js
  services/bstats/bstats-players.service.js
  services/bstats/bstats-servers.service.js
Labels: service-badge, squash when passing

#5501 convert some service classes to static props, run [beerpay bintray bit]
  services/beerpay/beerpay.service.js
  services/bintray/bintray-downloads.service.js
  services/bintray/bintray-version.service.js
  services/bit/bit-components.service.js
Labels: service-badge, squash when passing

#5502 convert some service classes to static props, run [bitbucket bitrise bountysource]
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-pipelines.service.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitrise/bitrise.service.js
  services/bountysource/bountysource.service.js
Labels: service-badge, squash when passing

#5500 convert some service classes to static props, run [archlinux aur azuredevops]
  services/archlinux/archlinux.service.js
  services/aur/aur.service.js
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-coverage.tester.js
  services/azure-devops/azure-devops-release.service.js
  services/azure-devops/azure-devops-tests.service.js
Labels: keep-service-tests-green, service-badge, squash when passing

#5472 Add [Localizely] badges
  services/localizely/localizely.service.js
  services/localizely/localizely.tester.js
Labels: service-badge

#5496 convert some service classes to static props, run [ansible apm appveyor]
  services/ansible/ansible-quality.service.js
  services/ansible/ansible-role.service.js
  services/apm/apm.service.js
  services/appveyor/appveyor-base.js
  services/appveyor/appveyor-build.service.js
  services/appveyor/appveyor-job-build.service.js
  services/appveyor/appveyor-tests.service.js
Labels: service-badge, squash when passing

#5508 Rework isCSSColor check
  badge-maker/lib/color.js
  badge-maker/lib/color.spec.js
  badge-maker/package.json
  package-lock.json
Labels: core, npm-package

#5521 Fix failing [Criterion] service test
  services/criterion/criterion.tester.js
Labels: keep-service-tests-green, squash when passing

#5519 Fix failing [Coverity] service test
  services/coverity/coverity-scan.tester.js
Labels: keep-service-tests-green, squash when passing

#5509 convert some service classes to static props, run [cdnjs chromewebstore]
  services/cdnjs/cdnjs.service.js
  services/chrome-web-store/chrome-web-store-price.service.js
  services/chrome-web-store/chrome-web-store-users.service.js
  services/chrome-web-store/chrome-web-store-version.service.js
Labels: service-badge, squash when passing

#5511 convert some service classes to static props, run [ciibestpractices circleci cirrus]
  services/cii-best-practices/cii-best-practices.service.js
  services/circleci/circleci.service.js
  services/cirrus/cirrus.service.js
Labels: service-badge, squash when passing

#5514 convert some service classes to static props, run [codacy codeclimate codecov]
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-grade.service.js
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codecov/codecov.service.js
Labels: service-badge, squash when passing

#5513 convert some service classes to static props, run [clojars cocoapods]
  services/clojars/clojars-downloads.service.js
  services/clojars/clojars-version.service.js
  services/cocoapods/cocoapods-docs.service.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cocoapods/cocoapods-version.service.js
Labels: service-badge, squash when passing

#5515 convert some service classes to static props, run [codefactor codeship conda continuousphp]
  services/codefactor/codefactor-grade.service.js
  services/codeship/codeship.service.js
  services/conda/conda-base.js
  services/conda/conda-downloads.service.js
  services/conda/conda-license.service.js
  services/conda/conda-platform.service.js
  services/conda/conda-version.service.js
  services/continuousphp/continuousphp.service.js
Labels: service-badge, squash when passing

#5516 convert some service classes to static props, run [cookbook coveralls cpan]
  services/cookbook/cookbook.service.js
  services/coveralls/coveralls.service.js
  services/coverity/coverity-scan.service.js
  services/cpan/cpan-license.service.js
  services/cpan/cpan-version.service.js
  services/cpan/cpan.js
Labels: service-badge, squash when passing

#5517 convert some service classes to static props, run [cran crates ctan]
  services/cran/cran.service.js
  services/crates/crates-base.js
  services/crates/crates-downloads.service.js
  services/crates/crates-license.service.js
  services/crates/crates-version.service.js
  services/ctan/ctan.service.js
Labels: service-badge, squash when passing

#5522 Add guidelines about including tokens in badge URLs
  CONTRIBUTING.md
Labels: documentation, security

#5533 Remove camelcase dependency from badge-maker package
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/make-badge.js
  badge-maker/package.json
  package-lock.json
Labels: core, npm-package

#5534 Remove duplicate normalizeColor calls
  badge-maker/lib/make-badge.js
Labels: core, npm-package

#5540 convert some service classes to static props, run [depfu discourse docker]
  services/depfu/depfu.service.js
  services/discourse/discourse.service.js
  services/docker/docker-automated.service.js
  services/docker/docker-build.service.js
  services/docker/docker-cloud-automated.service.js
  services/docker/docker-cloud-build.service.js
  services/docker/docker-pulls.service.js
  services/docker/docker-size.service.js
  services/docker/docker-stars.service.js
  services/docker/docker-version.service.js
Labels: service-badge, squash when passing

#5539 convert some service classes to static props, run [date david debian debug dependabot]
  services/date/date.service.js
  services/david/david.service.js
  services/debian/debian.service.js
  services/debug/debug.service.js
  services/dependabot/dependabot.service.js
Labels: service-badge, squash when passing

#5543 convert some service classes to static props, run [drone dub dynamic]
  services/drone/drone-build.service.js
  services/dub/dub-download.service.js
  services/dub/dub-license.service.js
  services/dub/dub-version.service.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-yaml.service.js
  services/dynamic/json-path.js
Labels: service-badge, squash when passing

#5544 convert some service classes to static props, run [EclipseMarketplace Ecologi ElmPackage Endpoint]
  services/eclipse-marketplace/eclipse-marketplace-downloads.service.js
  services/eclipse-marketplace/eclipse-marketplace-favorites.service.js
  services/eclipse-marketplace/eclipse-marketplace-license.service.js
  services/eclipse-marketplace/eclipse-marketplace-update.service.js
  services/eclipse-marketplace/eclipse-marketplace-version.service.js
  services/ecologi/ecologi-carbon.service.js
  services/ecologi/ecologi-trees.service.js
  services/elm-package/elm-package.service.js
  services/endpoint/endpoint.service.js
Labels: service-badge, squash when passing

#5236 Adopt Code of Conduct
  CODE_OF_CONDUCT.md
Labels: developer-experience, squash when passing

#5547 [Tokei] Implement a lines of code (LOC) badge
  services/tokei/tokei.service.js
  services/tokei/tokei.tester.js
Labels: service-badge

#5552 convert some service classes to static props, run [f-droid fedora flathub]
  services/f-droid/f-droid.service.js
  services/fedora/fedora.service.js
  services/flathub/flathub.service.js
Labels: service-badge, squash when passing

#5553 convert some service classes to static props, run [gem gerrit]
  services/gem/gem-downloads.service.js
  services/gem/gem-owner.service.js
  services/gem/gem-rank.service.js
  services/gem/gem-version.service.js
  services/gerrit/gerrit.service.js
Labels: service-badge, squash when passing

#5507 [GITHUB] Badge for total stars of an user / org
  core/base-service/base-graphql.js
  services/github/github-helpers.js
  services/github/github-stars.service.js
  services/github/github-total-star.service.js
  services/github/github-total-star.tester.js
Labels: service-badge

#5575 Refactor [gitter hackage hexpm] service files.
  services/gitlab/gitlab-coverage.service.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/gitter/gitter.service.js
  services/hackage/hackage-deps.service.js
  services/hackage/hackage-version.service.js
  services/hexpm/hexpm.service.js
Labels: service-badge, squash when passing

#5538 Fix [GitlabPipeline] not found repo service test
  services/gitlab/gitlab-pipeline-status.service.js
  services/gitlab/gitlab-pipeline-status.tester.js
Labels: keep-service-tests-green, squash when passing

#5581 Refactor [jira jitpack jsdelivr keybase] service files
  services/jira/jira-issue.service.js
  services/jira/jira-sprint.service.js
  services/jitpack/jitpack-version.service.js
  services/jsdelivr/jsdelivr-hits-github.service.js
  services/jsdelivr/jsdelivr-hits-npm.service.js
  services/keybase/keybase-btc.service.js
  services/keybase/keybase-pgp.service.js
  services/keybase/keybase-xlm.service.js
  services/keybase/keybase-zec.service.js
Labels: service-badge, squash when passing

#5582 convert [homebrew hsts itunes jenkins jetbrains] classes to static props
  services/homebrew/homebrew-cask.service.js
  services/homebrew/homebrew.service.js
  services/hsts/hsts.service.js
  services/itunes/itunes.service.js
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-plugin-installs.service.js
  services/jenkins/jenkins-plugin-version.service.js
  services/jenkins/jenkins-tests.service.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-rating.service.js
  services/jetbrains/jetbrains-version.service.js
Labels: service-badge, squash when passing

#5578 bump approve-bot to 2.0.1
  .github/workflows/auto-approve.yml
Labels: dependencies, squash when passing

#5579 [WordPress] API Update
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-platform.tester.js
Labels: service-badge, squash when passing

#5549 [GitHubHacktoberfest] 2020 (and beyond)
  services/github/github-hacktoberfest.service.js
  services/github/github-hacktoberfest.spec.js
  services/github/github-hacktoberfest.tester.js
Labels: service-badge, squash when passing

#5583 add a validator for 0/{{time period}}, run [GitHubCommitActivity]
  services/github/github-commit-activity.tester.js
  services/test-validators.js
Labels: keep-service-tests-green, squash when passing

#5556 convert some service classes to static fields, run [github]
  services/github/github-all-contributors.service.js
  services/github/github-code-size.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commit-status.service.js
Labels: service-badge, squash when passing

#5585 convert some service classes to static fields, run [GitHubCommitsSince GitHubContributors GitHubDeployments GitHubDownloads GitHubFollowers]
  services/github/github-commits-since.service.js
  services/github/github-contributors.service.js
  services/github/github-deployments.service.js
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
Labels: service-badge

#5587 convert [lgtm liberapay librariesio localizely luarocks] classes to static props
  services/lgtm/lgtm-alerts.service.js
  services/lgtm/lgtm-grade.service.js
  services/liberapay/liberapay-gives.service.js
  services/liberapay/liberapay-goal.service.js
  services/liberapay/liberapay-patrons.service.js
  services/liberapay/liberapay-receives.service.js
  services/librariesio/librariesio-dependencies.service.js
  services/librariesio/librariesio-dependent-repos.service.js
  services/librariesio/librariesio-dependents.service.js
  services/librariesio/librariesio-sourcerank.service.js
  services/luarocks/luarocks.service.js
Labels: service-badge

#5586 Work around DT conflict; bump TS and @types/styled-components
  package-lock.json
  package.json
Labels: dependencies, squash when passing

#5588 Convert [maintenance mastodon matrix mavencentral] classes to static props
  services/maintenance/maintenance.service.js
  services/mastodon/mastodon-follow.service.js
  services/matrix/matrix.service.js
  services/maven-central/maven-central.service.js
Labels: service-badge, squash when passing

#5589 use HEAD ref in [github] fetchJsonFromRepo
  services/github/github-common-fetch.js
Labels: service-badge, squash when passing

#5590 convert some service classes to static fields, run [GitHubForks GitHubGoMod GitHubIssueDetail GitHubIssues GitHubLabels GitHubLanguageCount GitHubLastCommit]
  services/github/github-forks.service.js
  services/github/github-go-mod.service.js
  services/github/github-issue-detail.service.js
  services/github/github-issues.service.js
  services/github/github-labels.service.js
  services/github/github-language-count.service.js
  services/github/github-last-commit.service.js
Labels: service-badge

#5595 convert some service classes to static fields, run [GitHubLernaJson GithubLicense GithubManifest GithubMilestoneDetail GithubMilestone GithubPackageJson]
  services/github/github-lerna-json.service.js
  services/github/github-license.service.js
  services/github/github-manifest.service.js
  services/github/github-milestone-detail.service.js
  services/github/github-milestone.service.js
  services/github/github-package-json.service.js
Labels: service-badge

#5596 Add Hacktoberfest badges to readme
  README.md
Labels: documentation, squash when passing

#5616 Remove camelcase from package-lock.json
  package-lock.json
Labels: npm-package

#5618 fix [amodownloads] service test
  services/amo/amo-downloads.tester.js
Labels: keep-service-tests-green, squash when passing

#5620 fix [jsdelivr] service tests
  services/jsdelivr/jsdelivr-hits-github.tester.js
  services/jsdelivr/jsdelivr-hits-npm.tester.js
Labels: keep-service-tests-green, squash when passing

#5621 [Criterion] Add support for "no change" status
  services/criterion/constants.js
  services/criterion/criterion.service.js
  services/criterion/criterion.tester.js
Labels: service-badge

#5622 convert some service classes to static fields, run [GithubPipenv GithubPullRequestCheckState GithubReleaseDate GithubRelease GithubRepoSize]
  services/github/github-pipenv.service.js
  services/github/github-pull-request-check-state.service.js
  services/github/github-release-date.service.js
  services/github/github-release.service.js
  services/github/github-repo-size.service.js
Labels: service-badge, squash when passing

#5625 package.json: sort dependency array
  package.json
Labels: dependencies

#5626 Remove enzyme which we aren’t using right now
  .dependabot/config.yml
  frontend/enzyme-conf.spec.js
  package-lock.json
  package.json
Labels: dependencies, developer-experience

#5627 Clean up Danger rule for serverSecrets
  dangerfile.js
Labels: developer-experience

#5629 Remove obsolete WebSocket logs monitor
  core/server/monitor.js
Labels: core

#5628 Remove obsolete peer-to-peer GitHub token-sharing code
  config/shields-io-production.yml
  core/server/monitor.js
  core/server/server.js
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
  services/github/auth/is-valid-token.js
Labels: core

#5630 Minor coverage cleanup
  .nycrc.json
  core/token-pooling/fs-token-persistence.js
Labels: core
