Repository badges/shields, pull requests merged in 2020-11, with the labels that each got.

#5753 Add support for NuGet badges from [nuget feedz] hosting
  services/feedz/feedz.service.js
  services/feedz/feedz.service.spec.js
  services/feedz/feedz.tester.js
  services/nuget/nuget-helpers.js
  services/nuget/nuget-helpers.spec.js
  services/nuget/nuget-v3-service-family.js
Labels: service-badge, squash when passing

#5793 Refactor `static get`: [website wercker wheelmap wordpress youtube]
  services/website/website.service.js
  services/wercker/wercker.service.js
  services/wheelmap/wheelmap.service.js
  services/wordpress/wordpress-platform.service.js
  services/youtube/youtube-base.js
  services/youtube/youtube-comments.service.js
  services/youtube/youtube-likes.service.js
  services/youtube/youtube-views.service.js
Labels: squash when passing

#5794 Refactor forgotten `static get` in services; affects [appveyor aur azuredevops jenkins jsdelivr keybase lgtm liberapay opencollective snyk sonar teamcity tokei twitter visualstudiomarketplace]
  services/appveyor/appveyor-tests.service.js
  services/aur/aur.service.js
  services/azure-devops/azure-devops-base.js
  services/jenkins/jenkins-base.js
  services/jenkins/jenkins-coverage.service.js
  services/jsdelivr/jsdelivr-base.js
  services/keybase/keybase-profile.js
  services/lgtm/lgtm-base.js
  services/liberapay/liberapay-base.js
  services/opencollective/opencollective-base.js
  services/snyk/snyk-vulnerability-base.js
  services/sonar/sonar-base.js
  services/teamcity/teamcity-base.js
  services/tokei/tokei.service.js
  services/twitter/twitter.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
Labels: squash when passing

#5812 cleanup hacktoberfest readme material
  README.md
Labels: documentation

#5813 Fix calculation of start date for [GitHubHacktoberfest] badge
  services/github/github-hacktoberfest.service.js
Labels: service-badge

#5814 Refactor the [nuget myget] service
  services/nuget/nuget-v3-service-family.js
  services/nuget/nuget-v3-service-family.spec.js
Labels: service-badge

#5775 Configure max-age header for frontend
  core/server/server.js
  core/server/server.spec.js
  core/server/test-public/index.html
  package-lock.json
  package.json
Labels: core, squash when passing

#5815 Add [OpenVSX] registry badges
  services/open-vsx/open-vsx-base.js
  services/open-vsx/open-vsx-downloads.service.js
  services/open-vsx/open-vsx-downloads.tester.js
  services/open-vsx/open-vsx-rating.service.js
  services/open-vsx/open-vsx-rating.spec.js
  services/open-vsx/open-vsx-rating.tester.js
  services/open-vsx/open-vsx-release-date.service.js
  services/open-vsx/open-vsx-release-date.tester.js
  services/open-vsx/open-vsx-version.service.js
  services/open-vsx/open-vsx-version.tester.js
Labels: service-badge, squash when passing

#5757 Add Downloads, Category, License, Sponge Versions, Stars, and Version badges for [Ore], an API platform for Sponge Minecraft plugins
  services/ore/ore-base.js
  services/ore/ore-category.service.js
  services/ore/ore-category.spec.js
  services/ore/ore-category.tester.js
  services/ore/ore-downloads.service.js
  services/ore/ore-downloads.tester.js
  services/ore/ore-license.service.js
  services/ore/ore-license.spec.js
  services/ore/ore-license.tester.js
  services/ore/ore-sponge-versions.service.js
  services/ore/ore-sponge-versions.spec.js
  services/ore/ore-sponge-versions.tester.js
  services/ore/ore-stars.service.js
  services/ore/ore-stars.tester.js
  services/ore/ore-version.service.js
  services/ore/ore-version.spec.js
  services/ore/ore-version.tester.js
Labels: service-badge, squash when passing

#5832 Add inline contact info for pkgreview badge
  services/pkgreview/package-rating.service.js
Labels: documentation, squash when passing

#5841 lint/format typescript files in pre-commit hook
  package.json
Labels: developer-experience, squash when passing

#5845 map REDIRECT_URI env var to redirectUrl setting
  config/custom-environment-variables.yml
Labels: bug, core, self-hosting, squash when passing

#5840 special case generating baseUrl for production
  frontend/components/customizer/customizer.tsx
  frontend/components/development/logo-page.tsx
  frontend/components/development/style-page.tsx
  frontend/components/main.tsx
  frontend/constants.ts
  frontend/pages/community.tsx
  frontend/pages/endpoint.tsx
Labels: frontend, operations

#5863 Remove documentation about old OVH VPS servers
  doc/production-hosting.md
Labels: documentation

#5865 bump approve bot
  .github/workflows/auto-approve.yml
Labels: dependencies, developer-experience, squash when passing

#5864 Drop .env support
  doc/production-hosting.md
  package-lock.json
  package.json
  server.js
Labels: core, self-hosting

#5884 Remove some unused dev dependencies
  package-lock.json
  package.json
Labels: dependencies

#5869 Support gzipped endpoint URLs
  services/endpoint-common.js
  services/endpoint/endpoint.tester.js
Labels: service-badge

#5885 remove redirectUrl from prod settings
  config/shields-io-production.yml
Labels: operations

#5888 remove [GitHubSponsors] style override
  services/github/github-sponsors.service.js
Labels: service-badge
