Repository badges/shields, pull requests merged in 2020-03, with the labels that each got.

#4720 Remove a couple of unused dependencies
  .dependabot/config.yml
  package-lock.json
  package.json
Labels: dependencies

#4723 add inline wercker ci docs
  services/wercker/wercker.service.js
Labels: service-badge, squash when passing

#4727 Fix failing [JenkinsPluginInstalls] test
  services/jenkins/jenkins-plugin-installs.tester.js
Labels: keep-service-tests-green

#4724 Removed unused node_modules caching in CI
  .circleci/config.yml
Labels: squash when passing

#4729 Check request origin before sending credentials, affects [AzureDevops Bintray Bitbucket Drone GitHub Jenkins Jira Nexus NPM Sonar Symfony TeamCity Wheelmap]
  config/custom-environment-variables.yml
  core/base-service/auth-helper.js
  core/base-service/auth-helper.spec.js
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/legacy-request-handler.js
  core/server/server.js
  core/server/server.spec.js
  doc/server-secrets.md
  services/azure-devops/azure-devops-base.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/bintray/bintray.service.js
  services/bintray/bintray.spec.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitbucket/bitbucket-pull-request.spec.js
  services/drone/drone-build.service.js
  services/drone/drone-build.spec.js
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
  services/github/github-api-provider.js
  services/github/github-constellation.js
  services/jenkins/jenkins-base.js
  services/jenkins/jenkins-build.spec.js
  services/jira/jira-common.js
  services/jira/jira-issue.service.js
  services/jira/jira-issue.spec.js
  services/jira/jira-sprint.service.js
  services/jira/jira-sprint.spec.js
  services/jira/jira-test-helpers.js
  services/nexus/nexus.service.js
  services/nexus/nexus.spec.js
  services/npm/npm-base.js
  services/npm/npm-base.spec.js
  services/sonar/sonar-base.js
  services/sonar/sonar-fortify-rating.spec.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-test-helpers.js
  services/teamcity/teamcity-base.js
  services/teamcity/teamcity-build.spec.js
  services/teamcity/teamcity-coverage.spec.js
  services/teamcity/teamcity-test-helpers.js
  services/wheelmap/wheelmap.service.js
Labels: core, security, self-hosting, service-badge

#4748 Delete deprecated package.json scripts
  package.json
Labels: developer-experience

#4731 Allow resolve PHP version from jobs in [Travis] CI config
  services/travis/travis-php-version.service.js
  services/travis/travis-php-version.tester.js
Labels: keep-service-tests-green, service-badge, squash when passing

#4750 add xmldom >=0.3.0 to dependabot ignore list
  .dependabot/config.yml
Labels: dependencies, squash when passing

#4753 Trim user input when building path and query string
  frontend/components/customizer/path-builder.tsx
  frontend/components/customizer/query-string-builder.tsx
Labels: frontend

#4747 Add [github] Milestone service
  services/github/github-milestone-detail.service.js
  services/github/github-milestone-detail.tester.js
  services/github/github-milestone.service.js
  services/github/github-milestone.tester.js
  services/test-validators.js
Labels: service-badge

#4779 Document which secrets are set in production
  config/local-shields-io-production.template.yml
Labels: documentation, operations

#4781 Fix [Twitch] authorization
  services/twitch/twitch-base.js
  services/twitch/twitch.service.js
  services/twitch/twitch.spec.js
Labels: bug, service-badge

#4759 feat: add badge for .nycrc config based coverage, run [nycrc]
  services/nycrc/nycrc.service.js
  services/nycrc/nycrc.tester.js
Labels: service-badge

#4804 don't upgrade any gatsby libs
  .dependabot/config.yml
Labels: dependencies, squash when passing

#4806 add babel-preset-gatsby to dependabot ignore
  .dependabot/config.yml
Labels: dependencies

#4780 Make it easier to benchmark and profile the code
  .gitignore
  config/custom-environment-variables.yml
  config/default.yml
  core/base-service/base-static.js
  core/server/server.js
  doc/flamegraph.png
  doc/performance-testing.md
  package.json
  scripts/benchmark-performance.js
  scripts/benchmark-performance.sh
  scripts/capture-timings.js
Labels: developer-experience, performance-improvement

#4814 Add [Treeware] badge
  services/treeware/treeware-trees.service.js
  services/treeware/treeware-trees.tester.js
Labels: service-badge

#4812 [poeditor] Adding POEditor badge
  services/poeditor/poeditor.service.js
  services/poeditor/poeditor.tester.js
Labels: service-badge, squash when passing

#4843 downgrade to mocha 6.2.3, run [appveyor travis]
  package-lock.json
  package.json
Labels: dependencies

#4841 fix: [Spiget] invalid response for external downloads #4840
  services/spiget/spiget-base.js
  services/spiget/spiget-download-size.service.js
  services/spiget/spiget-download-size.tester.js
  services/spiget/spiget-tested-versions.tester.js
Labels: service-badge
