Repository badges/shields, pull requests merged in 2021-02, with the labels that each got.

#6131 add script for adding/removing heroku dynos
  Procfile
  package-lock.json
  package.json
  scripts/heroku-scale.js
Labels: operations, squash when passing

#6128 Update Contributing documentation on PRs/service tests & amending history
  .github/pull_request_template.md
  CONTRIBUTING.md
  doc/service-tests.md
Labels: documentation, squash when passing

#6157 Improve changelog entries
  .github/actions/draft-release/entrypoint.sh
Labels: operations, squash when passing

#6159 Allow links only for social badges, affects [GitHubMilestone Dependabot]
  CONTRIBUTING.md
  frontend/components/usage.tsx
  services/dependabot/dependabot.service.js
  services/dependabot/dependabot.tester.js
  services/github/github-milestone-detail.service.js
  services/github/github-milestone-detail.tester.js
  services/github/github-milestone.service.js
  services/github/github-milestone.tester.js
  spec/SPECIFICATION.md
Labels: documentation, service-badge

#6162 Add [Testspace] badges
  services/testspace/testspace-base.js
  services/testspace/testspace-base.spec.js
  services/testspace/testspace-test-count.service.js
  services/testspace/testspace-test-count.spec.js
  services/testspace/testspace-test-count.tester.js
  services/testspace/testspace-test-pass-ratio.service.js
  services/testspace/testspace-test-pass-ratio.spec.js
  services/testspace/testspace-test-pass-ratio.tester.js
  services/testspace/testspace-test-summary.service.js
  services/testspace/testspace-test-summary.tester.js
Labels: service-badge, squash when passing

#6185 update [flathub] error handling
  services/flathub/flathub.service.js
  services/flathub/flathub.tester.js
Labels: keep-service-tests-green, service-badge

#6184 Narrow down [PyPi] regex expressions
  services/pypi/pypi-django-versions.tester.js
  services/pypi/pypi-python-versions.tester.js
Labels: developer-experience

#6183 Make [Twitch] a social badge
  services/twitch/twitch.service.js
Labels: service-badge

#6189 update [pkgreview] url
  services/pkgreview/package-rating.service.js
Labels: service-badge, squash when passing

#6181 Make [Coveralls] examples consistent with regards to VCS parameter
  services/coveralls/coveralls-redirector.service.js
  services/coveralls/coveralls-redirector.tester.js
  services/coveralls/coveralls.service.js
  services/coveralls/coveralls.tester.js
Labels: service-badge

#6214 catch URL parse error in [endpoint] badge
  services/endpoint/endpoint.service.js
  services/endpoint/endpoint.tester.js
Labels: bug, squash when passing

#6212 [SecurityHeaders] Added a possibility for no follow redirects
  services/security-headers/security-headers.service.js
  services/security-headers/security-headers.tester.js
Labels: service-badge, squash when passing

#6229 ensure redirect target path is correctly encoded
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
Labels: bug, core, squash when passing
