Repository badges/shields, pull requests merged in 2021-12, with the labels that each got.

#7275 increase timeout for [tokei] gitlab tests
  services/tokei/tokei.tester.js
Labels: keep-service-tests-green, squash when passing

#7322 fix [GitLabTag] service test
  services/gitlab/gitlab-tag.tester.js
Labels: keep-service-tests-green, squash when passing

#7323 fix [JenkinsCoverage] service test
  services/jenkins/jenkins-coverage.tester.js
Labels: keep-service-tests-green, squash when passing

#7348 update raster proxy docs
  SECURITY.md
  doc/production-hosting.md
  doc/self-hosting.md
Labels: documentation, squash when passing

#7350 [GithubPackageJson] Get version from monorepo subfolder package.json
  services/github/github-package-json.service.js
  services/github/github-package-json.tester.js
Labels: service-badge, squash when passing

#4255 restore cors header injection from #4171, run [npm travis]
  core/server/server.js
  core/server/server.spec.js
Labels: core

#7354 throw on unexpected keys in `expectBadge()`
  core/service-test-runner/icedfrisby-shields.js
  services/docsrs/docsrs.tester.js
Labels: developer-experience, squash when passing

#7355 update [codacy] tests/examples
  services/codacy/codacy-coverage.tester.js
  services/codacy/codacy-grade.service.js
  services/codacy/codacy-grade.tester.js
Labels: keep-service-tests-green, squash when passing

#7376 update filtering logic for useless dep bumps
  .github/actions/close-bot/helpers.js
Labels: developer-experience

#7374 change closed GitHub issue color to purple, run [GitHubIssueDetail]
  services/github/github-helpers.js
  services/github/github-issue-detail.service.js
  services/github/github-issue-detail.spec.js
Labels: service-badge, squash when passing

#7414 deps: remove unused babel-plugin-istanbul
  package-lock.json
  package.json
Labels: dependencies, squash when passing

#7403 check engine and peer deps before installing
  .circleci/config.yml
Labels: developer-experience

#7410 [YouTube] Drop support for removed dislikes
  services/youtube/youtube-base.js
  services/youtube/youtube-likes.service.js
  services/youtube/youtube-likes.tester.js
Labels: service-badge, squash when passing

#7413 remove old email from package.json
  package.json
Labels: squash when passing

#7430 ignore @types/node updates (for now)
  .github/dependabot.yml
Labels: dependencies, squash when passing

#7411 [HackerNews] Show User Karma
  services/hackernews/hackernews-user-karma.service.js
  services/hackernews/hackernews-user-karma.tester.js
  services/test-validators.js
  services/text-formatters.js
  services/text-formatters.spec.js
Labels: service-badge

#7436 minor [reddit] improvements
  services/reddit/user-karma.service.js
  services/reddit/user-karma.tester.js
Labels: service-badge, squash when passing
