Repository badges/shields, pull requests merged in 2021-04, with the labels that each got.

#6330 [REUSE] Add service badges
  services/reuse/reuse-compliance-helper.js
  services/reuse/reuse-compliance.service.js
  services/reuse/reuse-compliance.tester.js
Labels: service-badge

#6340 [Netlify] added changes to use new color schema
  services/netlify/netlify.service.js
Labels: bug, service-badge

#6366 Replace 4183C4 with blue in [GitHubFollowers GitHubForks GitHubSponsors GitHubWatchers] badges
  services/github/github-followers.service.js
  services/github/github-followers.tester.js
  services/github/github-forks.service.js
  services/github/github-forks.tester.js
  services/github/github-sponsors.service.js
  services/github/github-sponsors.tester.js
  services/github/github-watchers.service.js
  services/github/github-watchers.tester.js
Labels: service-badge

#6364 add setting which allows us to set a timeout on HTTP requests
  config/custom-environment-variables.yml
  config/default.yml
  core/server/server.js
  core/server/server.spec.js
Labels: operations, self-hosting, squash when passing

#6369 Support git hash in [nexus] SNAPSHOT version
  services/nexus/nexus-version.js
  services/nexus/nexus.tester.js
Labels: service-badge

#6371 return a 408 Request Timeout response for timed out requests
  config/custom-environment-variables.yml
  config/default.yml
  core/server/server.js
  core/server/server.spec.js
Labels: core, operations, self-hosting

#6386 Fix Request Timeout responses
  core/server/server.js
Labels: core, operations, self-hosting

#6390 Delete outdated users.md
  README.md
  doc/users.md
Labels: documentation

#6391 Delete outdated rewriting-services.md
  doc/rewriting-services.md
Labels: documentation

#6423 Deprecate [Bintray] service
  config/custom-environment-variables.yml
  core/server/server.js
  doc/server-secrets.md
  services/bintray/bintray-downloads.service.js
  services/bintray/bintray-downloads.spec.js
  services/bintray/bintray-downloads.tester.js
  services/bintray/bintray-version.service.js
  services/bintray/bintray-version.spec.js
  services/bintray/bintray-version.tester.js
  services/bintray/bintray.service.js
  services/bintray/bintray.tester.js
Labels: service-badge

#6424 Fix [Symfony] tests again
  services/symfony/sensiolabs-redirect.tester.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-violations.service.js
  services/symfony/symfony-insight-violations.tester.js
  services/symfony/symfony-test-helpers.js
Labels: keep-service-tests-green
