Repository badges/shields, pull requests merged in 2021-03, with the labels that each got.

#6234 remove script for adding/removing heroku dynos
  Procfile
  package-lock.json
  package.json
  scripts/heroku-scale.js
Labels: operations

#6256 send custom user agent when using got
  core/base-service/got.js
  core/base-service/got.spec.js
Labels: core

#6257 use got to push influx metrics
  core/server/influx-metrics.js
  core/server/influx-metrics.spec.js
Labels: core, operations, squash when passing

#6258 allow missing 'goal' key in [liberapay] badges
  services/liberapay/liberapay-base.js
  services/liberapay/liberapay-gives.tester.js
  services/liberapay/liberapay-goal.tester.js
Labels: bug, service-badge, squash when passing

#6273 refresh self-hosting docs
  doc/self-hosting.md
Labels: documentation, self-hosting, squash when passing

#6272 Prevent duplication of parameters in badge examples
  cypress/integration/main-page.spec.js
  frontend/components/customizer/query-string-builder.tsx
  package-lock.json
Labels: bug, frontend

#6210 Add docs for all types of releases
  doc/releases.md
Labels: documentation, self-hosting, squash when passing

#6274 Use NPM packages to provide fonts instead of Google Fonts
  frontend/components/meta.tsx
  package-lock.json
  package.json
Labels: frontend

#6277 Revert request --> got migration (for now)
  core/base-service/base.js
  core/base-service/got.js
  core/base-service/got.spec.js
  core/server/server.js
  package-lock.json
  package.json
  services/dynamic/dynamic-json.tester.js
  services/keybase/keybase-btc.service.js
  services/keybase/keybase-pgp.service.js
  services/keybase/keybase-xlm.service.js
  services/keybase/keybase-zec.service.js
  services/opm/opm-version.service.js
  services/test-helpers.js
  services/wercker/wercker.service.js
  services/wordpress/wordpress-base.js
Labels: core, operations

#6278 Update number of badges served each month
  README.md
  doc/releases.md
Labels: documentation

#6305 Fix [Symfony] tests
  services/symfony/sensiolabs-redirect.tester.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-violations.service.js
  services/symfony/symfony-insight-violations.tester.js
  services/symfony/symfony-test-helpers.js
Labels: keep-service-tests-green

#6304 Address compliance issues with [YouTube] API Services Terms and Policies
  services/youtube/youtube-base.js
  services/youtube/youtube-comments.service.js
  services/youtube/youtube-likes.service.js
  services/youtube/youtube-likes.tester.js
  services/youtube/youtube-views.service.js
Labels: service-badge

#6306 Fix raster example
  frontend/components/usage.tsx
Labels: frontend, squash when passing
