Repository badges/shields, pull requests merged in 2021-10, with the labels that each got.

#7105 remove [github] admin routes
  config/custom-environment-variables.yml
  core/server/secret-is-valid.js
  core/server/server.js
  core/token-pooling/token-pool.js
  core/token-pooling/token-pool.spec.js
  scripts/github_token_backup.fish
  services/github/auth/admin.js
  services/github/auth/admin.spec.js
  services/github/github-api-provider.js
  services/github/github-constellation.js
Labels: core

#7210 use downloads renderer in next batch of classes, run [hexpm homebrewdownloads jenkinsplugininstalls jetbrainsdownloads jsdelivr modrinth]]
  services/downloads.js
  services/downloads.spec.js
  services/hexpm/hexpm.service.js
  services/homebrew/homebrew-downloads.service.js
  services/jenkins/jenkins-plugin-installs.service.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jsdelivr/jsdelivr-base.js
  services/modrinth/modrinth.service.js
Labels: service-badge

#7197 deprecate [David] badges
  services/david/david.service.js
  services/david/david.tester.js
Labels: service-badge, squash when passing

#7211 use renderDownloadsBadge helper in remaining classes, run [npmdownloads openvsxdownloads oredownloads packagecontrol packagistdownloads puppetforgemoduledownloads pypidownloads sourceforge spigetdownloads steam visualstudiomarketplace wikiapiaryinstalls wordpress]
  services/npm/npm-downloads.service.js
  services/npm/npm-downloads.spec.js
  services/open-vsx/open-vsx-downloads.service.js
  services/ore/ore-downloads.service.js
  services/packagecontrol/packagecontrol.service.js
  services/packagist/packagist-downloads.service.js
  services/puppetforge/puppetforge-module-downloads.service.js
  services/pypi/pypi-downloads.service.js
  services/sourceforge/sourceforge.service.js
  services/spiget/spiget-downloads.service.js
  services/steam/steam-workshop.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/wikiapiary/wikiapiary-installs.service.js
  services/wordpress/wordpress-downloads.service.js
Labels: service-badge, squash when passing

#7212 migrate github badges to use got instead of request; affects [github librariesio]
  core/base-service/base.js
  core/base-service/got.js
  services/github/github-api-provider.integration.js
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
  services/github/github-auth-service.js
  services/github/github-auth-service.spec.js
  services/librariesio/librariesio-api-provider.spec.js
  services/librariesio/librariesio-base.js
  services/suggest.js
Labels: service-badge, core, dependencies, squash when passing
