Repository badges/shields, pull requests merged in 2021-09, with the labels that each got.

#6986 update [VisualStudioMarketplaceRating] badges for unrated extensions
  services/visual-studio-marketplace/visual-studio-marketplace-rating.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-rating.tester.js
Labels: service-badge, squash when passing

#6996 Rename Riot to Element in Matrix badge help
  services/matrix/matrix.service.js
Labels: service-badge, documentation, squash when passing

#7012 update branch in [githublernajson] test
  services/github/github-lerna-json.tester.js
Labels: keep-service-tests-green, squash when passing

#7013 Stop attempting to override Accept header in [GitHub] API provider
  services/github/github-api-provider.js
  services/github/github-auth-service.spec.js
Labels: bug, service-badge

#7016 [freecodecamp]: allow + symbol in username
  services/freecodecamp/freecodecamp-points.service.js
Labels: service-badge

#7018 fix [SpigetDownloadSize] service test
  services/spiget/spiget-download-size.tester.js
  services/test-validators.js
Labels: service-badge, keep-service-tests-green, squash when passing

#7014 fix [DockerVersion] service test
  services/docker/docker-version.tester.js
Labels: keep-service-tests-green, squash when passing

#6988 Add API-based support for [GitLab] badges, add new GitLab Tag badge
  config/custom-environment-variables.yml
  config/local-shields-io-production.template.yml
  config/local.template.yml
  core/server/server.js
  doc/production-hosting.md
  doc/server-secrets.md
  services/gitlab/gitlab-base.js
  services/gitlab/gitlab-tag.service.js
  services/gitlab/gitlab-tag.spec.js
  services/gitlab/gitlab-tag.tester.js
Labels: service-badge, core, squash when passing

#7019 ensure docker image builds on PRs
  .github/workflows/build-docker-image.yml
Labels: developer-experience, squash when passing

#7023 support gitlab token via env var
  config/custom-environment-variables.yml
Labels: squash when passing

#7036 Correction of badges url in self-hosting configuration with a custom port
  frontend/constants.ts
Labels: squash when passing

#6993 [OBS] add Open Build Service service-badge
  config/custom-environment-variables.yml
  config/default.yml
  config/local.template.yml
  core/server/server.js
  doc/server-secrets.md
  services/build-status.js
  services/build-status.spec.js
  services/obs/obs-build-status.js
  services/obs/obs.service.js
  services/obs/obs.tester.js
Labels: service-badge, squash when passing

#7069 fix false LGTM hardcoded creds alert
  services/weblate/weblate-base.js
Labels: service-badge, squash when passing

#7066 remove legacy sinon sandboxing
  core/base-service/base.spec.js
  core/base-service/cache-headers.spec.js
  core/base-service/validate.spec.js
Labels: core, squash when passing

#7070 switch to [David] status API and update error handling
  services/david/david.service.js
Labels: service-badge, blocker, keep-service-tests-green, squash when passing

#7068 change [JenkinsTests] targets to get service tests working again
  services/jenkins/jenkins-tests.service.js
  services/jenkins/jenkins-tests.tester.js
Labels: keep-service-tests-green, squash when passing

#7072 add documentation guide for adding new secrets
  doc/adding-new-config-values.md
Labels: documentation, squash when passing

#6944 Add [ClearlyDefined] service
  services/clearlydefined/clearlydefined-score.service.js
  services/clearlydefined/clearlydefined-score.tester.js
Labels: service-badge, squash when passing
