Repository badges/shields, pull requests merged in 2021-07, with the labels that each got.

#6677 Add [Weblate] badges
  services/weblate/weblate-component-license.service.js
  services/weblate/weblate-component-license.tester.js
  services/weblate/weblate-entity-count.service.js
  services/weblate/weblate-entity-count.tester.js
  services/weblate/weblate-project-translated-percentage.service.js
  services/weblate/weblate-project-translated-percentage.tester.js
  services/weblate/weblate-user-statistics.service.js
  services/weblate/weblate-user-statistics.tester.js
Labels: service-badge, squash when passing

#6630 [npmsioscore] Support npm score
  services/npms-io/npms-io-score.service.js
  services/npms-io/npms-io-score.tester.js
Labels: service-badge, squash when passing

#6705 fix [github] commit since tests
  services/github/github-commits-since.tester.js
Labels: keep-service-tests-green, squash when passing

#6709 deprecate [microbadger]
  services/microbadger/microbadger-base.js
  services/microbadger/microbadger-layers.service.js
  services/microbadger/microbadger-layers.tester.js
  services/microbadger/microbadger-size.service.js
  services/microbadger/microbadger-size.tester.js
  services/microbadger/microbadger.service.js
  services/microbadger/microbadger.tester.js
Labels: service-badge, squash when passing

#6708 deprecate [beerpay]
  services/beerpay/beerpay.service.js
  services/beerpay/beerpay.tester.js
Labels: service-badge, squash when passing

#6678 Add Wikiapiary Extension Badge [WikiapiaryInstalls]
  services/wikiapiary/wikiapiary-installs.service.js
  services/wikiapiary/wikiapiary-installs.tester.js
Labels: service-badge, squash when passing

#6748 Verify that Node 14 is installed in development
  package.json
Labels: developer-experience

#6747 Replace opn-cli with open-cli
  package-lock.json
  package.json
Labels: dependencies, squash when passing

#6746 Delegate related projects to awesome-badges list
  README.md
Labels: documentation

#6712 fix: weblate badges to better fit repo guidelines [Weblate]
  services/weblate/weblate-component-license.service.js
  services/weblate/weblate-entities.service.js
  services/weblate/weblate-entities.tester.js
  services/weblate/weblate-entity-count.service.js
  services/weblate/weblate-project-translated-percentage.service.js
  services/weblate/weblate-user-statistic.service.js
  services/weblate/weblate-user-statistic.tester.js
  services/weblate/weblate-user-statistics.service.js
  services/weblate/weblate-user-statistics.tester.js
Labels: squash when passing

#6756 Delete old deprecated badges
  doc/deprecating-badges.md
  services/bithound/bithound.service.js
  services/bithound/bithound.tester.js
  services/cauditor/cauditor.service.js
  services/cauditor/cauditor.tester.js
  services/cocoapods/cocoapods-apps.service.js
  services/cocoapods/cocoapods-apps.tester.js
  services/cocoapods/cocoapods-downloads.service.js
  services/cocoapods/cocoapods-downloads.tester.js
  services/coverity/coverity-on-demand.service.js
  services/coverity/coverity-on-demand.tester.js
  services/dockbit/dockbit.service.js
  services/dockbit/dockbit.tester.js
  services/dotnetstatus/dotnetstatus.service.js
  services/dotnetstatus/dotnetstatus.tester.js
  services/gemnasium/gemnasium.service.js
  services/gemnasium/gemnasium.tester.js
  services/gratipay/gratipay.service.js
  services/gratipay/gratipay.tester.js
  services/imagelayers/imagelayers.service.js
  services/imagelayers/imagelayers.tester.js
  services/issuestats/issuestats.service.js
  services/issuestats/issuestats.tester.js
  services/jitpack/jitpack-downloads.service.js
  services/jitpack/jitpack-downloads.tester.js
  services/leanpub/leanpub-book-summary.service.js
  services/leanpub/leanpub-book-summary.tester.js
  services/libscore/libscore.service.js
  services/libscore/libscore.tester.js
  services/magnumci/magnumci.service.js
  services/magnumci/magnumci.tester.js
  services/nsp/nsp.service.js
  services/nsp/nsp.tester.js
  services/php-eye/php-eye-hhvm.service.js
  services/php-eye/php-eye-hhvm.tester.js
  services/php-eye/php-eye-php-version.service.js
  services/php-eye/php-eye-php-version.tester.js
  services/snap-ci/snap-ci.service.js
  services/snap-ci/snap-ci.tester.js
  services/versioneye/versioneye.service.js
  services/versioneye/versioneye.tester.js
  services/waffle/waffle-label-redirect.service.js
  services/waffle/waffle-label-redirect.tester.js
  services/waffle/waffle-label.service.js
  services/waffle/waffle-label.tester.js
Labels: service-badge

#6757 Fix UptimeRobot status endpoint
  doc/production-hosting.md
  frontend/components/footer.tsx
Labels: operations

#6755 Re-apply 'Migrate request to got (part 1)'
  core/base-service/base.js
  core/base-service/got.js
  core/base-service/got.spec.js
  core/server/server.js
  package-lock.json
  package.json
  services/dynamic/dynamic-json.tester.js
  services/keybase/keybase-btc.service.js
  services/keybase/keybase-pgp.service.js
  services/keybase/keybase-xlm.service.js
  services/keybase/keybase-zec.service.js
  services/opm/opm-version.service.js
  services/test-helpers.js
  services/wercker/wercker.service.js
  services/wordpress/wordpress-base.js
Labels: core, squash when passing

#6758 Fix [JenkinsTests] tests
  services/jenkins/jenkins-tests.tester.js
Labels: keep-service-tests-green

#6759 Fix [CodeClimateCoverage] test
  services/codeclimate/codeclimate-coverage.tester.js
Labels: keep-service-tests-green

#6764 Delegate discord logo to simple-icons, which matches the current branding
  logo/discord.svg
Labels: core, squash when passing

#6778 switch to c8 for code coverage
  .nycrc.json
  package-lock.json
  package.json
Labels: dependencies, developer-experience

#6781 fix [codacy] service tests
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-coverage.tester.js
  services/codacy/codacy-grade.service.js
  services/codacy/codacy-grade.tester.js
Labels: keep-service-tests-green, service-badge, squash when passing

#6783 fix [DockerVersion] test for user repo
  services/docker/docker-version.tester.js
Labels: keep-service-tests-green, squash when passing

#6785 fix [ScrutinizerBuild] service test
  services/build-status.js
  services/build-status.spec.js
Labels: keep-service-tests-green, squash when passing

#6813 Fix logos on community page
  frontend/pages/community.tsx
Labels: squash when passing

#6636 [Sonar] Fix invalid fetch query to sonarqube >=6.6
  services/sonar/sonar-base.js
Labels: service-badge, squash when passing

#6791 chore: exclude services from docs
  jsdoc.json
Labels: developer-experience, documentation, squash when passing

#6790 [weblate]: authenticate weblate requests
  app.json
  config/custom-environment-variables.yml
  config/default.yml
  config/local-shields-io-production.template.yml
  config/local.template.yml
  core/server/server.js
  doc/server-secrets.md
  services/weblate/weblate-base.js
  services/weblate/weblate-component-license.service.js
  services/weblate/weblate-entities.service.js
  services/weblate/weblate-project-translated-percentage.service.js
  services/weblate/weblate-user-statistic.service.js
Labels: service-badge, squash when passing

#6817 add live Sonar tests with >=6.6 API changes, run [SonarQuality]
  services/sonar/sonar-quality-gate.tester.js
Labels: squash when passing

#6836 use v5 API for [AUR] badges
  services/aur/aur.service.js
  services/aur/aur.tester.js
  services/licenses.js
  services/licenses.spec.js
Labels: service-badge, squash when passing

#6834 update auto close action for dependabot native
  .github/actions/approve-bot/package-lock.json
  .github/actions/close-bot/action.yml
  .github/actions/close-bot/helpers.js
  .github/actions/close-bot/index.js
  .github/actions/close-bot/package-lock.json
  .github/actions/close-bot/package.json
  .github/dependabot.yml
  .github/workflows/auto-close.yml
Labels: dependencies, developer-experience, squash when passing
