Repository badges/shields, pull requests merged in 2021-08, with the labels that each got.

#6679 add github actions to build/push docker images
  .github/workflows/publish-docker-next.yml
  .github/workflows/publish-docker-snapshot.yml
Labels: operations

#6749 Support optionalDependencies in [GithubPackageJson]; also test [npm]
  services/github/github-package-json.service.js
  services/github/github-package-json.tester.js
  services/package-json-helpers.js
Labels: service-badge, squash when passing

#6878 fix DockerHub snapshot build
  .github/workflows/create-release.yml
  .github/workflows/publish-docker-snapshot.yml
Labels: self-hosting

#6876 fix auto-close action
  .github/workflows/auto-close.yml
Labels: developer-experience

#6877 Update self hosting docs
  doc/self-hosting.md
Labels: documentation

#6884 update [bugzilla] not found test
  services/bugzilla/bugzilla.tester.js
Labels: keep-service-tests-green

#6885 update failing [gitlab] test
  services/gitlab/gitlab-pipeline-status.tester.js
Labels: keep-service-tests-green, squash when passing

#6886 enforce strict SSL checking for [coverity]
  services/coverity/coverity-scan.service.js
Labels: service-badge, squash when passing

#6904 switch from husky to simple-git-hooks
  package-lock.json
  package.json
Labels: developer-experience, dependencies, squash when passing

#6887 remove disableStrictSsl param from [jenkins]
  services/jenkins/jenkins-base.js
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-common.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-tests.service.js
Labels: service-badge, squash when passing

#6900 [TwitchExtensionVersion] New badge
  services/twitch/twitch-extension-version.service.js
  services/twitch/twitch-extension-version.tester.js
Labels: service-badge, squash when passing

#6913 update [requires] test/example
  services/requires/requires.service.js
  services/requires/requires.tester.js
Labels: keep-service-tests-green, squash when passing

#6883 Migrate flat, flat-square, plastic and social to use `XmlElement`
  badge-maker/CHANGELOG.md
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/xml.js
Labels: npm-package

#6939 fix incorrect colorsForBackground detection
  __snapshots__/make-badge.spec.js
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/make-badge.spec.js
Labels: npm-package

#6935 Switch all shields.io links to https
  README.md
  app.json
  badge-maker/package.json
  core/server/influx-metrics.spec.js
  doc/production-hosting.md
  frontend/components/development/style-page.tsx
  frontend/package.json
  package.json
  services/website/website.tester.js
  spec/motivation.md
Labels: documentation, security

#6937 Tidy up server.js imports
  server.js
Labels: core

#6940 Fix [MyGet] version example and test
  services/myget/myget.service.js
  services/myget/myget.tester.js
Labels: keep-service-tests-green

#6941 use the right version of NPM in docker build
  Dockerfile
Labels: self-hosting, squash when passing

#6958 [freeCodeCamp] Add points badge
  services/freecodecamp/freecodecamp-points.service.js
  services/freecodecamp/freecodecamp-points.tester.js
Labels: service-badge, squash when passing

#6959 refactor [GitHubCommitActivity] to switch to v4/GraphQL API
  services/github/github-commit-activity.service.js
  services/github/github-commit-activity.spec.js
  services/github/github-commit-activity.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing
