Repository badges/shields, pull requests merged in 2021-06, with the labels that each got.

#6570 run package tests on node 16, drop node 10 testing
  .circleci/config.yml
  scripts/run_package_tests.sh
Labels: npm-package, squash when passing

#6567 increase max-age for download and social badges; affects [twitch]
  core/base-service/base.js
  services/twitch/twitch.service.js
Labels: operations, squash when passing

#6569 upgrade some vulnerable packages
  package-lock.json
Labels: dependencies, squash when passing

#6566 convert [discord] to use static properties
  services/discord/discord.service.js
Labels: service-badge, squash when passing

#6568 badge-maker 3.3.1 release
  badge-maker/CHANGELOG.md
  badge-maker/package.json
  package-lock.json
Labels: npm-package

#6449 [GradlePluginPortal] add gradle plugin portal
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  services/gradle-plugin-portal/gradle-plugin-portal.service.js
  services/gradle-plugin-portal/gradle-plugin-portal.tester.js
Labels: service-badge

#6591 update simple-icons to v5 with by-name lookup backwards compatibility
  doc/logos.md
  frontend/components/usage.tsx
  lib/load-simple-icons.js
  lib/load-simple-icons.spec.js
  package-lock.json
  package.json
Labels: core, dependencies, frontend, squash when passing

#6638 fix usage style
  frontend/components/usage.tsx
Labels: frontend

#6652 Run on node 14 in production, drop node 10 support for badge-maker and update test matrix
  .circleci/config.yml
  Dockerfile
  README.md
  badge-maker/package.json
  doc/TUTORIAL.md
  doc/self-hosting.md
  package.json
Labels: dependencies, npm-package, operations

#6655 fix: fix regex to match [codecov]'s flags
  services/codecov/codecov.service.js
Labels: service-badge

#6681 convert bug report issue template to issue form
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/1_Bug_report.yml
Labels: developer-experience

#6676 docs: broken links and typos
  README.md
  doc/TUTORIAL.md
  doc/server-secrets.md
Labels: documentation, squash when passing

#6628 improve [MavenCentral], [MavenMetadata], and [GradlePluginPortal]
  services/gradle-plugin-portal/gradle-plugin-portal.service.js
  services/gradle-plugin-portal/gradle-plugin-portal.tester.js
  services/maven-central/maven-central.service.js
  services/maven-central/maven-central.tester.js
  services/maven-metadata/maven-metadata.js
  services/maven-metadata/maven-metadata.service.js
  services/maven-metadata/maven-metadata.tester.js
Labels: service-badge
