Repository badges/shields, pull requests merged in 2021-11, with the labels that each got.

#7216 Two minor docstring fixes
  badge-maker/lib/xml.js
  services/downloads.js
Labels: documentation, squash when passing

#7215 Continue request --> got migration; affects [travis wordpress myget jenkins-plugin node nuget]
  core/legacy/regular-update.js
  services/jenkins/jenkins-plugin-version.service.js
  services/myget/myget.tester.js
  services/node/node-version-color.js
  services/nuget/nuget-helpers.js
  services/php-version.js
  services/wordpress/wordpress-version-color.js
Labels: service-badge, core, dependencies, squash when passing

#7218 create new Test Results category, run [appveyortests azuredevopstests jenkinstests sonartests testspace]
  services/appveyor/appveyor-tests.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/categories.js
  services/jenkins/jenkins-tests.service.js
  services/sonar/sonar-tests.service.js
  services/testspace/testspace-base.js
Labels: service-badge, squash when passing

#7233 remove request from legacy request handler; affects [librariesio github]
  core/base-service/base.js
  core/base-service/got.js
  core/base-service/legacy-request-handler.js
  core/base-service/legacy-request-handler.spec.js
  doc/code-walkthrough.md
  services/github/auth/acceptor.js
  services/github/github-api-provider.js
  services/librariesio/librariesio-api-provider.js
Labels: core, dependencies, squash when passing

#7248 migrate request --> got in [github] auth acceptor
  package-lock.json
  package.json
  services/github/auth/acceptor.js
  services/github/auth/acceptor.spec.js
Labels: service-badge, core, dependencies

#7269 fix [npmversion] tagged service test
  services/npm/npm-version.service.js
  services/npm/npm-version.tester.js
Labels: keep-service-tests-green

#7271 upgrade to node 16
  .circleci/config.yml
  Dockerfile
  README.md
  doc/TUTORIAL.md
  doc/self-hosting.md
  package-lock.json
  package.json
Labels: operations

#7273 fix [spigetdownloadsize] service test
  services/spiget/spiget-download-size.service.js
  services/spiget/spiget-download-size.tester.js
Labels: keep-service-tests-green, squash when passing

#7274 deprecate [dependabot] badges
  services/dependabot/dependabot.service.js
  services/dependabot/dependabot.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#7277 rename sendAndCacheRequest
  core/base-service/base-graphql.spec.js
  core/base-service/base-json.spec.js
  core/base-service/base-svg-scraping.spec.js
  core/base-service/base-xml.spec.js
  core/base-service/base-yaml.spec.js
  core/base-service/base.js
  core/base-service/base.spec.js
  services/github/github-auth-service.js
  services/github/github-auth-service.spec.js
  services/librariesio/librariesio-base.js
  services/test-helpers.js
Labels: core

#7304 revert to eslint 7
  package-lock.json
  package.json
Labels: bug, dependencies

#7307 fix [Codeship] service tests
  services/codeship/codeship.tester.js
Labels: keep-service-tests-green, squash when passing

#7309 Send better user-agent values (and got config changes)
  .github/workflows/build-docker-image.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-docker-next.yml
  Dockerfile
  config/custom-environment-variables.yml
  config/default.yml
  core/base-service/base.js
  core/base-service/got-config.js
  core/base-service/got-config.spec.js
  core/base-service/got.js
  core/base-service/got.spec.js
  core/legacy/regular-update.js
  core/server/server.js
  services/github/auth/acceptor.js
  services/github/github-api-provider.integration.js
  services/github/github-api-provider.js
  services/github/github-auth-service.spec.js
  services/librariesio/librariesio-api-provider.js
  services/php-version.js
  services/suggest.js
  services/test-helpers.js
  services/validators.js
Labels: core, squash when passing

#7319 Clean up cache module; affects [feedz jenkinsplugin myget node nuget packagist travis wordpress]
  core/base-service/resource-cache.js
  core/base-service/resource-cache.spec.js
  core/server/server.js
  doc/production-hosting.md
  services/jenkins/jenkins-plugin-version.service.js
  services/myget/myget.tester.js
  services/node/node-version-color.js
  services/nuget/nuget-helpers.js
  services/php-version.js
  services/wordpress/wordpress-version-color.js
Labels: core
