Repository badges/shields, pull requests merged in 2022-02, with the labels that each got.

#7571 Deprecate [Requires] service
  services/requires/requires.service.js
  services/requires/requires.tester.js
Labels: service-badge

#7572 Delete deprecated Codetally and continuousphp services
  doc/deprecating-badges.md
  services/codetally/codetally.service.js
  services/codetally/codetally.tester.js
  services/continuousphp/continuousphp.service.js
  services/continuousphp/continuousphp.tester.js
Labels: service-badge

#7582 fix docker image user agent
  .github/workflows/build-docker-image.yml
  .github/workflows/publish-docker-next.yml
Labels: bug, self-hosting

#7587 Set a higher default `cacheLength` on rating/star category
  core/base-service/base.js
Labels: core, squash when passing

#7606 Remove no download handling and add API warning to [Wordpress] badges
  services/wordpress/wordpress-base.js
  services/wordpress/wordpress-downloads.service.js
  services/wordpress/wordpress-downloads.tester.js
  services/wordpress/wordpress-last-update.service.js
  services/wordpress/wordpress-platform.service.js
  services/wordpress/wordpress-rating.service.js
  services/wordpress/wordpress-version.service.js
Labels: service-badge

#7628 increase [SecurityHeaders] timeout
  services/security-headers/security-headers.tester.js
Labels: keep-service-tests-green, squash when passing

#7613 [Docsrs] Use the latest build status for multiple builds
  services/docsrs/docsrs.service.js
  services/docsrs/docsrs.tester.js
Labels: service-badge, squash when passing

#7627 fix [githubpipenv] service test
  services/github/github-pipenv.tester.js
Labels: keep-service-tests-green, squash when passing

#7653 note in SECURITY.md that svg-to-image-proxy is deprecated
  SECURITY.md
Labels: documentation, squash when passing

#7655 generate links without trailing : if port not set
  frontend/constants.ts
Labels: frontend, squash when passing

#7654 remove suspended [github] tokens from the pool
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
Labels: service-badge, core, squash when passing
