Repository badges/shields, pull requests merged in 2022-12, with the labels that each got.

#8539 allow passing key to [stackexchange]
  config/custom-environment-variables.yml
  core/server/server.js
  doc/server-secrets.md
  services/stackexchange/stackexchange-base.js
  services/stackexchange/stackexchange-base.spec.js
  services/stackexchange/stackexchange-helpers.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-taginfo.service.js
Labels: service-badge, squash when passing

#8668 docs/issue template improvements for badge requests
  .github/ISSUE_TEMPLATE/3_Badge_request.md
  .github/ISSUE_TEMPLATE/3_Badge_request.yml
  doc/authentication.md
  doc/logos.md
  doc/static-badges.md
Labels: documentation

#8690 fall back to classifiers if [pypi] license text is really long
  services/pypi/pypi-helpers.js
  services/pypi/pypi-helpers.spec.js
Labels: bug, service-badge

#8475 switch from github workflows to github actions workflows; test [githubactionsworkflowstatus githubworkflowstatus]
  services/github/github-actions-workflow-status.service.js
  services/github/github-actions-workflow-status.tester.js
  services/github/github-workflow-status.service.js
  services/github/github-workflow-status.tester.js
Labels: service-badge

#8718 add a clarifying comment to [pypi] getLicenses
  services/pypi/pypi-helpers.js
Labels: service-badge, documentation, squash when passing

#8717 handle workflow runs that do not have a conclusion in [githubactionsworkflowstatus]
  services/github/github-actions-workflow-status.service.js
  services/github/github-actions-workflow-status.tester.js
Labels: bug, service-badge, squash when passing

#8738 switch [GithubActionsWorkflowStatus] to SVG scraper
  services/github/github-actions-workflow-status.service.js
  services/github/github-actions-workflow-status.tester.js
Labels: bug, service-badge

#8734 allow all numeric branch names in [githubactionsworkflowstatus]
  services/github/github-actions-workflow-status.service.js
  services/github/github-actions-workflow-status.tester.js
Labels: bug, service-badge

#8740 run close-bot on node 16
  .github/actions/close-bot/action.yml
Labels: developer-experience, squash when passing

#8540 fix debug logging of undefined query params
  core/base-service/base.js
  core/base-service/base.spec.js
Labels: core

#8757 don't try to call .entries on null or undefined
  core/base-service/base.js
Labels: bug, core

#8673 Add [modrinth] game versions
  services/modrinth/modrinth-base.js
  services/modrinth/modrinth-game-versions.service.js
  services/modrinth/modrinth-game-versions.tester.js
Labels: service-badge, squash when passing

#8755 add [VpmVersion] badge
  services/vpm/vpm-version.service.js
  services/vpm/vpm-version.tester.js
Labels: service-badge, squash when passing

#8669 Send `X-GitHub-Api-Version` when calling [GitHub] v3 API
  .github/workflows/update-github-api.yml
  config/default.yml
  core/server/server.js
  scripts/update-github-api.js
  services/github/github-api-provider.js
  services/github/github-auth-service.spec.js
  services/github/github-constellation.js
Labels: service-badge, squash when passing

#8541 migrate frontend tests to GHA
  .circleci/config.yml
  .github/actions/frontend-tests/action.yml
  .github/workflows/test-frontend.yml
Labels: developer-experience
