Repository badges/shields, pull requests merged in 2022-10, with the labels that each got.

#8468 [GitHubHacktoberfest] Support for the year of 2022
  services/github/github-hacktoberfest.service.js
Labels: service-badge

#8471 [GitHubGistStars] add GitHub Gist Stars
  services/github/github-gist-stars.service.js
  services/github/github-gist-stars.tester.js
Labels: service-badge, squash when passing

#8480 docs: update wording and url for freecodecamp usernames
  CONTRIBUTING.md
  services/freecodecamp/freecodecamp-points.service.js
Labels: documentation, squash when passing

#8377 feat: add [GitlabLanguageCount] service
  services/gitlab/gitlab-languages-count.service.js
  services/gitlab/gitlab-languages-count.tester.js
Labels: service-badge, squash when passing

#8498 fix [pub] points badge test and example
  services/pub/pub-points.service.js
  services/pub/pub-points.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8472 allow/validate bitbucket_username / bitbucket_password in private config schema
  core/server/server.js
Labels: bug, self-hosting, squash when passing

#8497 fix formatRelativeDate error handling; run [date]
  services/text-formatters.js
  services/text-formatters.spec.js
Labels: bug, service-badge, keep-service-tests-green, squash when passing

#8496 fix [wordpress] php version not set test
  services/wordpress/wordpress-platform.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8501 deprecate [criterion] service
  services/criterion/criterion.service.js
  services/criterion/criterion.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8499 deprecate [pkgreview] service
  services/pkgreview/package-rating.service.js
  services/pkgreview/package-rating.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8423 migrate integration tests to GH actions
  .circleci/config.yml
  .github/actions/integration-tests/action.yml
  .github/workflows/test-integration-17.yml
  .github/workflows/test-integration.yml
Labels: developer-experience, squash when passing

#8511 update [JenkinsPluginInstalls] test example
  services/jenkins/jenkins-plugin-installs.tester.js
Labels: keep-service-tests-green, squash when passing

#8519 increase timeout for [reuse] not found test
  services/reuse/reuse-compliance.tester.js
Labels: keep-service-tests-green

#8466 [Whatpulse] badge for a user and for a team
  services/gem/gem-rank.tester.js
  services/test-validators.js
  services/whatpulse/whatpulse.service.js
  services/whatpulse/whatpulse.tester.js
Labels: service-badge, squash when passing

#8513 fix [myget] downloads (tenant) test
  services/myget/myget.tester.js
Labels: keep-service-tests-green, squash when passing

#8518 update [powershellgallery] platform example
  services/powershellgallery/powershellgallery.service.js
  services/powershellgallery/powershellgallery.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8520 update [bitbucket] private repo test
  services/bitbucket/bitbucket-pull-request.tester.js
Labels: keep-service-tests-green, squash when passing

#8521 fix: Support WAITING status for [GitHubDeployments]
  services/github/github-deployments.service.js
  services/github/github-deployments.spec.js
Labels: squash when passing

#8544 Fix [Testspace] with new "untested" value in case_counts array
  services/testspace/testspace-base.js
  services/testspace/testspace-test-count.service.js
  services/testspace/testspace-test-count.spec.js
  services/testspace/testspace-test-count.tester.js
Labels: service-badge, keep-service-tests-green

#8537 Add [GitHubLastCommit] by committer badge
  services/github/github-last-commit.service.js
  services/github/github-last-commit.tester.js
Labels: service-badge, squash when passing

#8547 remove failing [lgtm] test case
  services/lgtm/lgtm-alerts.tester.js
Labels: keep-service-tests-green, squash when passing

#8538 fixes for integration test rate limit issues
  .github/workflows/auto-close.yml
  .github/workflows/enforce-dependency-review.yml
  .github/workflows/test-integration-17.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test-main-17.yml
  .github/workflows/test-main.yml
  .github/workflows/test-package-cli.yml
  .github/workflows/test-package-lib.yml
Labels: developer-experience, blocker, squash when passing

#8565 fix [codecov] badge for non-default branch
  services/codecov/codecov.service.js
Labels: bug, service-badge

#8564 fix [swagger] service tests (allow array of 0 items)
  services/swagger/swagger.service.js
Labels: bug, keep-service-tests-green, squash when passing

#8508 feat: add [GitlabLastCommit] service
  services/gitlab/gitlab-last-commit.service.js
  services/gitlab/gitlab-last-commit.tester.js
Labels: service-badge, squash when passing

#8561 [VisualStudioMarketplace] Add support to prerelease extensions version (Issue #8207)
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.tester.js
Labels: service-badge, squash when passing

#8563 require array to have at least 1 item in [githublastcommit]
  services/github/github-last-commit.service.js
Labels: service-badge, squash when passing

#8548 fix [githubpullrequestcheckstate] service tests
  services/github/github-pull-request-check-state.tester.js
Labels: keep-service-tests-green, squash when passing
