Repository badges/shields, pull requests merged in 2022-07, with the labels that each got.

#8145 fix [gitlab] auth
  services/gitlab/gitlab-base.js
  services/gitlab/gitlab-license.tester.js
  services/gitlab/gitlab-tag.spec.js
Labels: service-badge

#8160 Docstrings for licenses service
  services/licenses.js
Labels: documentation, squash when passing

#8114 Add [galaxytoolshed] services
  services/galaxytoolshed/galaxytoolshed-base.js
  services/galaxytoolshed/galaxytoolshed-downloads.service.js
  services/galaxytoolshed/galaxytoolshed-downloads.tester.js
Labels: service-badge

#8162 moar fixes for [gitlab] auth
  services/gitlab/gitlab-base.js
  services/gitlab/gitlab-contributors.service.js
  services/gitlab/gitlab-contributors.tester.js
  services/gitlab/gitlab-release.spec.js
Labels: bug, service-badge, squash when passing

#8141 add docs on nouns in route
  doc/badge-urls.md
Labels: documentation, squash when passing

#8108 feat: add [gitlabissues] service
  services/gitlab/gitlab-issues.service.js
  services/gitlab/gitlab-issues.tester.js
  services/test-validators.js
Labels: service-badge, squash when passing

#8169 Add [ROS] version service
  services/ros/ros-version.service.js
  services/ros/ros-version.service.spec.js
  services/ros/ros-version.tester.js
Labels: service-badge, squash when passing

#8189 add spaces round pipe in [conda] version badge
  services/conda/conda-version.service.js
  services/conda/conda-version.tester.js
Labels: service-badge, squash when passing

#8192 Replace moment with dayjs [github node sourceforge wordpress aur eclipse steam vaadin visualstudio]
  package-lock.json
  package.json
  services/color-formatters.js
  services/github/github-hacktoberfest.service.js
  services/github/github-release-date.service.js
  services/node/node-version-color.js
  services/node/testUtils/test-utils.js
  services/sourceforge/sourceforge.service.js
  services/text-formatters.js
  services/wordpress/wordpress-last-update.service.js
Labels: service-badge

#8204 Fix missing conversion to `dayjs`, run [stackexchange]
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-monthlyquestions.tester.js
Labels: service-badge, squash when passing

#8213 Fix heroku review apps (sort of)
  .circleci/config.yml
  app.json
  package-lock.json
  package.json
Labels: operations, developer-experience, squash when passing

#8087 [greasyfork] Add Greasy Fork rating badges
  services/greasyfork/greasyfork-rating.service.js
  services/greasyfork/greasyfork-rating.spec.js
  services/greasyfork/greasyfork-rating.tester.js
Labels: service-badge

#8239 Fix typo in service-tests.md
  doc/service-tests.md
Labels: documentation, squash when passing

#8240 Fix wording in code-walkthrough.md
  doc/code-walkthrough.md
Labels: documentation, squash when passing

#8164 Add [galaxytoolshed] Activity
  services/galaxytoolshed/galaxytoolshed-activity.service.js
  services/galaxytoolshed/galaxytoolshed-activity.tester.js
  services/galaxytoolshed/galaxytoolshed-base.js
Labels: service-badge, squash when passing

#8251 [pypi] Service calls according to new Warehouse API
  services/pypi/pypi-base.js
  services/pypi/pypi-helpers.js
  services/pypi/pypi-helpers.spec.js
  services/pypi/pypi-license.tester.js
  services/pypi/pypi-version.tester.js
Labels: bug, service-badge, squash when passing

#8208 feat: add [GitlabForks] server
  services/gitlab/gitlab-forks.service.js
  services/gitlab/gitlab-forks.tester.js
Labels: service-badge, squash when passing
