Repository badges/shields, pull requests merged in 2022-01, with the labels that each got.

#7449 revert decamelize and humanize-string to old versions
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: frontend, dependencies

#7468 Fix c8 coverage
  package-lock.json
  package.json
Labels: dependencies, keep-service-tests-green

#7472 Fix [Nexus] tests
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green

#7471 Fix [CodeFactor] tests and example
  services/codefactor/codefactor-grade.service.js
  services/codefactor/codefactor-grade.tester.js
Labels: keep-service-tests-green

#7470 Fix [CodacyCoverage] tests and examples
  services/codacy/codacy-coverage.service.js
  services/codacy/codacy-coverage.tester.js
Labels: keep-service-tests-green

#7476 Support [Feedz] response with multiple pages without items
  services/feedz/feedz.service.js
  services/feedz/feedz.tester.js
Labels: service-badge, squash when passing

#7517 remove heroku from sponsors
  frontend/pages/community.tsx
  static/images/heroku-logotype-horizontal-purple.svg
Labels: frontend

#7475 [Depfu] Add support for Gitlab
  services/depfu/depfu.service.js
  services/depfu/depfu.tester.js
Labels: service-badge, squash when passing

#7547 Fix [Nexus] test
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green

#7548 Fix [GitlabCoverage] self-hosted test and example
  services/gitlab/gitlab-coverage.service.js
  services/gitlab/gitlab-coverage.tester.js
Labels: keep-service-tests-green

#7549 Fix [Drone] tests and examples
  services/drone/drone-build.service.js
  services/drone/drone-build.tester.js
Labels: keep-service-tests-green
