Repository badges/shields, pull requests merged in 2022-11, with the labels that each got.

#8578 [Ansible] Add collection badge
  services/ansible/ansible-collection.service.js
  services/ansible/ansible-collection.tester.js
Labels: service-badge, squash when passing

#8514 fix [tas] private project test
  services/tas/tas-tests.tester.js
Labels: keep-service-tests-green, squash when passing

#8500 fix [flathub] version error handling
  services/flathub/flathub.service.js
Labels: bug, service-badge, keep-service-tests-green, squash when passing

#8510 tidy up [GitHubGist] routes
  services/github/gist/github-gist-last-commit-redirect.service.js
  services/github/gist/github-gist-last-commit-redirect.tester.js
  services/github/gist/github-gist-last-commit.service.js
  services/github/gist/github-gist-last-commit.tester.js
  services/github/gist/github-gist-stars-redirect.service.js
  services/github/gist/github-gist-stars-redirect.tester.js
  services/github/gist/github-gist-stars.service.js
  services/github/gist/github-gist-stars.tester.js
Labels: service-badge, squash when passing

#8542 bump actions/setup-node to v3
  .github/actions/setup/action.yml
Labels: dependencies, squash when passing

#8601 Add [modrinth] followers
  services/modrinth/modrinth-downloads.service.js
  services/modrinth/modrinth-downloads.tester.js
  services/modrinth/modrinth-followers.service.js
  services/modrinth/modrinth-followers.tester.js
Labels: service-badge

#8311 Remove 'suggest badges' feature
  core/badge-urls/make-badge-url.d.ts
  core/badge-urls/make-badge-url.js
  core/badge-urls/make-badge-url.spec.js
  core/server/server.js
  cypress/e2e/main-page.cy.js
  doc/code-walkthrough.md
  doc/self-hosting.md
  frontend/components/badge-examples.tsx
  frontend/components/customizer/customizer.tsx
  frontend/components/customizer/path-builder.tsx
  frontend/components/main.tsx
  frontend/components/markup-modal/index.tsx
  frontend/components/markup-modal/markup-modal-content.tsx
  frontend/components/search.tsx
  frontend/components/suggestion-and-search.tsx
  frontend/lib/generate-image-markup.spec.ts
  frontend/lib/generate-image-markup.ts
  frontend/lib/service-definitions/index.ts
  frontend/pages/endpoint.tsx
  services/suggest.integration.js
  services/suggest.js
  services/suggest.spec.js
Labels: frontend, squash when passing

#8584 [Coveralls] for GitLab
  services/coveralls/coveralls-redirector.service.js
  services/coveralls/coveralls-redirector.tester.js
  services/coveralls/coveralls.service.js
  services/coveralls/coveralls.tester.js
Labels: service-badge, squash when passing

#8625 [factorio-mod-portal] services
  services/factorio-mod-portal/factorio-mod-portal.service.js
  services/factorio-mod-portal/factorio-mod-portal.tester.js
Labels: service-badge, squash when passing

#8604 Add [modrinth] version
  services/modrinth/modrinth-base.js
  services/modrinth/modrinth-downloads.service.js
  services/modrinth/modrinth-followers.service.js
  services/modrinth/modrinth-version.service.js
  services/modrinth/modrinth-version.tester.js
Labels: service-badge, squash when passing

#8623 Add [Coincap] Cryptocurrency badges
  services/coincap/coincap-base.js
  services/coincap/coincap-changepercent24hr.service.js
  services/coincap/coincap-changepercent24hr.tester.js
  services/coincap/coincap-priceusd.service.js
  services/coincap/coincap-priceusd.spec.js
  services/coincap/coincap-priceusd.tester.js
  services/coincap/coincap-rank.service.js
  services/coincap/coincap-rank.tester.js
  services/test-validators.js
Labels: service-badge, squash when passing

#8642 deprecate [wercker] service
  services/wercker/wercker.service.js
  services/wercker/wercker.tester.js
Labels: service-badge, keep-service-tests-green, squash when passing

#8644 add a missing redirect to [coveralls]
  services/coveralls/coveralls-redirector.service.js
  services/coveralls/coveralls-redirector.tester.js
Labels: bug, service-badge, squash when passing

#8643 don't call external services in core tests
  core/server/server.spec.js
Labels: developer-experience

#8603 handle missing properties array in [VisualStudioMarketplaceVersion]
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
Labels: bug, service-badge, squash when passing

#8562 migrate e2e tests to GHA
  .circleci/config.yml
  .github/actions/setup/action.yml
  .github/workflows/test-e2e.yml
Labels: developer-experience, squash when passing

#8263 fix: support logoColor to shield icons.
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  frontend/components/usage.tsx
  frontend/pages/endpoint.tsx
  lib/logos.js
  lib/logos.spec.js
Labels: core, squash when passing
