Repository badges/shields, pull requests merged in 2022-08, with the labels that each got.

#8261 [pypi] Add Framework Version Badges support
  services/pypi/pypi-django-versions.service.js
  services/pypi/pypi-django-versions.tester.js
  services/pypi/pypi-framework-versions.service.js
  services/pypi/pypi-framework-versions.tester.js
  services/pypi/pypi-helpers.js
  services/pypi/pypi-helpers.spec.js
Labels: service-badge, squash when passing

#8262 [GitHub] GitHub file size for a specific branch
  services/github/github-size.service.js
  services/github/github-size.tester.js
Labels: service-badge, squash when passing

#8254 chore: fix typo in badge request template
  .github/ISSUE_TEMPLATE/3_Badge_request.md
Labels: documentation, squash when passing

#8272 [GithubGistLastCommit] GitHub gist last commit
  services/github/github-gist-last-commit.service.js
  services/github/github-gist-last-commit.tester.js
Labels: service-badge

#8275 Fix invalid `rst` format when `alt` or `target` is present
  frontend/lib/generate-image-markup.spec.ts
  frontend/lib/generate-image-markup.ts
Labels: frontend, bug, squash when passing

#8209 feat: add [GitlabStars] service
  services/gitlab/gitlab-stars.service.js
  services/gitlab/gitlab-stars.tester.js
Labels: service-badge, squash when passing

#8292 Fix variable naming for [ROS] version service
  services/ros/ros-version.service.js
  services/ros/ros-version.tester.js
Labels: service-badge, squash when passing

#8166 feat: add [gitlabmergerequests] service
  services/gitlab/gitlab-merge-requests.service.js
  services/gitlab/gitlab-merge-requests.spec.js
  services/gitlab/gitlab-merge-requests.tester.js
Labels: service-badge, squash when passing

#8315 [BountySource] Fix: Broken Badge generation for decimal activity values
  services/bountysource/bountysource.service.js
Labels: service-badge, squash when passing

#8316 fix [dockerstars] service
  services/docker/docker-stars.service.js
Labels: bug, service-badge

#8333 Custom domains for [JitPack] artifacts
  services/jitpack/jitpack-version-redirector.service.js
  services/jitpack/jitpack-version-redirector.tester.js
  services/jitpack/jitpack-version.service.js
  services/jitpack/jitpack-version.tester.js
Labels: squash when passing

#8334 upgrade gatsby
  cypress/e2e/main-page.cy.js
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, blocker

#8332 migrate 'main' tests to GH actions
  .circleci/config.yml
  .github/actions/core-tests/action.yml
  .github/actions/setup/action.yml
  .github/workflows/test-lint.yml
  .github/workflows/test-main-17.yml
  .github/workflows/test-main.yml
  scripts/mocha2md.js
Labels: developer-experience

#8290 [DockerSize] Docker image size multi arch
  services/docker/docker-fixtures.js
  services/docker/docker-helpers.js
  services/docker/docker-size.service.js
  services/docker/docker-size.spec.js
  services/docker/docker-size.tester.js
  services/docker/docker-version.service.js
Labels: service-badge

#8350 get the tests passing on windows
  .github/workflows/test-main.yml
  core/base-service/loader.js
  lib/logos.spec.js
  lib/svg-helpers.js
Labels: bug, developer-experience, squash when passing
