Repository badges/shields, pull requests merged in 2022-04, with the labels that each got.

#7809 downgrade eslint-plugin-promise to 5.2.0
  package-lock.json
  package.json
Labels: bug, dependencies, blocker

#7813 add note to changelog about ioredis connection string change
  CHANGELOG.md
Labels: documentation

#7814 handle missing 'fly-client-ip'
  core/server/server.js
Labels: operations, bug

#7816 Try out dependency-review-action
  .github/workflows/enforce-dependency-review.yml
Labels: developer-experience, dependencies, security, squash when passing

#7837 fix [bitrise] example & service test
  services/bitrise/bitrise.service.js
  services/bitrise/bitrise.tester.js
Labels: service-badge, keep-service-tests-green

#7836 fix various [sonar] service tests
  services/sonar/sonar-documented-api-density.tester.js
  services/sonar/sonar-tech-debt.tester.js
  services/sonar/sonar-violations.tester.js
Labels: keep-service-tests-green, squash when passing

#7862 add labels to Dockerfile
  Dockerfile
Labels: operations, self-hosting, squash when passing

#7878 Remove obsolete monitor.html
  core/server/public/monitor.html
Labels: core

#7881 Stringify [githublanguagecount] message
  services/github/github-language-count.service.js
Labels: service-badge

#7687 [OSSFScorecard] Create scorecard badge service
  services/ossf-scorecard/ossf-scorecard.service.js
  services/ossf-scorecard/ossf-scorecard.tester.js
Labels: service-badge, squash when passing
