Repository badges/shields, pull requests merged in 2022-03, with the labels that each got.

#7460 Add [Conan] version service
  services/conan/conan-version-helpers.js
  services/conan/conan-version-helpers.spec.js
  services/conan/conan-version.service.js
  services/conan/conan-version.tester.js
Labels: service-badge, squash when passing

#7656 Add [piwheels] version badge
  services/piwheels/piwheels-version.service.js
  services/piwheels/piwheels-version.spec.js
  services/piwheels/piwheels-version.tester.js
Labels: service-badge, squash when passing

#7681 [packagist] api v2 support
  services/packagist/packagist-base.js
  services/packagist/packagist-base.spec.js
  services/packagist/packagist-license.service.js
  services/packagist/packagist-license.spec.js
  services/packagist/packagist-php-version.service.js
  services/packagist/packagist-php-version.spec.js
  services/packagist/packagist-php-version.tester.js
  services/packagist/packagist-version.service.js
Labels: service-badge, squash when passing

#7612 Support for Test at Scale Badge, run [TAS]
  services/tas/tas-tests.service.js
  services/tas/tas-tests.tester.js
Labels: service-badge, squash when passing

#7686 Fix [SnykVulnerability] test
  services/snyk/snyk-vulnerability-github.tester.js
Labels: keep-service-tests-green

#7685 Support [HexPM] packages with no stable release
  services/hexpm/hexpm.service.js
  services/hexpm/hexpm.tester.js
Labels: service-badge

#7691 Fix GitHub Deployments example color
  services/github/github-deployments.service.js
Labels: service-badge

#7690 Clarify GitHub All Contributors badge
  services/github/github-all-contributors.service.js
Labels: service-badge

#7682 Improve python version formatting 🐍 affects [pypi piwheels github]
  package-lock.json
  package.json
  services/color-formatters.js
  services/color-formatters.spec.js
  services/github/github-pipenv.service.js
  services/piwheels/piwheels-version.service.js
  services/pypi/pypi-version.service.js
  services/version.js
Labels: service-badge

#7692 set a longer cacheLength on [librariesio] badges
  services/librariesio/librariesio-dependencies.service.js
  services/librariesio/librariesio-dependent-repos.service.js
  services/librariesio/librariesio-dependents.service.js
Labels: service-badge, squash when passing

#7696 [piwheels], filter out versions with no files
  services/piwheels/piwheels-version.service.js
  services/piwheels/piwheels-version.spec.js
Labels: service-badge, squash when passing

#4254 restore version comparison updates #4173, run [pub Debian GemDownloads GitHubRelease GitHubTag Packagist]
  services/version.js
  services/version.spec.js
Labels: service-badge, squash when passing

#7717 Deprecate [Shippable] service
  services/shippable/shippable.service.js
  services/shippable/shippable.tester.js
Labels: service-badge

#7718 Delete [TeamCityCoverage] and [BowerVersion] redirectors
  services/bower/bower-version.service.js
  services/bower/bower-version.spec.js
  services/bower/bower-version.tester.js
  services/teamcity/teamcity-coverage-redirect.service.js
  services/teamcity/teamcity-coverage-redirect.tester.js
Labels: service-badge

#7716 Support [CodeClimate] responses with multiple data items
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-common.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codeclimate/codeclimate-coverage.tester.js
Labels: bug, service-badge

#7719 Improve Cirrus CI examples
  services/cirrus/cirrus.service.js
Labels: service-badge

#7720 Improve Wercker examples
  services/wercker/wercker.service.js
Labels: service-badge

#7721 Make W3C and Youtube documentation links clickable
  services/w3c/w3c-validation-helper.js
  services/youtube/youtube-base.js
Labels: service-badge

#7722 Switch Steam file size badge to informational color
  services/steam/steam-workshop.service.js
Labels: service-badge

#7723 Update number of badges served each month
  README.md
Labels: documentation

#7715 Add a [pub] publisher badge
  services/pub/pub-publisher.service.js
  services/pub/pub-publisher.tester.js
Labels: service-badge, squash when passing

#7762 cache [pub] publisher badge for an hour
  services/pub/pub-publisher.service.js
Labels: service-badge

#7726 Use new CircleCI "convenience" images
  .circleci/config.yml
Labels: developer-experience, squash when passing

#7761 fix [pypi] badges when package has null license
  services/pypi/pypi-base.js
  services/pypi/pypi-helpers.spec.js
Labels: bug, service-badge, squash when passing

#7781 allow `requireCloudflare` setting to work when hosted on fly.io
  core/server/server.js
Labels: operations, self-hosting

#7782 two fixes for [packagist] schemas
  services/packagist/packagist-base.js
  services/packagist/packagist-version.service.js
Labels: bug, service-badge, squash when passing
