Repository badges/shields, pull requests merged in 2023-07, with the labels that each got.

#9339 Mention YouTube API services and link to Google Privacy Policy
  services/youtube/youtube-base.js
Labels: service-badge, squash when passing

#9343 cache [dockerpulls] badges for an hour
  services/docker/docker-pulls.service.js
Labels: service-badge

#9350 increase max-age on [docker] badges, again
  services/docker/docker-pulls.service.js
  services/docker/docker-stars.service.js
Labels: service-badge

#9349 deprecate [snyk] badges
  services/snyk/snyk-test-helpers.js
  services/snyk/snyk-vulnerability-base.js
  services/snyk/snyk-vulnerability-github.service.js
  services/snyk/snyk-vulnerability-github.tester.js
  services/snyk/snyk-vulnerability-npm.service.js
  services/snyk/snyk-vulnerability-npm.tester.js
Labels: service-badge, squash when passing

#9348 add a bit of border to select boxes
  frontend/src/css/custom.css
Labels: frontend, squash when passing

#9322 don't URL encode slash in [githubactionsworkflow] badge
  services/github/github-actions-workflow-status.service.js
  services/github/github-actions-workflow-status.tester.js
Labels: bug, service-badge, squash when passing

#9193 Allow user to supply an arbitrary filter param to [GithubTag] and [GithubRelease] badges
  package-lock.json
  package.json
  services/github/github-common-release.js
  services/github/github-common-release.spec.js
  services/github/github-release.service.js
  services/github/github-release.tester.js
  services/github/github-tag.service.js
  services/github/github-tag.spec.js
Labels: service-badge, squash when passing

#9346 [OpenCollective] update opencollective to api v2
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-all.tester.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-backers.tester.js
  services/opencollective/opencollective-base.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-sponsors.service.js
  services/opencollective/opencollective-sponsors.tester.js
Labels: bug, service-badge, squash when passing

#9360 improve docs for github issues search badge
  services/github/github-issues-search.service.js
Labels: documentation, squash when passing

#9362 Revert "[OpenCollective] update opencollective to api v2 (#9346)"
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-all.tester.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-backers.tester.js
  services/opencollective/opencollective-base.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-sponsors.service.js
  services/opencollective/opencollective-sponsors.tester.js
Labels: bug, service-badge

#9363 edit comment about styles to remove in future
  frontend/src/css/custom.css
Labels: frontend

#9369 cache docker badges for longer (take 3)
  services/docker/docker-automated.service.js
  services/docker/docker-cloud-automated.service.js
  services/docker/docker-pulls.service.js
  services/docker/docker-size.service.js
  services/docker/docker-stars.service.js
Labels: service-badge

#9372 Go back to default YouTube cache
  services/youtube/youtube-base.js
Labels: service-badge

#8943 run service/docker builds on merge queue builds
  .github/workflows/build-docker-image.yml
  .github/workflows/test-services-18.yml
  .github/workflows/test-services.yml
Labels: developer-experience

#9323 upgrade to npm 9
  .github/actions/setup/action.yml
  .github/workflows/test-package-cli.yml
  .github/workflows/test-package-lib.yml
  Dockerfile
  badge-maker/CHANGELOG.md
  badge-maker/package.json
  doc/TUTORIAL.md
  package-lock.json
  package.json
Labels: developer-experience, npm-package

#9368 Add support for [Lemmy]
  services/lemmy/lemmy.service.js
  services/lemmy/lemmy.tester.js
Labels: service-badge

#9386 devops: automate bug report tests
  .github/workflows/test-bug-run-badge.yml
Labels: developer-experience

#9347 move some docs to the website
  .github/ISSUE_TEMPLATE/3_Badge_request.yml
  README.md
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
  doc/logos.md
  doc/static-badges.md
  frontend/blog/2023-07-03-new-frontend.md
  frontend/docs/index.md
  frontend/docs/intro.md
  frontend/docs/logos.md
  frontend/docs/static-badges.md
  frontend/docusaurus.config.cjs
  frontend/static/img/builder.png
Labels: frontend, documentation

#9409 exclude assets dir from raster redirects
  core/server/server.js
Labels: frontend

#9422 Migrate from [DocsRs]' builds API to status API
  services/docsrs/docsrs.service.js
Labels: service-badge

#9423 add some tests for [docsrs]
  services/docsrs/docsrs.tester.js
Labels: service-badge

#9424 add a blog post about GH Tag/Release filter param
  frontend/blog/2023-07-29-tag-filter.md
Labels: blog post

#9320 Convert `examples` arrays to `openApi` objects (part 1)
  core/base-service/base.js
  core/base-service/index.js
  core/base-service/loader.js
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
  core/base-service/service-definitions.js
  services/amo/amo-downloads.service.js
  services/amo/amo-rating.service.js
  services/amo/amo-users.service.js
  services/amo/amo-version.service.js
  services/ansible/ansible-collection.service.js
  services/ansible/ansible-quality.service.js
  services/ansible/ansible-role.service.js
  services/appveyor/appveyor-build.service.js
  services/appveyor/appveyor-job-build.service.js
  services/appveyor/appveyor-tests.service.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-yaml.service.js
  services/endpoint/endpoint.service.js
  services/test-results.js
Labels: service-badge, core, documentation, blocker
