Repository badges/shields, pull requests merged in 2023-09, with the labels that each got.

#9542 Fix command injection vulnerability in Github workflow
  .github/workflows/test-bug-run-badge.yml
Labels: developer-experience, security

#9544 Point to security policy in README
  README.md
Labels: documentation

#9528 fix rSt code example
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
Labels: frontend, bug

#9525 Fix [testspace] badges
  services/testspace/testspace-base.js
Labels: bug, service-badge

#9464 migrate examples to openApi part 7; affects [reuse sourceforge sourcegraph spack stackexchange testspace treeware twitch]
  services/reuse/reuse-compliance.service.js
  services/sourceforge/sourceforge-commit-count.service.js
  services/sourceforge/sourceforge-contributors.service.js
  services/sourceforge/sourceforge-languages.service.js
  services/sourceforge/sourceforge-last-commit.service.js
  services/sourceforge/sourceforge-platform.service.js
  services/sourceforge/sourceforge-translations.service.js
  services/sourcegraph/sourcegraph.service.js
  services/spack/spack.service.js
  services/stackexchange/stackexchange-monthlyquestions.service.js
  services/stackexchange/stackexchange-reputation.service.js
  services/stackexchange/stackexchange-taginfo.service.js
  services/testspace/testspace-test-pass-ratio.service.js
  services/treeware/treeware-trees.service.js
  services/twitch/twitch-extension-version.service.js
Labels: service-badge, documentation

#9549 Add [dub] score badge service
  services/dub/dub-score.service.js
  services/dub/dub-score.tester.js
Labels: service-badge

#9516 Add [PythonVersionFromToml] shield
  services/python/python-version-from-toml.service.js
  services/python/python-version-from-toml.tester.js
Labels: service-badge

#9566 fix [aur] service tests
  services/aur/aur.tester.js
Labels: keep-service-tests-green

#9567 fix [bower] version badge
  services/bower/bower-version.service.js
  services/bower/bower-version.spec.js
  services/bower/bower-version.tester.js
Labels: service-badge, keep-service-tests-green

#9580 Fix mismatch in documentation and examples given in tutorial
  doc/TUTORIAL.md
Labels: documentation

#9568 deprecate [redmine] plugin rating badges
  services/redmine/redmine.service.js
  services/redmine/redmine.tester.js
Labels: service-badge

#9582 fix review apps
  .github/scripts/deploy-review-app.sh
Labels: developer-experience

#9465 migrate examples to openApi part 9; affects [bowerlicense conda freecodecamp galaxytoolshed jenkins-plugin npmtypedefinitions puppetforge]
  services/bower/bower-license.service.js
  services/conda/conda-license.service.js
  services/freecodecamp/freecodecamp-points.service.js
  services/freecodecamp/freecodecamp-points.tester.js
  services/galaxytoolshed/galaxytoolshed-activity.service.js
  services/galaxytoolshed/galaxytoolshed-downloads.service.js
  services/jenkins/jenkins-plugin-version.service.js
  services/npm/npm-type-definitions.service.js
  services/puppetforge/puppetforge-module-downloads.service.js
  services/puppetforge/puppetforge-module-endorsement.service.js
  services/puppetforge/puppetforge-module-feedback.service.js
  services/puppetforge/puppetforge-module-pdk-version.service.js
  services/puppetforge/puppetforge-module-version.service.js
  services/puppetforge/puppetforge-user-module-count.service.js
  services/puppetforge/puppetforge-user-release-count.service.js
Labels: service-badge, documentation

#9466 migrate examples to openApi part 10
  services/bitbucket/bitbucket-pipelines.service.js
Labels: service-badge, documentation

#9608 sync docusaurus plugin versions
  .github/scripts/check-docusaurus-versions.sh
  .github/workflows/check-docusaurus-versions.yml
  package-lock.json
Labels: developer-experience, dependencies

#9564 add python package total downloads from [pepy] badge
  services/pepy/pepy-downloads.service.js
  services/pepy/pepy-downloads.tester.js
Labels: service-badge
