Repository badges/shields, pull requests merged in 2023-08, with the labels that each got.

#9432 fix 'draft release' action
  .github/actions/draft-release/Dockerfile
Labels: developer-experience

#9434 fix 'draft release' action part 2
  .github/actions/draft-release/entrypoint.sh
Labels: developer-experience

#9427 allow calling [github] without auth
  services/github/github-api-provider.integration.js
  services/github/github-api-provider.js
  services/github/github-api-provider.spec.js
  services/github/github-auth-service.js
  services/github/github-auth-service.spec.js
  services/github/github-constellation.js
  services/github/github-search.service.js
Labels: service-badge

#9428 migrate `examples` to `openApi` part 2; affects [archlinux bitcomponents bountysource cdnjs chrome clearlydefined clojars cocoapods coincap]
  services/archlinux/archlinux.service.js
  services/bit/bit-components.service.js
  services/bountysource/bountysource.service.js
  services/cdnjs/cdnjs.service.js
  services/chrome-web-store/chrome-web-store-price.service.js
  services/chrome-web-store/chrome-web-store-users.service.js
  services/chrome-web-store/chrome-web-store-version.service.js
  services/clearlydefined/clearlydefined-score.service.js
  services/clojars/clojars-downloads.service.js
  services/cocoapods/cocoapods-docs.service.js
  services/cocoapods/cocoapods-license.service.js
  services/cocoapods/cocoapods-platform.service.js
  services/cocoapods/cocoapods-version.service.js
  services/coincap/coincap-changepercent24hr.service.js
  services/coincap/coincap-priceusd.service.js
  services/coincap/coincap-rank.service.js
  services/github/github-workflow-status.service.js
Labels: service-badge, documentation

#9385 deploy on node 18
  .github/workflows/danger.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test-bug-run-badge.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-20.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test-main-20.yml
  .github/workflows/test-main.yml
  .github/workflows/test-package-lib.yml
  .github/workflows/test-services-20.yml
  .github/workflows/test-services.yml
  .github/workflows/update-github-api.yml
  Dockerfile
  README.md
  doc/TUTORIAL.md
  doc/self-hosting.md
  package-lock.json
  package.json
Labels: operations

#9468 delete close-bot
  .github/actions/close-bot/action.yml
  .github/actions/close-bot/helpers.js
  .github/actions/close-bot/index.js
  .github/actions/close-bot/package-lock.json
  .github/actions/close-bot/package.json
  .github/workflows/auto-close.yml
Labels: developer-experience

#9471 output DockerHub digest in publish-docker-next workflow
  .github/workflows/publish-docker-next.yml
Labels: developer-experience

#9469 remove obsolete entries from `dependabot.yml`
  .github/dependabot.yml
Labels: developer-experience

#9470 update npm prune command
  Dockerfile
Labels: developer-experience

#9252 Add [CurseForge] badges
  config/custom-environment-variables.yml
  config/local-shields-io-production.template.yml
  config/local.template.yml
  core/base-service/auth-helper.js
  core/server/server.js
  doc/server-secrets.md
  services/curseforge/curseforge-base.js
  services/curseforge/curseforge-downloads.service.js
  services/curseforge/curseforge-downloads.tester.js
  services/curseforge/curseforge-game-versions.service.js
  services/curseforge/curseforge-game-versions.tester.js
  services/curseforge/curseforge-version.service.js
  services/curseforge/curseforge-version.tester.js
Labels: service-badge

#8767 [Pulsar] Add Pulsar Badges for Stargazers & Downloads
  services/pulsar/pulsar-downloads.service.js
  services/pulsar/pulsar-downloads.tester.js
  services/pulsar/pulsar-helper.js
  services/pulsar/pulsar-stargazers.service.js
  services/pulsar/pulsar-stargazers.tester.js
Labels: service-badge

#9438 Add TOML support with BaseTomlService
  core/base-service/base-toml.js
  core/base-service/base-toml.spec.js
  package-lock.json
  package.json
Labels: core

#9429 migrate `examples` to `openApi` part 3; affects [conan cookbook coverity cpan debian docker docsrs dub eclipse]
  services/conan/conan-version.service.js
  services/cookbook/cookbook.service.js
  services/coverity/coverity-scan.service.js
  services/cpan/cpan-license.service.js
  services/cpan/cpan-version.service.js
  services/debian/debian.service.js
  services/docker/docker-automated.service.js
  services/docker/docker-pulls.service.js
  services/docker/docker-stars.service.js
  services/docsrs/docsrs.service.js
  services/dub/dub-license.service.js
  services/dub/dub-version.service.js
  services/eclipse-marketplace/eclipse-marketplace-favorites.service.js
  services/eclipse-marketplace/eclipse-marketplace-license.service.js
  services/eclipse-marketplace/eclipse-marketplace-update.service.js
  services/eclipse-marketplace/eclipse-marketplace-version.service.js
Labels: service-badge, documentation

#9467 devops: Add ci warning for swizzled docusaurus components
  .github/actions/docusaurus-swizzled-warning/action.yml
  .github/actions/docusaurus-swizzled-warning/helpers.js
  .github/actions/docusaurus-swizzled-warning/index.js
  .github/actions/docusaurus-swizzled-warning/package-lock.json
  .github/actions/docusaurus-swizzled-warning/package.json
  .github/dependabot.yml
  .github/workflows/docusaurus-swizzled-warning.yml
Labels: developer-experience

#9462 migrate examples to openApi part 6; affects [opencollective opm ossf powershell pub pypi reddit repology]
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-sponsors.service.js
  services/opm/opm-version.service.js
  services/ossf-scorecard/ossf-scorecard.service.js
  services/powershellgallery/powershellgallery.service.js
  services/pub/pub-publisher.service.js
  services/pypi/pypi-format.service.js
  services/pypi/pypi-implementation.service.js
  services/pypi/pypi-license.service.js
  services/pypi/pypi-python-versions.service.js
  services/pypi/pypi-status.service.js
  services/pypi/pypi-version.service.js
  services/pypi/pypi-wheel.service.js
  services/reddit/subreddit-subscribers.service.js
  services/repology/repology-repositories.service.js
Labels: service-badge, documentation

#9387 Switch [OpenCollective] badges to use GraphQL and auth
  config/custom-environment-variables.yml
  core/server/server.js
  doc/server-secrets.md
  services/opencollective/opencollective-all.service.js
  services/opencollective/opencollective-all.tester.js
  services/opencollective/opencollective-backers.service.js
  services/opencollective/opencollective-backers.tester.js
  services/opencollective/opencollective-base.js
  services/opencollective/opencollective-base.spec.js
  services/opencollective/opencollective-by-tier.service.js
  services/opencollective/opencollective-sponsors.service.js
  services/opencollective/opencollective-sponsors.tester.js
Labels: service-badge

#9055 [bundlejs] add badge for the npm package size
  services/bundlejs/bundlejs-package.service.js
  services/bundlejs/bundlejs-package.tester.js
Labels: service-badge

#9430 migrate `examples` to `openApi` part 4; affects [ecologi elm flathub gem gitter GithubTotalDiscussions greasyfork hackage hackernews homebrew]
  services/ecologi/ecologi-carbon.service.js
  services/ecologi/ecologi-trees.service.js
  services/elm-package/elm-package.service.js
  services/flathub/flathub-downloads.service.js
  services/flathub/flathub.service.js
  services/gem/gem-owner.service.js
  services/github/github-discussions-total.service.js
  services/gitter/gitter.service.js
  services/greasyfork/greasyfork-license.service.js
  services/greasyfork/greasyfork-rating.service.js
  services/greasyfork/greasyfork-version.service.js
  services/hackage/hackage-deps.service.js
  services/hackage/hackage-version.service.js
  services/hackernews/hackernews-user-karma.service.js
  services/homebrew/homebrew-cask.service.js
  services/homebrew/homebrew-version.service.js
Labels: service-badge, documentation

#9431 migrate `examples` to `openApi` part5; affects [itunes jetbrains jitpack keybase lemmy luarocks maintenance openvsx]
  services/itunes/itunes.service.js
  services/jetbrains/jetbrains-downloads.service.js
  services/jetbrains/jetbrains-version.service.js
  services/jitpack/jitpack-version.service.js
  services/keybase/keybase-btc.service.js
  services/keybase/keybase-pgp.service.js
  services/keybase/keybase-xlm.service.js
  services/keybase/keybase-zec.service.js
  services/lemmy/lemmy.service.js
  services/liberapay/liberapay-gives.service.js
  services/liberapay/liberapay-goal.service.js
  services/liberapay/liberapay-patrons.service.js
  services/liberapay/liberapay-receives.service.js
  services/luarocks/luarocks.service.js
  services/maintenance/maintenance.service.js
  services/open-vsx/open-vsx-release-date.service.js
  services/open-vsx/open-vsx-version.service.js
Labels: service-badge, documentation

#9496 [twitter] --> x
  services/twitter/twitter.service.js
Labels: service-badge

#9518 Docs: update TUTORIAL.md add BaseTomlService
  doc/TUTORIAL.md
Labels: documentation

#9505 log an error to sentry if an upstream service responds with `429 Too Many Requests`
  core/base-service/check-error-response.js
  core/base-service/check-error-response.spec.js
Labels: developer-experience, core

#9523 Stop logging 429s to sentry (for now)
  core/base-service/check-error-response.js
  core/base-service/check-error-response.spec.js
Labels: developer-experience, core

#9517 Add dynamic TOML support via [DynamicToml] Service
  core/base-service/index.js
  services/dynamic/dynamic-toml.service.js
  services/dynamic/dynamic-toml.tester.js
Labels: service-badge

#9463 migrate examples to openApi part 8; affects [ubuntu uptimerobot vaadin vcpkg visualstudiomarketplace wheelmap]
  services/ubuntu/ubuntu.service.js
  services/uptimerobot/uptimerobot-status.service.js
  services/vaadin-directory/vaadin-directory-rating-count.service.js
  services/vaadin-directory/vaadin-directory-release-date.service.js
  services/vaadin-directory/vaadin-directory-status.service.js
  services/vaadin-directory/vaadin-directory-version.service.js
  services/vcpkg/vcpkg-version.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-last-updated.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-release-date.service.js
  services/wheelmap/wheelmap.service.js
Labels: service-badge, documentation
