Repository badges/shields, pull requests merged in 2023-05, with the labels that each got.

#9118 Add docstrings for route builder service
  services/route-builder.js
Labels: documentation

#9099 fail to start server if there are duplicate service names
  core/base-service/loader-test-fixtures/invalid-mixed.fixture.js
  core/base-service/loader-test-fixtures/invalid-no-base.fixture.js
  core/base-service/loader-test-fixtures/invalid-wrong-base.fixture.js
  core/base-service/loader-test-fixtures/valid-array.fixture.js
  core/base-service/loader-test-fixtures/valid-object.fixture.js
  core/base-service/loader.js
  services/check-services.spec.js
Labels: developer-experience, core, squash when passing

#9100 switch from xmldom to @xmldom/xmldom; affects [DynamicXml]
  package-lock.json
  package.json
  services/dynamic/dynamic-xml.service.js
Labels: dependencies

#9170 count private sponsors on [GithubSponsors] badge
  services/github/github-sponsors.service.js
Labels: service-badge

#9159 set a custom error on 429; affects [matrix twitch weblate]
  core/base-service/check-error-response.js
  core/base-service/check-error-response.spec.js
  services/matrix/matrix.service.js
  services/weblate/weblate-component-license.service.js
  services/weblate/weblate-entities.service.js
  services/weblate/weblate-project-translated-percentage.service.js
  services/weblate/weblate-user-statistic.service.js
Labels: service-badge, squash when passing

#9188 Add docstrings for text-formatters service
  services/text-formatters.js
Labels: documentation, squash when passing

#9196 feat: Add total commits to [GitHubCommitActivity]
  services/github/github-commit-activity.service.js
  services/github/github-commit-activity.tester.js
Labels: service-badge, squash when passing

#9197 Add docstrings for validators service
  services/validators.js
Labels: documentation, squash when passing
