Repository badges/shields, pull requests merged in 2023-06, with the labels that each got.

#9234 disable dependabot auto rebase
  .github/dependabot.yml
Labels: developer-experience, dependencies

#9238 increase default cache on youtube badges
  services/youtube/youtube-base.js
Labels: service-badge

#9239 php-version.js: Fix typos
  services/php-version.js
Labels: documentation, squash when passing

#9240 [Netlify] Prefer 'canceled' deploy status instead of 'unknown'
  services/netlify/netlify.service.js
Labels: service-badge, squash when passing

#9250 embiggen youtube cache, again
  services/youtube/youtube-base.js
Labels: service-badge

#9253 Fix [CodeClimate] tests and examples
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-coverage.tester.js
Labels: keep-service-tests-green, squash when passing

#9254 Delete old deprecated services
  doc/deprecating-badges.md
  services/beerpay/beerpay.service.js
  services/beerpay/beerpay.tester.js
  services/bintray/bintray.service.js
  services/bintray/bintray.tester.js
  services/david/david.service.js
  services/david/david.tester.js
  services/dependabot/dependabot.service.js
  services/dependabot/dependabot.tester.js
  services/docker/docker-build.service.js
  services/docker/docker-build.tester.js
  services/microbadger/microbadger.service.js
  services/microbadger/microbadger.tester.js
  services/requires/requires.service.js
  services/requires/requires.tester.js
  services/shippable/shippable.service.js
  services/shippable/shippable.tester.js
Labels: service-badge, squash when passing

#9251 feat: Add author filter option for [GithubCommitActivity]
  services/github/github-commit-activity.service.js
  services/github/github-commit-activity.tester.js
Labels: service-badge

#9281 fix a load of spacing issues in frontend content
  services/amo/amo-downloads.service.js
  services/azure-devops/azure-devops-build.service.js
  services/azure-devops/azure-devops-coverage.service.js
  services/azure-devops/azure-devops-release.service.js
  services/azure-devops/azure-devops-tests.service.js
  services/endpoint/endpoint.service.js
  services/github/github-all-contributors.service.js
  services/github/github-hacktoberfest.service.js
  services/github/github-helpers.js
  services/github/github-pipenv.service.js
  services/gitlab/gitlab-forks.service.js
  services/gitlab/gitlab-helper.js
  services/gitlab/gitlab-stars.service.js
  services/hsts/hsts.service.js
  services/jira/jira-sprint.service.js
  services/mastodon/mastodon-follow.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
  services/nycrc/nycrc.service.js
  services/osslifecycle/osslifecycle.service.js
  services/pingpong/pingpong-status.service.js
  services/pingpong/pingpong-uptime.service.js
  services/poeditor/poeditor.service.js
  services/pypi/pypi-framework-versions.service.js
  services/security-headers/security-headers.service.js
  services/tokei/tokei.service.js
  services/website/website.service.js
  services/youtube/youtube-base.js
Labels: frontend, documentation

#9283 set a sensible meta description
  frontend/src/pages/index.js
Labels: frontend

#9282 increase max age on [reddit] badges
  services/reddit/subreddit-subscribers.service.js
  services/reddit/user-karma.service.js
Labels: service-badge, squash when passing

#9284 remove obsolete [travis] .org examples
  services/travis/travis-build.service.js
Labels: service-badge, squash when passing

#9289 Upgrade to ESLint 8; affects [docker factorio]
  package-lock.json
  package.json
  services/docker/docker-stars.service.js
  services/factorio-mod-portal/factorio-mod-portal.service.js
Labels: developer-experience, dependencies, squash when passing

#9292 run core/service tests on node 18
  .github/workflows/test-integration-18.yml
  .github/workflows/test-main-18.yml
  .github/workflows/test-services-18.yml
Labels: operations, squash when passing

#9293 run package tests on node 20
  .github/workflows/test-package-cli.yml
  .github/workflows/test-package-lib.yml
Labels: npm-package, squash when passing

#9298 adapt opencollective images to theme background
  frontend/src/css/custom.css
  frontend/src/pages/community.md
Labels: frontend

#9290 upgrade to graphql 16
  core/base-service/base-graphql.spec.js
  package-lock.json
  package.json
Labels: dependencies

#9302 temp fix: wrap code examples tabs in narrow browser windows
  frontend/src/css/custom.css
Labels: frontend, bug

#9317 Adjust `deploy-review-app` script
  .github/scripts/deploy-review-app.sh
Labels: operations, developer-experience, squash when passing

#9321 allow negative timestamps in relative [date] badge
  services/date/date.service.js
  services/date/date.tester.js
Labels: bug, service-badge, squash when passing

#9324 add a bit of border to text boxes
  frontend/src/css/custom.css
Labels: frontend, squash when passing
