Repository badges/shields, pull requests merged in 2023-10, with the labels that each got.

#9615 switch to fixed OpenCollective images
  frontend/src/pages/community.md
Labels: frontend

#9658 Fix several typos
  badge-maker/lib/xml.js
  core/base-service/base-graphql.js
  core/base-service/base-json.js
  core/base-service/base.spec.js
  core/base-service/openapi.js
  services/github/github-directory-file-count.spec.js
  services/packagist/packagist-license.tester.js
  services/pypi/pypi-version.tester.js
  services/static-badge/static-badge.service.js
  services/website-status.js
Labels: documentation

#9632 fix [GreasyFork] 404 bug
  services/greasyfork/greasyfork-base.js
  services/greasyfork/greasyfork-downloads.tester.js
Labels: service-badge

#9678 twitter isn't twitter any more
  README.md
  frontend/docusaurus.config.cjs
Labels: documentation
