Repository badges/shields, pull requests merged in 2024-11, with the labels that each got.

#10645 cleanly handle null or undefined result from jsonpath-plus in [dynamic] badges
  services/dynamic/json-path.js
Labels: bug, service-badge

#10646 Add YouTube-specific privacy notes
  services/youtube/youtube-base.js
Labels: service-badge

#10641 [npm] - Last update badge added
  services/npm/npm-base.js
  services/npm/npm-last-update.service.js
  services/npm/npm-last-update.tester.js
Labels: service-badge, hacktoberfest-accepted

#10654 Remove [Nuget MyGet] color tests
  services/myget/myget.tester.js
  services/nuget-fixtures.js
  services/nuget/nuget.tester.js
Labels: keep-service-tests-green

#10245 add [WingetVersion] Badge
  services/winget/version.js
  services/winget/version.spec.js
  services/winget/winget-version.service.js
  services/winget/winget-version.tester.js
Labels: service-badge

#10657 fix [githubmanifest] service tests
  services/github/github-manifest.tester.js
Labels: keep-service-tests-green, javascript

#10656 Refactor - use renderVersionBadge - part 4 [githubrelease githubtag]
  services/github/github-release.service.js
  services/github/github-tag.service.js
  services/github/github-tag.spec.js
  services/version.js
Labels: developer-experience, core, javascript

#10667 Rename `postfix` param on `renderVersionBadge()` to `suffix`; test [wordpress]
  services/version.js
  services/version.spec.js
  services/wordpress/wordpress-platform.service.js
Labels: core

#10666 reduce overhead of NPM Last Update badge; test [npm]
  services/npm/npm-base.js
  services/npm/npm-last-update.service.js
  services/npm/npm-last-update.tester.js
Labels: service-badge

#10672 add jNullj, remove inactive maintainers
  README.md
Labels: documentation

#10683 Add blog post about token pool, improve 'authorise our app' CTA
  frontend/blog/2024-11-14-token-pool.md
  services/github/github-helpers.js
Labels: documentation, blog post

#10682 Add renderDateBadge helper; affects [aur BitbucketLastCommit chrome date eclipse factorio galaxytoolshed GiteaLastCommit GistLastCommit GithubCreatedAt GithubHacktoberfest GithubIssueDetail GithubLastCommit GithubReleaseDate GitlabLastCommit maven npm openvsx snapcraft SourceforgeLastCommit steam vaadin visualstudio wordpress]
  services/aur/aur.service.js
  services/bitbucket/bitbucket-last-commit.service.js
  services/chrome-web-store/chrome-web-store-last-updated.service.js
  services/color-formatters.js
  services/color-formatters.spec.js
  services/date.js
  services/date.spec.js
  services/date/date.service.js
  services/eclipse-marketplace/eclipse-marketplace-update.service.js
  services/factorio-mod-portal/factorio-mod-portal.service.js
  services/galaxytoolshed/galaxytoolshed-activity.service.js
  services/gitea/gitea-last-commit.service.js
  services/github/gist/github-gist-last-commit.service.js
  services/github/github-created-at.service.js
  services/github/github-hacktoberfest.service.js
  services/github/github-issue-detail.service.js
  services/github/github-issue-detail.spec.js
  services/github/github-last-commit.service.js
  services/github/github-release-date.service.js
  services/gitlab/gitlab-last-commit.service.js
  services/maven-central/maven-central-last-update.service.js
  services/npm/npm-last-update.service.js
  services/open-vsx/open-vsx-release-date.service.js
  services/snapcraft/snapcraft-last-update.service.js
  services/sourceforge/sourceforge-last-commit.service.js
  services/steam/steam-workshop.service.js
  services/text-formatters.js
  services/text-formatters.spec.js
  services/vaadin-directory/vaadin-directory-release-date.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-last-updated.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-release-date.service.js
  services/wordpress/wordpress-last-update.service.js
Labels: core

#10690 fix [DockerVersion] service test
  services/docker/docker-version.tester.js
Labels: keep-service-tests-green

#10688 remove obsolete [CratesSize] test for null size
  services/crates/crates-base.js
  services/crates/crates-size.service.js
  services/crates/crates-size.tester.js
Labels: keep-service-tests-green
