Repository badges/shields, pull requests merged in 2024-08, with the labels that each got.

#10439 Fix branch in [Bitrise] tests
  services/bitrise/bitrise.service.js
  services/bitrise/bitrise.tester.js
Labels: keep-service-tests-green

#10421 [Crates] Added crate size badge
  services/crates/crates-base.js
  services/crates/crates-downloads.tester.js
  services/crates/crates-size.service.js
  services/crates/crates-size.tester.js
Labels: service-badge

#10438 [Crates] Implement Dependents Badge
  services/crates/crates-dependents.service.js
  services/crates/crates-dependents.tester.js
Labels: service-badge

#10443 remove libraries we don't need in docker build
  Dockerfile
Labels: operations

#10444 move go version badge to platform support category
  services/github/github-go-mod.service.js
Labels: service-badge

#10453 un-pin buildx version
  .github/workflows/build-docker-image.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-docker-next.yml
  Dockerfile
Labels: operations

#10467 Use Ecologi API to power [Treeware] badges
  services/treeware/treeware-trees.service.js
  services/treeware/treeware-trees.tester.js
Labels: service-badge

#10441 Add Platform linux/arm64 to Docker Build
  .github/workflows/create-release.yml
  .github/workflows/publish-docker-next.yml
  doc/self-hosting.md
Labels: operations

#10475 fix typo in pepy downloads
  services/pepy/pepy-downloads.service.js
Labels: service-badge
