Repository badges/shields, pull requests merged in 2024-10, with the labels that each got.

#10573 add created timestamp to tokens table
  migrations/1727809177709_add-created.cjs
Labels: core

#10607 [DynamicXml] parse doc as html if served with text/html content type
  services/dynamic/dynamic-xml.service.js
  services/dynamic/dynamic-xml.spec.js
  services/dynamic/dynamic-xml.tester.js
Labels: service-badge

#10585 [Maven] Added badge for Maven-Cenral last-update (#10301)
  services/maven-central/maven-central-base.js
  services/maven-central/maven-central-last-update.service.js
  services/maven-central/maven-central-last-update.tester.js
Labels: service-badge, hacktoberfest-accepted

#10597 remove prefix v for commit hash version
  services/text-formatters.js
  services/text-formatters.spec.js
Labels: core, javascript

#10595 add [homebrew] cask download badge
  services/homebrew/homebrew-cask-downloads.service.js
  services/homebrew/homebrew-cask-downloads.tester.js
  services/homebrew/homebrew-cask-version.service.js
  services/homebrew/homebrew-cask-version.tester.js
  services/homebrew/homebrew-formula-downloads.service.js
  services/homebrew/homebrew-formula-downloads.tester.js
  services/homebrew/homebrew-formula-version.service.js
  services/homebrew/homebrew-formula-version.tester.js
Labels: service-badge

#10576 Add option for IDs to have a prefix
  __snapshots__/make-badge.spec.js
  badge-maker/CHANGELOG.md
  badge-maker/README.md
  badge-maker/index.d.ts
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/index.js
  badge-maker/lib/index.spec.js
  badge-maker/lib/make-badge.js
  badge-maker/lib/make-badge.spec.js
  badge-maker/package.json
  package-lock.json
Labels: npm-package

#10608 Refactor version rendering in [wordpress nexus] and [f-droid] services
  services/f-droid/f-droid.service.js
  services/nexus/nexus.service.js
  services/nexus/nexus.spec.js
  services/wordpress/wordpress-version.service.js
Labels: service-badge, javascript

#10609 Change [Nexus] test for valid version
  services/nexus/nexus.tester.js
Labels: keep-service-tests-green, javascript

#10612 [GitHubHacktoberfest] 2024 support
  services/github/github-hacktoberfest.service.js
Labels: service-badge

#10610 [Snapcraft] - Added snapcraft last update badge
  services/snapcraft/snapcraft-last-update.service.js
  services/snapcraft/snapcraft-last-update.tester.js
Labels: service-badge, hacktoberfest-accepted

#10616 update failing test to use package iptables in [archlinux]
  services/archlinux/archlinux.tester.js
Labels: keep-service-tests-green, javascript

#10617 set VM size to shared-cpu-1x/256Mb on staging apps
  fly.toml
Labels: operations

#10615 refactor - usage renderVersionBadge - part 2 [amo archlinux aur bower cdnjs chromewebstore cocoapods conan conda cookbook cpan cran crates ctan curseforge debian docker dub eclipsemarketplace elmpackage f-droid factorio fedora feedz flathub galaxytoolshed gem gitea github gitlab greasyfork hackage hexpm homebrew itunes jenkins jetbrains jitpack jsr mavenmetadata modrinth nexus npm nuget openvsx opm ore packagist piwheels polymart pub puppetforge pypi ros scoop snapcraft spack spiget thunderstore twitch ubuntu vaadindirectory vcpkg visualstudioappcenter visualstudiomarketplace vpm wordpress]
  services/aur/aur.service.js
  services/aur/aur.spec.js
  services/conda/conda-version.service.js
  services/npm/npm-base.spec.js
  services/version.js
  services/version.spec.js
  services/wordpress/wordpress-platform.service.js
Labels: developer-experience, core, javascript

#10619 Add [CratesUserDownloads] service and tester
  services/crates/crates-base.js
  services/crates/crates-user-downloads.service.js
  services/crates/crates-user-downloads.tester.js
Labels: service-badge, javascript

#10618 Deprecate [HackageDeps] service
  services/hackage/hackage-deps.service.js
  services/hackage/hackage-deps.tester.js
Labels: service-badge, keep-service-tests-green, javascript

#10627 [Scoop] Added scoop-license badge.
  services/scoop/scoop-base.js
  services/scoop/scoop-license.service.js
  services/scoop/scoop-license.tester.js
  services/scoop/scoop-version.service.js
Labels: service-badge

#10630 Refactor - use renderVersionBadge - part 3 [luarocks gitlab nuget feedz]
  services/clojars/clojars-version.service.js
  services/color-formatters.js
  services/color-formatters.spec.js
  services/feedz/feedz.service.js
  services/feedz/feedz.tester.js
  services/gitlab/gitlab-tag.service.js
  services/gitlab/gitlab-tag.spec.js
  services/luarocks/luarocks.service.js
  services/luarocks/luarocks.spec.js
  services/nuget/nuget-helpers.js
  services/nuget/nuget-helpers.spec.js
  services/nuget/nuget-v2-service-family.js
  services/nuget/nuget-v3-service-family.js
  services/nuget/nuget.tester.js
Labels: developer-experience, core, javascript

#10642 add content security policy header to SVG responses
  core/base-service/legacy-result-sender.js
  core/server/server.spec.js
Labels: core, security
