Repository badges/shields, pull requests merged in 2024-01, with the labels that each got.

#9857 migrate some services from examples to openApi part 30; affects [poeditor pypi symfony teamcity]
  services/poeditor/poeditor.service.js
  services/pypi/pypi-downloads.service.js
  services/pypi/pypi-framework-versions.service.js
  services/symfony/symfony-insight-base.js
  services/symfony/symfony-insight-grade.service.js
  services/symfony/symfony-insight-stars.service.js
  services/symfony/symfony-insight-violations.service.js
  services/teamcity/teamcity-build.service.js
  services/teamcity/teamcity-coverage.service.js
Labels: service-badge, documentation

#9858 migrate some services from examples to openApi part 31; affects [packagecontrol discourse]
  cypress/e2e/main-page.cy.js
  services/discourse/discourse.service.js
  services/packagecontrol/packagecontrol.service.js
Labels: service-badge, documentation

#9864 migrate examples to openApi part 33; affects [bower drone localizely mozillaobservatory pythonversionfromtoml]
  services/bower/bower-version.service.js
  services/drone/drone-build.service.js
  services/drone/drone-build.tester.js
  services/localizely/localizely.service.js
  services/mozilla-observatory/mozilla-observatory.service.js
  services/python/python-version-from-toml.service.js
Labels: service-badge, documentation

#9865 migrate examples to openApi part 34; affects [github]
  services/github/github-actions-workflow-status.service.js
  services/github/github-commit-activity.service.js
  services/github/github-commits-since.service.js
  services/github/github-common-release.js
  services/github/github-downloads.tester.js
  services/github/github-go-mod.service.js
  services/github/github-pull-request-check-state.tester.js
  services/github/github-release.service.js
  services/github/github-tag.service.js
Labels: service-badge, documentation

#9869 fix default style docs for social badges
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
Labels: documentation

#9866 migrate examples to openApi part 35; affects [npm]
  services/npm/npm-base.js
  services/npm/npm-collaborators.service.js
  services/npm/npm-dependency-version.service.js
  services/npm/npm-downloads.service.js
  services/npm/npm-license.service.js
  services/npm/npm-type-definitions.service.js
  services/npm/npm-version.service.js
Labels: service-badge, documentation

#9873 migrate examples to openApi part 36; affects [myget nuget resharper chocolatey powershellgallery]
  services/myget/myget.service.js
  services/nuget/nuget-v2-service-family.js
  services/nuget/nuget-v3-service-family.js
  services/nuget/nuget.service.js
  services/resharper/resharper.tester.js
Labels: service-badge, documentation

#9871 [CratesMSRV] Badge
  services/crates/crates-base.js
  services/crates/crates-msrv.service.js
  services/crates/crates-msrv.tester.js
Labels: service-badge

#9872 Update [Gitea] defaults to gitea.com
  services/gitea/gitea-base.spec.js
  services/gitea/gitea-helper.js
  services/gitea/gitea-languages-count.service.js
  services/gitea/gitea-languages-count.tester.js
  services/gitea/gitea-release.service.js
  services/gitea/gitea-release.tester.js
Labels: service-badge

#9886 [thunderstore] Replace experimental API usage with newly available v1 API
  services/thunderstore/thunderstore-base.js
  services/thunderstore/thunderstore-version.service.js
Labels: service-badge

#9870 Add Support for [Nostr] Followers
  services/nostr-band/nostr-band-followers.service.js
  services/nostr-band/nostr-band-followers.tester.js
Labels: service-badge

#9887 small docs fix: defs --> prestart
  README.md
Labels: documentation

#9888 sort categories by title (except core)
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
  scripts/export-openapi-cli.js
Labels: frontend

#9883 [crates] tidyup
  services/crates/crates-base.js
  services/crates/crates-downloads.service.js
  services/crates/crates-downloads.tester.js
  services/crates/crates-license.service.js
  services/crates/crates-license.spec.js
  services/crates/crates-msrv.service.js
  services/crates/crates-version.service.js
  services/crates/crates-version.spec.js
Labels: service-badge

#9889 migrate examples to openApi part 38; affects [github]
  services/github/github-downloads.service.js
  services/github/github-followers.service.js
  services/github/github-forks.service.js
  services/github/github-r-package.service.js
  services/github/github-size.service.js
  services/github/github-watchers.service.js
Labels: service-badge, documentation

#9800 Add [Hangar] Badges
  services/hangar/hangar-base.js
  services/hangar/hangar-downloads.service.js
  services/hangar/hangar-downloads.tester.js
  services/hangar/hangar-stars.service.js
  services/hangar/hangar-stars.tester.js
  services/hangar/hangar-views.service.js
  services/hangar/hangar-views.tester.js
  services/hangar/hangar-watchers.service.js
  services/hangar/hangar-watchers.tester.js
Labels: service-badge

#9662 feat: added up_message and down_message to [uptimerobotstatus]
  services/uptimerobot/uptimerobot-status.service.js
Labels: service-badge

#9903 migrate some services from examples to openApi part 40; affects [codecov obs scrutinizer sourceforge]
  services/codecov/codecov.service.js
  services/obs/obs.service.js
  services/scrutinizer/scrutinizer-build.service.js
  services/scrutinizer/scrutinizer-coverage.service.js
  services/scrutinizer/scrutinizer-quality.service.js
  services/sourceforge/sourceforge-downloads.service.js
Labels: service-badge, documentation

#9902 migrate some services from examples to openApi part 39; affects [maven gradle]
  core/base-service/redirector.js
  core/base-service/service-definitions.js
  services/gradle-plugin-portal/gradle-plugin-portal.service.js
  services/maven-central/maven-central.service.js
  services/maven-metadata/maven-metadata.js
  services/maven-metadata/maven-metadata.service.js
Labels: service-badge, documentation

#9904 migrate some services from examples to openApi part 41; affects [github]
  services/github/github-commits-difference.service.js
  services/github/github-directory-file-count.service.js
  services/github/github-discussions-custom-search.service.js
  services/github/github-issues-search.service.js
  services/github/github-stars.service.js
Labels: service-badge, documentation

#9915 migrate some services from examples to openApi part 42; affects [github]
  services/github/github-hacktoberfest.service.js
  services/github/github-last-commit.service.js
  services/github/github-manifest.service.js
  services/github/github-package-json.service.js
  services/github/github-total-star.service.js
Labels: service-badge, documentation
