Repository badges/shields, pull requests merged in 2024-03, with the labels that each got.

#9976 Add [snapcraft] version badge
  services/snapcraft/snapcraft-version.service.js
  services/snapcraft/snapcraft-version.spec.js
  services/snapcraft/snapcraft-version.tester.js
Labels: service-badge, javascript

#10030 Add [JSR] version service
  services/jsr/jsr-version.service.js
  services/jsr/jsr-version.tester.js
Labels: service-badge

#10033 redirect [npm] /dt to /d18m
  services/npm/npm-downloads-redirect.service.js
  services/npm/npm-downloads.service.js
  services/npm/npm-downloads.spec.js
  services/npm/npm-downloads.tester.js
Labels: service-badge

#9820 upgrade to docusaurus 3
  .github/scripts/check-docusaurus-versions.sh
  .github/workflows/check-docusaurus-versions.yml
  frontend/docusaurus.config.cjs
  frontend/src/pages/community.md
  frontend/src/plugins/strip-code-block-links.js
  frontend/src/theme/ApiDemoPanel/Curl/index.js
  package-lock.json
  package.json
  services/bugzilla/bugzilla.service.js
  services/bundlejs/bundlejs-package.service.js
  services/circleci/circleci.service.js
  services/codecov/codecov.service.js
  services/curseforge/curseforge-base.js
  services/date/date.service.js
  services/discord/discord.service.js
  services/dynamic/dynamic-json.service.js
  services/dynamic/dynamic-toml.service.js
  services/dynamic/dynamic-yaml.service.js
  services/endpoint/endpoint.service.js
  services/github/gist/github-gist-stars.service.js
  services/github/github-commits-since.service.js
  services/github/github-common-release.js
  services/github/github-total-star.service.js
  services/gitlab/gitlab-last-commit.service.js
  services/gitlab/gitlab-merge-requests.service.js
  services/gitlab/gitlab-pipeline-coverage.service.js
  services/gitlab/gitlab-pipeline-status.service.js
  services/jenkins/jenkins-coverage.service.js
  services/localizely/localizely.service.js
  services/matrix/matrix.service.js
  services/maven-metadata/maven-metadata.js
  services/nexus/nexus.service.js
  services/packagist/packagist-base.js
  services/pypi/pypi-framework-versions.service.js
  services/ros/ros-version.service.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-helpers.js
  services/static-badge/static-badge.service.js
  services/steam/steam-workshop.service.js
  services/test-results.js
  services/thunderstore/thunderstore-base.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-downloads.service.js
  services/w3c/w3c-validation-helper.js
  services/wikiapiary/wikiapiary-installs.service.js
  services/wordpress/wordpress-base.js
Labels: dependencies, blocker

#10041 [GithubLastCommit] [GitlabLastCommit] [GiteaLastCommit] Support file path for last commit
  services/gitea/gitea-helper.js
  services/gitea/gitea-last-commit.service.js
  services/gitea/gitea-last-commit.tester.js
  services/github/github-last-commit.service.js
  services/github/github-last-commit.tester.js
  services/gitlab/gitlab-last-commit.service.js
  services/gitlab/gitlab-last-commit.tester.js
  services/validators.js
Labels: service-badge

#10043 [BitbucketLastCommit] Add Bitbucket last commit
  services/bitbucket/bitbucket-last-commit.service.js
  services/bitbucket/bitbucket-last-commit.tester.js
Labels: service-badge

#10046 improve performance of [GithubLastCommit] [GitlabLastCommit] [GiteaLastCommit]
  services/gitea/gitea-last-commit.service.js
  services/github/github-last-commit.service.js
  services/gitlab/gitlab-last-commit.service.js
Labels: service-badge
