Repository badges/shields, pull requests merged in 2024-09, with the labels that each got.

#10488 perf: improve logoSize performance
  lib/logos.spec.js
  lib/svg-helpers.js
  package-lock.json
  package.json
Labels: core

#10496 remove intermediate variable; test [modrinth]
  services/modrinth/modrinth-base.js
Labels: service-badge

#10495 remove docusaurus css hacks
  frontend/src/css/custom.css
Labels: frontend

#10491 migrate [MozillaObservatory] to /scan endpoint
  services/mozilla-observatory/mozilla-observatory.service.js
Labels: service-badge

#10512 Remove failing [Packagist] tests
  services/packagist/packagist-stars.tester.js
Labels: keep-service-tests-green

#10513 Switch to shields server ID in [Discord] example and test
  services/discord/discord.service.js
  services/discord/discord.tester.js
Labels: service-badge, keep-service-tests-green

#10516 catch xml ParseError in [DynamicXml] badge
  services/dynamic/dynamic-xml.service.js
Labels: service-badge

#10522 [Jenkins] Use old.stats.jenkins.io for JSON data
  services/jenkins/jenkins-plugin-installs.service.js
Labels: service-badge

#10521 perf: limit logoSize precision to 3
  lib/logos.spec.js
  lib/svg-helpers.js
Labels: core

#10538 deprecate [wheelmap] service
  .github/actions/service-tests/action.yml
  .github/workflows/coveralls-code-coverage.yml
  .github/workflows/daily-tests.yml
  .github/workflows/deploy-review-app.yml
  .github/workflows/test-services-22.yml
  .github/workflows/test-services.yml
  app.json
  config/custom-environment-variables.yml
  core/server/server.js
  doc/production-hosting.md
  doc/server-secrets.md
  services/wheelmap/wheelmap.service.js
  services/wheelmap/wheelmap.spec.js
  services/wheelmap/wheelmap.tester.js
Labels: service-badge

#10520 [Snapcraft] license
  services/snapcraft/snapcraft-base.js
  services/snapcraft/snapcraft-licence.service.js
  services/snapcraft/snapcraft-licence.spec.js
  services/snapcraft/snapcraft-licence.tester.js
  services/snapcraft/snapcraft-version.service.js
  services/snapcraft/snapcraft-version.spec.js
Labels: service-badge

#10551 [dynamicjson dynamicyaml dynamictoml] switch to jsonpath-plus
  package-lock.json
  package.json
  services/dynamic/dynamic-json.tester.js
  services/dynamic/dynamic-yaml.tester.js
  services/dynamic/json-path.js
Labels: service-badge

#10556 catch queries that cause TypeError in [dynamicjson]
  services/dynamic/dynamic-json.tester.js
  services/dynamic/json-path.js
Labels: bug, service-badge

#10537 Revert "Use old.stats.jenkins.io for JSON data"; test [jenkins]
  services/jenkins/jenkins-plugin-installs.service.js
Labels: service-badge
