Repository badges/shields, pull requests merged in 2024-02, with the labels that each got.

#9917 use brightgreen for build passing in package docs
  badge-maker/README.md
Labels: documentation, npm-package

#9918 migrate some services from examples to openApi part 43; affects [jenkins]
  services/jenkins/jenkins-build.service.js
  services/jenkins/jenkins-build.tester.js
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
  services/jenkins/jenkins-tests.service.js
Labels: service-badge, documentation

#9919 migrate some services from examples to openApi part 44; affects [sonar]
  services/sonar/sonar-coverage.service.js
  services/sonar/sonar-documented-api-density.service.js
  services/sonar/sonar-fortify-rating.service.js
  services/sonar/sonar-generic.tester.js
  services/sonar/sonar-helpers.js
  services/sonar/sonar-quality-gate.service.js
  services/sonar/sonar-tech-debt.service.js
  services/sonar/sonar-tests.service.js
  services/sonar/sonar-tests.tester.js
  services/sonar/sonar-violations.service.js
Labels: service-badge, documentation

#9934 migrate some services from examples to openApi part 47; affects [docker]
  services/docker/docker-cloud-automated.service.js
  services/docker/docker-cloud-build.service.js
  services/docker/docker-helpers.js
  services/docker/docker-size.service.js
  services/docker/docker-version.service.js
  services/docker/docker-version.tester.js
Labels: service-badge, documentation

#9951 tolerate missing short_version in [visualstudioappcenter]
  services/visual-studio-app-center/visual-studio-app-center-releases-version.service.js
  services/visual-studio-app-center/visual-studio-app-center-releases-version.tester.js
Labels: bug, service-badge

#9930 migrate some services from examples to openApi part 45; affects [github coveralls visualstudiomarketplace]
  core/base-service/openapi.js
  cypress/e2e/main-page.cy.js
  services/coveralls/coveralls.service.js
  services/github/github-issues.service.js
  services/github/github-pipenv.service.js
  services/github/github-release-date.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-azure-devops-installs.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-version.service.js
Labels: service-badge, documentation

#9923 [GITEA] add forks, stars, issues and pr badges
  services/gitea/gitea-common-fetch.js
  services/gitea/gitea-forks.service.js
  services/gitea/gitea-forks.tester.js
  services/gitea/gitea-helper.js
  services/gitea/gitea-issues.service.js
  services/gitea/gitea-issues.tester.js
  services/gitea/gitea-pull-requests.service.js
  services/gitea/gitea-pull-requests.tester.js
  services/gitea/gitea-stars.service.js
  services/gitea/gitea-stars.tester.js
Labels: service-badge

#9933 migrate some services from examples to openApi part 46; affects [codeclimate librariesio nexus] and securityheaders
  services/codeclimate/codeclimate-analysis.service.js
  services/codeclimate/codeclimate-analysis.tester.js
  services/codeclimate/codeclimate-common.js
  services/codeclimate/codeclimate-coverage.service.js
  services/codeclimate/codeclimate-coverage.tester.js
  services/librariesio/librariesio-dependencies.service.js
  services/nexus/nexus.service.js
  services/nexus/nexus.tester.js
  services/security-headers/security-headers.service.js
Labels: service-badge, documentation

#9881 migrate examples to openApi part 37; affects [bitbucket bitrise chromewebstore circleci]
  services/bitbucket/bitbucket-issues.service.js
  services/bitbucket/bitbucket-issues.tester.js
  services/bitbucket/bitbucket-pipelines.service.js
  services/bitbucket/bitbucket-pipelines.tester.js
  services/bitbucket/bitbucket-pull-request.service.js
  services/bitbucket/bitbucket-pull-request.spec.js
  services/bitbucket/bitbucket-pull-request.tester.js
  services/bitrise/bitrise.service.js
  services/bitrise/bitrise.tester.js
  services/chrome-web-store/chrome-web-store-rating.service.js
  services/circleci/circleci.service.js
  services/circleci/circleci.tester.js
Labels: service-badge, documentation

#9932 deprecate TAS
  services/tas/tas-tests.service.js
  services/tas/tas-tests.tester.js
Labels: service-badge

#9954 [NpmUnpackedSize] Unpacked Size Badge
  services/npm/npm-unpacked-size.service.js
  services/npm/npm-unpacked-size.tester.js
Labels: service-badge

#9681 Improve our approach for testing auth (part 1)
  services/discord/discord.spec.js
  services/docker/docker-automated.spec.js
  services/obs/obs.spec.js
  services/pepy/pepy-downloads.spec.js
  services/stackexchange/stackexchange-base.spec.js
  services/stackexchange/stackexchange-monthlyquestions.spec.js
  services/stackexchange/stackexchange-reputation.spec.js
  services/stackexchange/stackexchange-taginfo.spec.js
  services/test-helpers.js
Labels: core, javascript

#9977 Complete the examples --> openApi migration; affects [node sonar travis wordpress visualstudio librariesio]
  core/base-service/base.js
  core/base-service/base.spec.js
  core/base-service/deprecated-service.js
  core/base-service/deprecated-service.spec.js
  core/base-service/examples.js
  core/base-service/examples.spec.js
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
  core/base-service/redirector.js
  core/base-service/redirector.spec.js
  core/base-service/service-definitions.js
  doc/TUTORIAL.md
  services/categories.js
  services/librariesio/librariesio-dependencies.service.js
  services/node/node-base.js
  services/node/node-current.service.js
  services/node/node-current.spec.js
  services/node/node-lts.service.js
  services/node/node-lts.spec.js
  services/sonar/sonar-helpers.js
  services/travis/travis-build.service.js
  services/visual-studio-marketplace/visual-studio-marketplace-base.js
  services/wordpress/wordpress-platform.service.js
Labels: core

#9980 randomize tokens on token pool init
  core/token-pooling/sql-token-persistence.js
Labels: core

#9984 Added custom bucket url support for [Scoop]
  services/scoop/scoop-version.service.js
  services/scoop/scoop-version.tester.js
Labels: service-badge

#9981 [GithubCreatedAt] Add Created At Badge for Github
  services/color-formatters.js
  services/color-formatters.spec.js
  services/github/github-created-at.service.js
  services/github/github-created-at.tester.js
Labels: service-badge

#9995 [GITEA] Add last commit badge
  services/gitea/gitea-last-commit.service.js
  services/gitea/gitea-last-commit.tester.js
Labels: service-badge
