Repository badges/shields, pull requests merged in 2024-12, with the labels that each got.

#10699 auto suspend/resume review apps
  fly.toml
Labels: developer-experience

#10715 add a privacy policy
  frontend/docusaurus.config.cjs
  frontend/src/pages/privacy.md
Labels: documentation

#10705 [ReproducibleCentral] add Reproducible Central in Dependencies
  services/reproducible-central/reproducible-central.service.js
  services/reproducible-central/reproducible-central.tester.js
Labels: service-badge

#10732 Upgrade to Chai 5.x
  badge-maker/lib/badge-cli.spec.mjs
  badge-maker/lib/index.spec.mjs
  badge-maker/lib/make-badge.spec.mjs
  core/base-service/base.spec.js
  core/base-service/cache-headers.spec.js
  core/base-service/graphql.spec.js
  core/base-service/loader.spec.js
  core/base-service/openapi.spec.js
  core/register-chai-plugins.spec.js
  package-lock.json
  package.json
  services/dynamic/json-path.spec.js
  services/github/auth/acceptor.spec.js
  services/packagist/packagist-dependency-version.spec.js
Labels: developer-experience, dependencies

#10733 provide a non-repository scoped version of [githubcodesearch]
  services/github/github-search.service.js
  services/github/github-search.tester.js
Labels: service-badge

#10750 Add [GitLab] Top Language Badge
  services/gitlab/gitlab-top-language.service.js
  services/gitlab/gitlab-top-language.tester.js
Labels: service-badge

#10749 Add [Coderabbit] PR Stats service and tests
  services/coderabbit/coderabbit-pull-request.service.js
  services/coderabbit/coderabbit-pull-request.tester.js
Labels: service-badge

#10773 docs: add blog post for Simple Icons 14 upgrade
  frontend/blog/2024-12-27-simpleicons14.md
Labels: blog post

#10746 Fix [JiraSprint] tests
  services/jira/jira-issue.tester.js
  services/jira/jira-sprint.tester.js
Labels: keep-service-tests-green

#10752 use `isDecimalPercentage` in tests for [GithubTopLanguage GitlabTopLanguage]
  services/github/github-top-language.tester.js
  services/gitlab/gitlab-top-language.tester.js
Labels: service-badge

#10762 Migrate to ESLint 9
  .eslintignore
  .eslintrc.yml
  core/base-service/coalesce-badge.js
  core/base-service/legacy-request-handler.js
  core/service-test-runner/service-tester.js
  eslint.config.js
  frontend/src/theme/ApiDemoPanel/Curl/index.js
  migrations/1676731511125_initialize.cjs
  package-lock.json
  package.json
  services/node/node-current.service.js
  services/node/node-lts.service.js
  services/npm/npm-last-update.service.js
  services/snapcraft/snapcraft-last-update.service.js
  services/snapcraft/snapcraft-version.service.js
Labels: developer-experience

#10774 Add [PypiTypes] badge
  services/pypi/pypi-types.service.js
  services/pypi/pypi-types.tester.js
Labels: service-badge
