Repository badges/shields, pull requests merged in 2024-07, with the labels that each got.

#10320 The return of daily tests
  .github/workflows/daily-tests.yml
Labels: developer-experience

#10339 Add CF-Ray header value to Sentry errors if available
  core/base-service/check-error-response.js
  core/base-service/check-error-response.spec.js
  core/server/log.js
Labels: service-badge, core

#10344 Use XML for Chocolatey, affects [Chocolatey Resharper PowershellGallery]
  services/chocolatey/chocolatey.service.js
  services/nuget/nuget-v2-service-family.js
  services/powershellgallery/powershellgallery.service.js
  services/resharper/resharper.service.js
Labels: bug, service-badge

#10345 Remove unused parameters in [Chocolatey Resharper PowershellGallery]
  services/chocolatey/chocolatey.service.js
  services/nuget/nuget-v2-service-family.js
  services/powershellgallery/powershellgallery.service.js
  services/resharper/resharper.service.js
Labels: service-badge

#10341 Update badges in README
  README.md
Labels: documentation

#10340 Add code coverage action
  .github/workflows/coveralls-code-coverage.yml
Labels: developer-experience, github_actions

#9581 deprecate [tokei] service
  services/tokei/tokei.service.js
  services/tokei/tokei.tester.js
Labels: service-badge

#10361 Update c8 configuration
  .c8rc.json
  .gitignore
  package.json
Labels: developer-experience

#10348 Update daily tests reference in README
  README.md
Labels: documentation

#10349 Cleanup unused bits and pieces, affects [dockerversion githubdeployments githubmilestone netlify obs wordpress]
  services/docker/docker-version.service.js
  services/github/github-deployments.service.js
  services/github/github-milestone-detail.service.js
  services/github/github-milestone.service.js
  services/netlify/netlify.service.js
  services/obs/obs-build-status.js
  services/obs/obs.service.js
  services/wordpress/wordpress-last-update.service.js
Labels: service-badge

#10350 Use ellipsis when many versions returned for [ModrinthGameVersions]
  services/modrinth/modrinth-game-versions.service.js
  services/modrinth/modrinth-game-versions.spec.js
  services/modrinth/modrinth-game-versions.tester.js
Labels: service-badge

#10347 Sunsetting Shields custom logos
  CONTRIBUTING.md
  README.md
  core/base-service/coalesce-badge.js
  core/base-service/coalesce-badge.spec.js
  core/base-service/openapi.js
  core/base-service/openapi.spec.js
  dangerfile.js
  doc/logos.md
  frontend/blog/2024-07-10-sunsetting-shields-custom-logos.md
  frontend/docs/logos.md
  lib/load-logos.js
  lib/logos.js
  lib/logos.spec.js
  logo/bitcoin.svg
  logo/dependabot.svg
  logo/gitlab.svg
  logo/npm.svg
  logo/paypal.svg
  logo/serverfault.svg
  logo/stackexchange.svg
  logo/superuser.svg
  logo/telegram.svg
  logo/travis.svg
  services/endpoint/endpoint.service.js
  services/endpoint/endpoint.tester.js
Labels: core

#10371 Deprecate [Bountysource] service
  services/bountysource/bountysource.service.js
  services/bountysource/bountysource.tester.js
Labels: service-badge

#10372 Mock [JenkinsCoverage] Cobertura job found test
  services/jenkins/jenkins-coverage.service.js
  services/jenkins/jenkins-coverage.tester.js
Labels: service-badge, keep-service-tests-green

#10373 Fix [Gitea] not found message
  services/gitea/gitea-helper.js
  services/gitea/gitea-languages-count.service.js
  services/gitea/gitea-last-commit.service.js
Labels: service-badge

#10374 Fix [EcologiCarbonOffset] test
  services/ecologi/ecologi-carbon.tester.js
Labels: service-badge, keep-service-tests-green

#10375 Fix [AmoVersion] test
  services/amo/amo-version.tester.js
Labels: service-badge, keep-service-tests-green

#10376 Fix [Gerrit] new change test
  services/gerrit/gerrit.tester.js
Labels: service-badge, keep-service-tests-green

#10377 Fix [FreeCodeCampPoints] not found handling
  services/freecodecamp/freecodecamp-points.service.js
Labels: service-badge

#10400 update [PythonVersionFromToml] test example
  services/python/python-version-from-toml.tester.js
Labels: service-badge, keep-service-tests-green

#10399 update [pypi] license test example
  services/pypi/pypi-license.tester.js
Labels: service-badge, keep-service-tests-green

#10398 update [pub] points service test
  services/pub/pub-points.tester.js
Labels: service-badge, keep-service-tests-green

#10403 Cache text only static badges for longer
  core/base-service/base-static.js
  core/base-service/cache-headers.js
  core/base-service/redirector.js
  core/server/server.spec.js
Labels: core

#10405 remove reference to CircleCI
  .github/ISSUE_TEMPLATE/2_Failing_service_test.md
Labels: developer-experience

#10406 use metric() for [discord] and [revolt] badges
  services/discord/discord.service.js
  services/discord/discord.tester.js
  services/revolt/revolt.service.js
  services/revolt/revolt.tester.js
Labels: service-badge

#10402 migrate [MozillaObservatory] to new API
  services/mozilla-observatory/mozilla-observatory.service.js
  services/mozilla-observatory/mozilla-observatory.spec.js
  services/mozilla-observatory/mozilla-observatory.tester.js
Labels: service-badge

#10420 send Cross-Origin-Resource-Policy header on all responses
  core/base-service/legacy-result-sender.js
  core/server/server.js
  core/server/server.spec.js
Labels: core
