Repository badges/shields, pull requests merged in 2025-10, with the labels that each got.

#11389 Fix [Mbin] test
  services/mbin/mbin.service.js
  services/mbin/mbin.tester.js
Labels: keep-service-tests-green

#11406 Fix [ScoopLicense] test
  services/scoop/scoop-license.tester.js
Labels: keep-service-tests-green

#11405 [Bluesky] Add followers and posts badges
  services/bluesky/bluesky-followers.service.js
  services/bluesky/bluesky-followers.tester.js
  services/bluesky/bluesky-posts.service.js
  services/bluesky/bluesky-posts.tester.js
Labels: service-badge

#11414 Fix [ChromeWebStore] null-check missing store extension
  package-lock.json
  package.json
Labels: bug, service-badge
