Repository badges/shields, pull requests merged in 2025-08, with the labels that each got.

#11243 remove chris48s from maintainer team in docs
  README.md
  doc/production-hosting.md
Labels: documentation

#11241 docs: add CVE-2025-54313 vulnerability report blog post
  frontend/blog/2025-07-26-CVE-2025-54313.md
Labels: blog post

#11259 chore: use the modern labels API for draft release action
  .github/actions/draft-release/entrypoint.sh
Labels: developer-experience

#11260 docs: add note to [GithubContributors] about co-authors limitations
  services/github/github-contributors.service.js
Labels: service-badge, documentation
