Repository badges/shields, pull requests merged in 2025-06, with the labels that each got.

#11131 convert badge-maker to ESM
  __snapshots__/make-badge.spec.js
  badge-maker/README.md
  badge-maker/lib/badge-cli.js
  badge-maker/lib/badge-cli.spec.js
  badge-maker/lib/badge-renderers.js
  badge-maker/lib/color.js
  badge-maker/lib/color.spec.js
  badge-maker/lib/constants.js
  badge-maker/lib/index.js
  badge-maker/lib/index.spec.js
  badge-maker/lib/make-badge.js
  badge-maker/lib/make-badge.spec.js
  badge-maker/lib/xml.js
  badge-maker/lib/xml.spec.js
  badge-maker/package.json
Labels: npm-package

#11144 badge-maker 5.0.0
  .github/workflows/test-package-cli.yml
  .github/workflows/test-package-lib.yml
  badge-maker/CHANGELOG.md
  badge-maker/README.md
  badge-maker/package.json
  package-lock.json
  package.json
Labels: npm-package

#11070 deploy on node 22
  .devcontainer/devcontainer.json
  .github/actions/draft-release/Dockerfile
  .github/workflows/coveralls-code-coverage.yml
  .github/workflows/daily-tests.yml
  .github/workflows/danger.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test-bug-run-badge.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-22.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test-main-22.yml
  .github/workflows/test-main.yml
  .github/workflows/test-package-cli.yml
  .github/workflows/test-package-lib.yml
  .github/workflows/test-services-22.yml
  .github/workflows/test-services.yml
  .github/workflows/update-github-api.yml
  Dockerfile
  README.md
  doc/TUTORIAL.md
  doc/self-hosting.md
  package-lock.json
  package.json
Labels: operations, self-hosting

#11162 badge-maker 5.0.1 release
  badge-maker/CHANGELOG.md
  badge-maker/package.json
  package-lock.json
Labels: npm-package

#11073 fix [polymart] badges
  services/polymart/polymart-base.js
Labels: bug, service-badge

#11128 fix PHP version parsing; affects [packagist]
  services/php-version.js
  services/php-version.spec.js
Labels: bug, core

#11182 Release badge-maker version 5.0.2
  badge-maker/CHANGELOG.md
  badge-maker/package.json
  package-lock.json
Labels: npm-package
